[2021-11-23 18:26] Hussell commented on #1019
I restarted the server just before noon eastern time, so those were real 503s.

[2021-11-23 21:01] denislepage commented on #1019
This is likely an R error: https://stackoverflow.com/questions/25672974/caught-segfault-error-in-r

One of the answers points to the error happening with rbind on datasets with different columns, as an example of the type of issues that generate this error.

I’m not a fan of R at all for API’s and web outputs, and we don’t have a good test environment yet to play with things.

[2021-11-23 21:56] tve commented on #1019
Using R for this earns a A in the creativity category ;-)

[2021-11-23 22:11] denislepage commented on #1019
I can’t claim any credit for this accolade … ;-)

I find R insanely buggy and too unstable for any kind of production environment. It’s great when it works though.

My plan (posted earlier) eventually would be to move all or most of the sgdata processing to Java, perhaps with Tag finder excepted (though in theory that’s also quite feasible in Java), and even get rid of sgdata entirely. That would

[2021-11-24 00:55] tve commented on #1019
If you do a rewrite I would recommend rewriting the back-end as a pure rest API service. Java wouldn't be my first choice, but that choice also depends on existing skill set. Then rewrite the UI as a web app. I'm very impressed by Vue, but there are other good choices too. If you get into a decent test-driven dev mode and have existing code to look at and perhaps even test against it can actually

[2021-11-24 16:05] jsayers-bsc opened #1052 "Detection and GPS data duplicated in two receiver repos upon upload"
A while back we noticed something odd about the [Breakwater station (SG-D2D4RPI32C60)](https://motus.org/data/receiver/edit?id=3777&projectID=1). The receiver was showing data more recent than the most recent visit (and we were certain that it had not been visited).

Upon looking at the GPS locations for that receiver's uploaded data we saw that it was actually in two places. From November 2020 th

[2021-11-24 16:20] jsayers-bsc commented on #1019
Just referencing this suggestion here #1036. This may not help maintain access to logs even if the sgdata.motus.org/status cannot be reached, but it's worth bringing up in this related thread...

[2021-11-24 16:28] tve commented on #1052
How is this possible? Doesn't each file include the sensorgnome_id in its name? (And I believe the newer files also contain the ID in the file itself, no? Have to check...)  How were these attributed to the wrong receiver?

[2021-11-24 17:26] Hussell commented on #1052
Dang, I was sure I'd fixed this.

It might be only be a matter of having to manually deprecate some old batches from SG-D2D4RPI32C60 in the main database, it looks like everything is in order over on sgdata.

[2021-11-24 17:28] Hussell commented on #1052
@tve, the files were given the wrong name, with the wrong serial number. How that happened, we aren't quite sure.

[2021-11-24 20:31] StuMackenzie opened #1053 "logo change on Motus R Book"
Not sure who can do this most efficiently.

![BirdsCan_SQ_2col](https://user-images.githubusercontent.com/21124211/143308811-094b5a0b-f857-4939-bda4-533b96af63e1.png)
![BirdsCan_SQ_2col](https://user-images.githubusercontent.com/21124211/143308820-97ebce80-be70-4f29-808b-849cef09318c.jpg)

Por favor

[2021-11-24 20:43] steffilazerte commented on #1053
Yup, I can do this, urgent for the current version? Or can I add it to the developmental version?

[2021-11-24 22:01] Hussell commented on #1052
I've deprecated the misattributed batches, and that has automatically removed the corresponding misattributed detections, but I think I'll need help to get rid of the GPS and activity counts.

[2021-11-24 22:09] Hussell commented on #1052
Batch IDs:
2249835 to 2249850
2833830 to 2833831
2842126 to 2842145

[2021-11-24 22:53] StuMackenzie commented on #1053
Dev is fine, thanks! I just stumble upon things.

____________________

[2021-11-25 00:45] cjardine-bsc commented on #1052
Activity counts should also be deleted with deprecation.

For GPS, did the GPS records for the correct batches come through? I.E. Do I need to delete the bad batches or update their batchIDs?

[2021-11-25 01:09] joeybernard commented on #1019
Just to let people know, we are almost to the point where we have a method to spin up an instance of sgdata within a VM. I have created a new repo for it and I just need to pull out all of the scripts and vagrant configurations so that other people can start to tinker with it. I will refocus on that as a higher priority so that it can be made available ASAP.

[2021-11-25 01:18] leberrigan commented on #1038
I'm still not seeing any new data where I expect some. Do we need to re-upload or are we still waiting on processing?

[2021-11-25 04:42] denislepage commented on #1019
Oh, that would be wonderful. My kind of Christmas gift.

[2021-11-25 15:58] Hussell commented on #1052
The bad batches need to be deleted. They're assigned to the wrong receiver (SG-D2D4RPI32C60) and there are already duplicates with GPS for the correct receiver (SG-F930RPI3D4A0).

[2021-11-25 16:03] Hussell commented on #1038
So far as I'm aware, we're only waiting for CTT. Denis might know more.

[2021-11-25 17:57] cjardine-bsc commented on #1052
Peachy. Done.

[2021-11-25 19:11] Hussell commented on #1038
Denis said on this week's call (heavily summarized): files still aren't making it to CTT. Working on it.

[2021-11-25 19:11] leberrigan commented on #1034
![image](https://user-images.githubusercontent.com/35931796/143491302-872d8e2b-08c0-48a9-a99c-bb05d3e2e3ff.png)
![image](https://user-images.githubusercontent.com/35931796/143491524-9bcb166e-62a8-4604-b83f-ff26e31a9f35.png)

[2021-11-25 19:21] Hussell commented on #1052
Josh pointed out some inconsistencies in what I reported above, so I re-investigated.

SensorGnomes compress each hour's data into a gzip file with a filename which includes the receiver's serial number. When a bunch of these are compressed into a zip file (or other supported archive format) and uploaded, everything works as expected. And when several of these single-receiver archives are in turn

[2021-11-25 19:24] Hussell commented on #1052
I've investigated a random sample of data issue alerts about GPS locations being widely separated, and didn't find any further examples of files being assigned to the wrong receiver.

[2021-11-25 19:44] pmorrill commented on #1034
I noticed that this AM and put a fix in already.

[2021-11-25 19:52] leberrigan commented on #1034
When creating a new deployment for a station with no previous deployments, saving the deployment configurations because "An existing deployment of this tag or receiver overlaps the dates that you are using.":
![image](https://user-images.githubusercontent.com/35931796/143493004-44a01468-a9e1-4a16-94c9-85303dac3b1d.png)

[2021-11-25 20:05] cjardine-bsc opened #1054 "testing lotek registrations"
Lotek registration are at the point that we should test to make sure our assessment that the tags registrations are similar enough that they won't impact detections.

The steps to do this are:

1. Identify a set of tags that were registered after Aug 5th 2021, that have a good number of detections around a few different receives. Should identify tags on 166.38 and 151.1.  Catherine can provide a l

[2021-11-25 20:11] Hussell commented on #1052
@cjardine-bsc GPS was deleted, but the batches were not deleted. Activity counts for the batches listed above are still present in det_pulse_counts and det_taghits still has rows with the batchIDs above.

[2021-11-25 20:23] cjardine-bsc commented on #1052
Hmmm I see you've changed those to batch filter 6, you'll need to use 2 if you want the delete proc to run through them.

[2021-11-25 21:46] Hussell commented on #1052
I just want those batches to be deleted, I don't care how. Though now that you mention it, the delete proc should probably be let loose on batch filters 6, 7, and 8.

[2021-11-25 21:52] cjardine-bsc commented on #1052
No thanks. Leave 6, 7 and 8.

If you want them deleted, change their batch filter to 2 and it shall be so.

[2021-11-28 07:03] #563 closed

[2021-11-28 08:00] denislepage commented on #1038
So, I have been working through the backlog. It's slow going. I probably have now about a quarter of it uploaded, but most of those so far are only the dongle data on SG units. Almost all of them so far are also empty (size = 0) or only contain only a single row with the path of the file name, so I am not sure what that means. I suspect that the SG patch is creating new files regularly, whether th

[2021-11-28 14:00] StuMackenzie opened #1055 "Station Status Map viewable for all projects."
A map of station 'status', date since last download is available to individual projects, but individuals can't view projects that they're not a part of. It would be ideal if there was a single place where anyone could view the status of individual stations. e.g. https://motus.org/data/project/receivers/map?id=1 My preference would be to make this available from the main receiver map (link, box or

[2021-11-29 15:16] jsayers-bsc commented on #1055
Can this styling be available as a toggle on the main receiver map (https://motus.org/data/receiversMap?lang=en)?

[2021-11-29 16:31] #1052 closed

[2021-11-30 19:19] StuMackenzie commented on #974
elevating this warning from @jsayers-bsc . You'll see why ;)

[2021-11-30 20:28] dfloer commented on #974
Presume this is the same issue as the email from Denis?

[2021-11-30 20:29] denislepage commented on #974
I don't think this is an issue for @dfloer.

CTT log files are a new type that sgdata didn't know how to handle. @Hussell will need to deploy a change to motusServer to also recognize these files, so they are pushed to /sgm/ctt_outgoing, like we do for gps, data and node files.

BTW, this is the same folder that is getting stuck, but I managed to push everything pending to AWS over the weekend. Do

[2021-11-30 20:49] Hussell commented on #974
<a href='https://sgdata.motus.org/status?jobID=6855406'>Job #6855406</a> was due to an upload on May 20th. I reran it on Nov. 19th as <a href='https://sgdata.motus.org/status?jobID=10600405'>job #10600405</a>, after fixing the thing with the log files, so unless there's new information somewhere, this issue can be closed.

[2021-11-30 20:58] StuMackenzie commented on #974
Sorry - just searching for related issues haphazardly.

[2021-11-30 21:09] denislepage commented on #974
I think that makes sense, as CTT files are parsed out to the outgoing folder only during the initial processing, but I suspect those log files were pushed to the file_repo folder since motusServer didn't know how to handle them at that stage. It'd be challenging to hunt them all them, but we can manually inspect this one and try to manually move them to ctt_outgoing.

[2021-11-30 21:49] #974 closed

[2021-11-30 22:53] jsayers-bsc commented on #875
I've been unable to download data from the R package for much of the day today due to repeated server timeouts.

I get there are multiple potential causes for that but as there appears to be a potential improvement not yet implemented I'm posted here.

As a general comment, the server timeout error in R is a pretty regular issue; seems like every few days there is a period when I encounter it. Usu

[2021-12-01 16:21] j-sayers opened #1056 "Cannot delete receiver deployment from webpage"
Project 467 has a duplicate receiver deployment they want deleted, only the admin delete tool isn't working.

https://motus.org/data/receivers/edit?projectID=467&id=3979

Try to delete deployment 8316, I get the confirmation dialog, but when the page refreshes it's still there.

[2021-12-01 23:48] denislepage commented on #1044
I have made some edits to the regex to support new types of RPi, as I suggested earlier (using RP[A-Z0-9]{2} )

^SG-[0-9A-Z]{4}(BBBK|(BB0[0-9])|(**RP[A-Z0-9]{2}**))[0-9A-Z]{4}(_[0-9]){0,1}

I posted a change in the database, pushed a commit to motusServer, and will be deploying a change on motus sandbox.

@Hussell can you check over motusServer and deploy. Then I think this issue can be closed.

[2021-12-02 13:51] jsayers-bsc opened #1057 "Estimated deployment end date populated for LifeTags"
In the Beta10 manage tags page, LifeTag deployments are given an estimated end date based on tag life. These should just be blank for LifeTags I believe?

![image](https://user-images.githubusercontent.com/55001144/144434631-f1a8e844-92ea-4596-a68b-9f402ed2762d.png)

[2021-12-02 21:39] steffilazerte commented on #1053
I've added the logos to the README.

Note that the Motus R book will soon (hopefully) be replaced with the new package docs (currently located here https://motusWTS.github.io/motus), which uses the README as the landing page. So we should be go from now.

[2021-12-02 21:39] #1053 closed

[2021-12-03 01:26] denislepage commented on #1053
I like the new book look. I'd be keen to get this pushed out.

I guess we'll need to deprecate the old book repos.

Do we have a way yet to switch language to French? Not sure how much new content will need translation.

[2021-12-03 02:27] StuMackenzie commented on #1053
Me too, we’re gonna want to change some of the content here which is outdated. I also wonder to what extent and how to maintain authorship and ‘development’ credits.

____________________

[2021-12-03 14:59] steffilazerte commented on #1053
I should have been more clear: That site has just the original content but in the new format (originally so people could see how it would look), the development site (https://MotusWTS.github.io/motus/dev), has *most* of the new/modified content, but the organization will change a bit, the understanding Motus data will change and there will be another article on signal strength added (that's all in

[2021-12-06 20:03] steffilazerte opened #1058 "motus Documentation overhaul"
This master issue will organize reviewing the various pieces of the motus documentation that have been modified by @steffilazerte. I'll create separate issues for each piece that need to be reviewed and will either assign or ask for reviewers :)

This replaces the original, overall issue for the book overhaul (#941)

## Current status
The original R motus book was developed in [bookdown](https://p

[2021-12-06 20:10] steffilazerte opened #1059 "Docs: Review "Complete walk-through""
Review the transformation of the original Motus Book to pkgdown articles

**Requirements**
- Review formating (cf. #918)
- Review simplification (i.e. filtering and GPS sections were simplified to move that information other issues: #981 and #1060
- Review clarification of `tagme(..., forceMeta = TRUE)` vs. `metadata()` (cf. #867) in Chp 3 (**Need to be more explicit?**)
- General editorial review

[2021-12-06 20:13] steffilazerte opened #1060 "Docs: Review of "Working with GPS points""
Moves advanced GPS topics from the Overall walkthrough to a specific article

**Requirements**
- General editorial review

**Resources**
- [Compiled HTML Article](https://motuswts.github.io/motus/articles/gps.html)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/tree/book-overhaul/vignettes/articles) (`gps.Rmd`)

**How to review:**
- Make git changes directly to "[book-over

[2021-12-06 20:19] steffilazerte opened #1061 "Docs: Review of "Database Variables""
This is a new article with searchable table of all variables, which views they appear in and what they're called in different areas

- Hopefully clarifies variable names (cf #706)
- Perhaps replaces request for "Database diagram of all the r tables and their relationships to one another" (cf #941)

**Requires**
- Review of utility and format?
- Review of whether this is an adequate replacement for

[2021-12-07 13:04] leberrigan opened #1062 "Project collaborator permissions no functioning as expected"
While testing the behaviour of different project collaborator permissions, I soundthe following:
- Project permission set to 'read' causes project management pages to disappear and navigating to page produces error:`You are not authorized to edit the project with ID = ***`
-

[2021-12-07 17:21] j-sayers opened #1063 "Add "country" field to user-accessed profile page"
There are two User Profile pages on the Motus site, which display somewhat different information (and have a couple issues on the web end)

This is the one I'm used to using (and which allows user access levels to be set): https://motus.org/data/admin/user_id?id=19829

And this is the one collaborators would be using: https://motus.org/data/user/edit

The user-accessed profile page lacks some impo

[2021-12-07 20:11] Hussell commented on #1063
The second address line, salutation, and country aren't used anywhere in Motus. They're part of the database record because those fields are defined in org.bsc.User, which org.bsc.motus.MotusUser inherits from. They show up on the admin user page because it was created before all the unnecessary fields were stripped from the main Motus user page. I can remove the unused fields from the admin page

[2021-12-07 20:44] jsayers-bsc commented on #1063
I think adding the fields to the user end may be better if possible.

Salutation probably isn't necessary but Country in particular is very useful (determining what currency to bill people in, for instance). A second address line is helpful as well, but not essential.

So if anything add Country to the user end if (and when) you can.

[2021-12-08 11:39] leberrigan opened #1064 "Project 250 - Re-run receiver SG-DBC4RPI312EF"
Project 250 is missing data from a single tag, likely due to a mistake with registering deployments. Can we have receiver **SG-DBC4RPI312EF** rerun?

[2021-12-08 13:55] jsayers-bsc commented on #1019
I'm back to not being able to access this at home or the office (last few days)

[2021-12-08 18:51] steffilazerte opened #1065 "Docs: Review of "Getting started""
This is the a quick tutorial to get people on their way.

**Requirements**
- Review utility and format (is this helpful?)
- General editorial review

**Resources**
- [Compiled HTML Article](https://motuswts.github.io/motus/articles/motus.html)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/tree/book-overhaul/vignettes/articles) (`motus.Rmd`)

**How to review:**
- Make git

[2021-12-08 18:55] steffilazerte opened #1066 "Docs: Review of "Troubleshooting""
This article covers general problems (originally was an appendix).

**Requires**
- Review of utility and format (is this still useful and applicable?)
- General editorial review

**Resources**
- [Compiled HTML Article](https://motuswts.github.io/motus/articles/troubleshooting.html)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/tree/book-overhaul/vignettes/articles) (`trou

[2021-12-08 18:57] steffilazerte opened #1067 "Docs: Review of "Understanding Motus Data""
This article has been edited/adapted from the original "Bird's eye view of Motus data".

**Requires**
- Review of utility and format? (Is this information still current? Have I introduced any errors?)
- General editorial review

**Resources**
- [Compiled HTML Article](https://motuswts.github.io/motus/articles/motus-data.html)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/

[2021-12-08 18:59] steffilazerte opened #1068 "Docs: Review of "Vanishing bearings""
This was originally the final chapter in the motus book, but I have moved it to a special article as it covers a specialized field.

**Requires**
- General editorial review

**Resources**
- [Compiled HTML Article](https://motuswts.github.io/motus/articles/vanishing-bearings.html)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/tree/book-overhaul/vignettes/articles) (`vanish

[2021-12-08 19:02] steffilazerte opened #1069 "Docs: Review of "Advanced modelling and analysis""
The original book had this as a placeholder.

**Requires**
- Review of utility (is this still necesary? Do we have any more content for this?)
- General editorial review

**Resources**
- [Compiled HTML Article](https://motuswts.github.io/motus/articles/advanced-modelling.html)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/tree/book-overhaul/vignettes/articles) (`advanced-

[2021-12-08 19:04] steffilazerte opened #1070 "French language version"

[2021-12-08 19:04] steffilazerte opened #1071 "Docs: Review of "Plotting signal strength vs. time""
This is a **rough draft** created by @steffilazerte and seeks to explain signal strength vs. time plots. I build on @adamdsmith's comment and description of how he uses these plots (https://github.com/MotusDev/Motus-TO-DO/issues/941#issuecomment-812174141).

**Requires**
- Review of utility (is this helpful? clear?)
- Review of missing components examples (anything to add? I feel like I'm not cove

[2021-12-08 19:15] steffilazerte opened #1072 "Docs: Review of overall documentation site"
review of look and feel, organization, etc.

**Requires**
- Review of look and feel
- Review of site organization (i.e. article groupings, should they be different? e.g., "Advanced topics" instead of "Other topics")
- General editorial review

**Resources**
- [Compiled HTML site](https://motuswts.github.io/motus/)
- [Rmd files on book-overhaul branch](https://github.com/MotusWTS/motus/tree/book-ov

[2021-12-08 19:30] steffilazerte commented on #1058
Okay! CC: @denislepage, @cjardine-bsc, @leberrigan, @adamdsmith, @ajmacdonald3, @StuMackenzie, @jsayers-bsc (please ping anyone I've missed).

Please assign specific issues to yourselves if you feel you can review them at some point. I understand that holidays are coming up for many of you, and I don't need a review anytime soon, I just need to know who's going to review what, so I can make sure t

[2021-12-09 14:26] jsayers-bsc opened #1073 "No detections or even runs from a SS that has been recording since July"
[USFWS has an SS](https://motus.org/data/receiverDeployment?id=7974) on an offshore wind turbine that has been running since July, yet there are no detections at all on it. In fact there doesn't appear to be even a single run associated with it.

On their CTT portal it appears to be recording tag hits, and they had a test tag active near the station for an extended period, which they expect to be

[2021-12-09 15:40] pmorrill commented on #1034
I can't reproduce this issue in my system. The validation test looks to see if the recv is currently deployed within any project (meaning a receiver cannot be active in 2 projects at once: this may need changing).

I have made an adjustment to simplify the test query, to use ''vwBase_receivers_deployments''

[2021-12-09 15:48] jsayers-bsc commented on #1073
... This may be an issue on the CTT end

[2021-12-09 16:40] Hussell commented on #1038
They symlinks bug is fixed.

The bug was in the R code to detect the presence of a symlink. It was:

`targ = Sys.readlink(src)`
`iTarg = which(isTRUE(nchar(targ) > 0)) ## only files which are valid symlinks pass this test`
`if(length(iTarg)) {`

The bug is one which an experienced R programmer (so, not me) would likely spot immediately: isTRUE. All the other code in there works with a list, but th

[2021-12-09 18:45] leberrigan commented on #1034
@pmorrill Added to checklist above:
Terminating a station deployment with a date that's **_before_** the start date, it produces the below developer error. Can we change the behaviour to produce a user and reject the form submit?
![image](https://user-images.githubusercontent.com/35931796/145456632-da1cdbb6-f15a-40d2-a3dd-994c646af3de.png)

[2021-12-09 20:04] leberrigan opened #1074 "Error when downloading data via R Sandbox"
This problem only exists for the `sandbox` version of the Motus R package.

When running tagme to create a new database or to update an existing one, I get the following error:
[code]

[2021-12-10 14:52] jsayers-bsc commented on #1073
Ended up being related to new Iridium modem SS models that CTT has resolved

[2021-12-10 14:52] #1073 closed

[2021-12-10 15:47] pmorrill commented on #1034
I have just improved validation of the end date when terminating, so this error will be handled properly.

[2021-12-13 02:15] denislepage commented on #1038
I have been monitoring the ctt_outgoing folder today. So far so good. I pushed a bunch of new files to AWS, and cleared any remaining symlinks in that folder. So far, none have reappeared. Woohoo.

A few left for me to do before we can close this:

1. see if any of the files already moved to AWS keep reappearing. There may be some remnant files in file_repo that will get moved again one last time,

[2021-12-14 21:56] Hussell commented on #1064
I only just noticed this, but the most recent data from that receiver was rerun on Dec. 9th. Which tag was/is missing?

[2021-12-14 23:38] steffilazerte commented on #1074
Hi @cjardine-bsc, I don't think this is related, but yes that has been done (we chatted about it in this issue #1016, but I forgot to let you know that it was done, sorry!). Might be easier in future to open specific issues for these things so I remember to actually close and comment on them.

@leberrigan I'm not sure what's up but I've recreated the internal data (sysdata.rda) and pushed the new

[2021-12-14 23:44] cjardine-bsc commented on #1074
Great!

I've created those two fields in the view in Live. So @leberrigan you should be able to test the live branch and see that they appear.

Users will likely start to see those in R now that I've made that change. So if we don't end up launching tomorrow I should revert that.

[2021-12-15 13:55] jsayers-bsc opened #1075 "Need direct link to Station from receiver deployment page"
Can we add a direct link to the appropriate station from the receiver deployment page? People are going to be landing on these pages now as they always have and it will look quite different.

A direct way to get back to the station overview for that station will be very helpful both now and for navigation going forward.

e.g. somewhere on this [page ](https://motus.org/data/station/deployment/edit

[2021-12-15 15:32] jsayers-bsc commented on #1075
Apparently the direct link with `setStation=` as above doesn't always work without providing the project. The project number is superfluous as station id's are unique regardless of projects

[2021-12-15 15:47] Hussell commented on #1075
That link doesn't work either. I think you're being redirected to the previous page you visited. The link that works has `setStationId=`, and doesn't require a project ID.

[2021-12-15 15:57] jsayers-bsc commented on #1075
Ah, that station must have been saved with the browser state when I tried it. Yes the other works as desired.

[2021-12-15 16:01] Hussell commented on #1075
https://beta.motus.org/data/station/deployment/edit?projectID=1&id=8356

[2021-12-15 17:55] StuMackenzie commented on #1034
FYI. Updates are live on the site, but we haven't posted to the Motus Group yet.

[2021-12-15 20:21] leberrigan opened #1076 "Beta10 Bugs and Fixes: post-release"
### Cannot add new landowner
When adding a new landowner, the 'preferred language' field is required, but there are no options to select so the form cannot be submitted.

![image](https://user-images.githubusercontent.com/35931796/146232706-75fc740f-3d8e-453d-9cdc-c8f0a57bb9fe.png)

We can probably just make this field not required to fix the problem for now.
Edit this file:
`motus\web\WEB-INF\dat

[2021-12-15 20:35] leberrigan commented on #1076
Header menu cannot be edited on `/data` pages; at least, I can't figure out how to edit it through Wordpress. We need it to resemble the ones on other pages. Manage links have changed to the following:

French
[code]

English
[code]

[2021-12-15 21:04] leberrigan commented on #842
This is a good time to start thinking of this again. A couple thoughts:
- We should discuss resolution: hour_bins are probably good enough
- We probably don't need to store this variable for each hour. Instead, it could be time up/time down as a 'active session' or something.
- We're going to need to develop a different proxy for up time for each receiver type. Here are some ideas on how to handle

[2021-12-15 21:06] cjardine-bsc commented on #842
I did a bunch of work to support this in sandbox: https://github.com/MotusDev/Motus-TO-DO/issues/1016

It needed testing, have you taken a peak? Do you feel its good to push to live?

[2021-12-15 21:27] Hussell commented on #1076
I've put a full fix for the landowner thing on sandbox and beta. The code to populate those lists was just missing.

I don't have permissions to update the headers and footers on the live WordPress site. @cjardine-bsc  or @denislepage will have to copy them over from the beta WordPress site.

[2021-12-15 22:15] leberrigan commented on #842
Ahh -- one of those Gits that have run away... I'll take a look.

[2021-12-15 22:56] leberrigan commented on #1076
### Links between Stations and Landowners are broken
It appears that none of the stations have landowners associated with them any more. I haven't looked into why yet.

[2021-12-15 23:01] cjardine-bsc commented on #1076
My bad. I forgot a step past Catherine should have written down.

They should be back.

[2021-12-15 23:02] leberrigan commented on #1076
Links to Deployment Details return an Error:
Clicking on 'Deployment Details' or deploy ID link (in Deployment History table) doesn't work. See this error:
https://motus.org/data/station/deployment/edit?projectID=2&id=5192

[2021-12-15 23:05] cjardine-bsc commented on #1076
That page is tossing a Null Pointer Exception. @Hussell I'm running into a meeting but sending you the trace.

[2021-12-16 14:20] Hussell commented on #1076
Paul checked in a fix last night. I've added it to the live branch, but it still needs to be deployed.

[2021-12-16 15:11] Hussell opened #1077 "sgdata is down"
https://sgdata.motus.org/ is currently unreachable by any means.

[2021-12-16 16:00] tve commented on #842
Heads-up that the new SG emits a "C" record every 10 minutes into both data files (the "all" and the "ctt" ones). The C record has:
[code]

[2021-12-16 16:06] leberrigan commented on #1074
I can confirm it works in both sandbox and live! I also see the new variables (`stationID` and `stationName` in `recvDeps`; `numGPSfix` in `activity`). I had to use `forceMeta=T` for station metadata to populate.

[2021-12-16 16:06] #1074 closed

[2021-12-16 17:06] #1075 closed

[2021-12-16 17:22] j-sayers opened #1078 "Cannot edit Lat/Lon fields for Stations"
The Lat Lon fields for stations cannot be modified either directly by typing in the field or by copying and pasting in.

The only way to change a location is by sliding the marker on the map.

[2021-12-16 17:31] jsayers-bsc opened #1079 "Tool to change Station associated with a receiver deployment (e.g. move receiver deployment to another station)"
We have a tool for changing the receiver at a particular receiver deployment, but we don't currently have a way to move a receiver deployment from one station to another.

This would be very helpful right now with some of the post-snap cleaning up, but would also be a useful tool for management going forward.

For now, for the solution is for an admin to copy the details, delete the deployment, th

[2021-12-16 18:12] cjardine-bsc commented on #1079
for now just send me the deploy_id and what station you want it moved to.

[2021-12-16 18:34] j-sayers opened #1080 "Duplicated values in dongle dropdown when editing antenna config"
When editing antenna config on a receiver deployment...

![image](https://user-images.githubusercontent.com/55001144/146422927-93744f4e-07da-4161-a6e0-f5df23cf02f2.png)

I'm not sure if this should be pre-populated at all actually.

But the options definitely shouldn't be re-used once selected.

Previously once a port # was selected it became unavailable for others (which is the desired behaviour)

[2021-12-16 18:57] j-sayers opened #1081 "Receiver deployments instead of Stations currently displayed in Landowner overview"
In Landowner overview, receiver deployments are displayed instead of Stations. Should probably just be stations.

![image](https://user-images.githubusercontent.com/55001144/146431799-41478f0b-b2b8-4dba-8fad-374b9174afdd.png)

[2021-12-16 18:59] leberrigan commented on #1076
@pmorrill  When adding a new receiver, the text fragment is 'missing', but I can't add a new one because another with the same name already exists, just in uppercase:
https://sandbox.motus.org/data/project/receivers?projectID=2
![image](https://user-images.githubusercontent.com/35931796/146431834-4d38d4e0-1c6b-4da7-b000-28857f01b840.png)

[2021-12-16 19:01] #1077 closed

[2021-12-16 19:14] j-sayers opened #1082 "Exception when changing receiver properties"
I was just trying to update the receiver ID for a receiver that was entered incorrectly (via the "update receiver properties in the receiver deployment details)

![image](https://user-images.githubusercontent.com/55001144/146434037-d541d181-bbbe-4d85-b5d9-47dd50027356.png)

[2021-12-16 20:23] cjardine-bsc commented on #1076
Header and footer updated.

[2021-12-16 20:42] jsayers-bsc opened #1083 "Missing text fragment for receivers that have never been deployed"
When viewing the overview for a receiver that has never been deployed there is a missing text fragment. This is a reminder for me or anyone else to populate it (sandbox has been hanging for the last 20 minutes or so)

![image](https://user-images.githubusercontent.com/55001144/146445389-457b7aaa-6d7c-4b49-8613-b1f0f89546b0.png)

[2021-12-16 21:42] Hussell commented on #1076
I've only just now edited the sandbox and beta WordPress headers so that the menus match what Lucas posted above. Some other differences between the beta and live header remain, e.g. the standardized logo. @cjardine-bsc

[2021-12-16 21:57] cjardine-bsc commented on #1076
I did another update.

[2021-12-16 22:02] Hussell commented on #1076
I'm seeing the updated menu but old logo on the English pages, and the old menu but the updated logo on the French pages. Weird.

[2021-12-16 22:19] cjardine-bsc commented on #1076
kk. You're not seeing the same on beta? I'm doing a copy and past of the header, footer and stripped header template.

[2021-12-17 14:43] leberrigan commented on #1076
### All stations are duplicated
Every station has a copy with no associated deployments. This copy always has a higher station ID than the original.
![image](https://user-images.githubusercontent.com/35931796/146561410-e6c5b511-55f7-4a93-83f0-51e5d9317031.png)

[2021-12-17 14:45] leberrigan commented on #1076
@Hussell
### Broken links on receiver timeline page
![image](https://user-images.githubusercontent.com/35931796/146561705-7d451eaf-8f3d-4636-a6b3-1f521cd003b1.png)

[2021-12-17 14:51] leberrigan commented on #1016
I can confirm it works! I also see the new variables (stationID and stationName in recvDeps; numGPSfix in activity). I had to use forceMeta=T for station metadata to populate.

[2021-12-17 14:52] leberrigan commented on #842
Everything looks good from my end. Did you push to live?

[2021-12-17 15:07] #1083 closed

[2021-12-17 17:40] leberrigan opened #1084 "Resolving receivers with detections outside of deployments"
I've been going through our receivers with data outside of deployments and it's been rather difficult to figure out where they were located. It appears that have to create a test deployment using that receiver before it will allow me to download those data through R.

Even then, I don't appear to be able to download GPS hits. I can go into the database and extract gps hits based on batch ID, but t

[2021-12-17 17:56] jsayers-bsc commented on #1084
See #738 as well.

BTW I created a "project" concerning redesigning the Data Issues page and added this to it. I don't know how using a "Project" will work, but it's probably worth a try. It's a big need, especially given extra staff attention at the moment, and impending strong-arming (which should happen after better tools are in place).

[2021-12-17 18:56] Hussell commented on #1076
I've double-checked everything. I did find and fix a problem in the French menus in the stripped headers, but I found nothing to explain the English logo. Try recopying both the header and the stripped header?

[2021-12-17 19:18] cjardine-bsc commented on #842
You mean 1016?

[2021-12-17 19:32] Hussell commented on #1076
The English logo is fixed. (?) Only the French menu in the stripped header needs to be updated now, I think.

[2021-12-17 19:44] Hussell commented on #1084
I ran a query directly on the database which pulled out average GPS locations for about 300 receivers which have no known deployments. About half had acceptably tiny standard deviations, but the other half either had some highly inaccurate GPS hits or were moved from one location to another at least once. I'd want to plot the GPS hits on a map before choosing what to do with most of those, so ther

[2021-12-17 21:09] cjardine-bsc commented on #1076
Looks like I forgot to wipe out my first run. I've done a wipe and replace, I think that's resolved it.

[2021-12-17 23:52] cjardine-bsc commented on #1076
recopied.

[2021-12-19 13:27] jsayers-bsc opened #1085 "Change "Last visited date" to "Most recent data""
In the stations table this field would be more useful as "most recent data" .

![image](https://user-images.githubusercontent.com/55001144/146676505-b63415a5-ffe6-41ab-bcd7-716412535cbb.png)

[2021-12-19 17:17] tve commented on #1019
I've been getting 500 "server error" for the past ~half hour from sgdata login... (https://motus.org/data/login)

[2021-12-19 20:05] denislepage commented on #1019
Database was locked. Restarted now, and I have allocated a bit more room for connections from the application.

[2021-12-20 04:51] tve commented on #1076
Why am I seeing jobs for project 661 (see lower part), when I'm viewing project 460 (see top)?
![Screenshot from 2021-12-19 20-48-59](https://user-images.githubusercontent.com/39480/146713491-2ddd231d-1251-4bc7-84cd-82c54edb1149.png)

[2021-12-20 14:45] Hussell commented on #1076
That's 661 jobs belonging to project 460.

[2021-12-20 18:54] Hussell commented on #1056
Tracing this through the code, it seems prDeleteSensorDeployment is silently failing. Possibly there's a new dependency which isn't being handled, e.g. sensor_nodes or det_gps_timeline?

Looking at the two deployments (8313 and 8316), 8316 has more metadata filled in, so I figure it's 8313 which should be deleted. The example link above doesn't work any more, go here instead:
https://motus.org/dat

[2021-12-20 19:34] cjardine-bsc commented on #1056
Huh, this is actually an odd case. The problem is a duplicate key in taghits runs. Was there possibly a third deployment at some point? That would explain it.

I re-ran prTaghitsSummariesSensorID for the sensor and that seems to have solved it. I suspect the job failed in the procs queue which led to this.

we need a better way to deal with failed procs queue steps....

[2021-12-21 17:25] tve commented on #1019
File upload verification requests are hanging. E.g. https://motus.org/data/project/sgJobs with `verifyHash=....`.

[2021-12-21 18:25] cjardine-bsc commented on #1019
Database is fine, but I'm seeing a HTTP/1.1 502 Proxy Error I'll send details to @Hussell

[2021-12-21 18:52] Hussell commented on #1019
I restarted the server, and it's responding again.

There aren't any immediately obvious error messages in the logs, and there was no shortage of CPU or memory before I restarted. I'm not sure what went wrong.

[2021-12-21 19:10] Hussell commented on #1019
Down again.

[2021-12-21 19:33] cjardine-bsc commented on #1019
Not sure if it's related but remote desktop at kwic is also frozen. I'll poke Andrew.

[2021-12-21 22:12] Hussell commented on #1084
On the beta server, I've added a link to the administrator tools page which goes to a page where administrators can view a map with all the known GPS locations for a given receiver.

[2021-12-21 22:55] tve commented on #1019
Seems to work ~15 minutes then fail for about as long....

[2021-12-22 15:42] tve opened #1086 "Invisible upload errors"
I'm trying to figure out when an SG can decide that an upload is successful... One of the 'interesting' ones is job 10529438. The upload went fine, the processing shows "complete", I don't see any error, except if I look into the job log details I see
[code]
How is someone supposed to find this out?
I guess more specifically, I have several questions:
- once the "transfer file to sg data processin

[2021-12-23 21:16] Hussell commented on #1086
A few "corrupt" archives (usually just archives that were being written to at the time of upload) are uploaded very frequently, and complete versions are usually found in the next upload, so sgdata only throws an error when the top-level archive is corrupt or no files at all with usable data are found. If you've found and fixed bugs in SensorGnome code that cause this to happen, then the frequency

[2022-01-04 16:10] j-sayers commented on #975
Closing as it appears these fields are both present.

Re-open if there are still loose ends...

[2022-01-04 16:10] #975 closed

[2022-01-06 16:54] leberrigan commented on #1076
Remove `required` attribute for field **Last name** in edit/modify landowners modal:
![image](https://user-images.githubusercontent.com/35931796/148419686-feb35d09-93e5-45f3-be42-e8bcb9953494.png)

[2022-01-06 20:16] leberrigan opened #1087 "Explore Dashboard Tracks API"
The new explore dashboard requires a table of tracks with the following headers:

tagDeployID | ts1 | ts2 | lat1 | lon1 | lat2 | lon2 | stationID1 | stationID2 | tagFreq | projectID | speciesID | dist
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2022-01-06 22:11] cjardine-bsc opened #1088 "Move approval process away from users and onto projects"
Current situation:

Each user is assigned a user_status value, either a regular user, a PI or an admin.

When a user creates an account they may request to be either a collaborator or a PI. If they select PI and email is sent to motus admin to approve them as a PI. This ensures that spam accounts are not given PI status

Only PIs can create projects.

There is a current bug that means if you regis

[2022-01-06 22:23] Hussell commented on #1087
Each tag ID has a single tag frequency, project ID, and species. It's better to send those in their own table so the identical information doesn't have to be repeated for every track segment.

The distances between points should be calculated from the coordinates when needed.

We have locations for tags which are not at stations, notably the location where the bird or other organism was tagged, wh

[2022-01-10 15:28] j-sayers opened #1089 "Motus website issues at the moment"
Getting an error often (but not always) this morning when access various pages on the site. Exception org.bsc.exceptions.MaximumConnectionsError

[2022-01-10 19:51] denislepage commented on #1089
Catherine likely got the server restarted. Did we deploy the fixes that Jeremy did to address this to the live site? This is usually (always) caused by unclosed database connections.

I’ll redeploy again the live branch, to be sure.

[2022-01-10 19:56] cjardine-bsc commented on #1089
Yeah, I restarted.

Sorry it took me a while. Two factor authentication woes.

[2022-01-11 15:12] leberrigan commented on #1087
Sorry, I overlooked this. I agree!

You're right that I should be able to get away with calculating distances on the fly. I'm hoping to display a large number of distances or speeds at once in a table of all detections. I would also like to make a plot at some point with distance v. time which might take too long to calculate on the client. I'll have to do some testing.

Don't include deployment l

[2022-01-11 15:17] leberrigan commented on #1087
Here's an updated list of headers that I am looking for:
tagDeployID | ts1 | ts2 | stationID1 | stationID2
-- | -- | -- | -- | --

[2022-01-11 16:12] j-sayers opened #1090 "Some stations not showing on map for Project 113"
I noticed something odd in[ Project 113 today when viewing their stations.](https://motus.org/data/project/stations?projectID=113)

None of their show up on the map when viewing the "Active" or "All" tabs. The table will be displayed. However if from the Table tab you click on the Map tap, nothing will be displayed on either tab.

The "Inactive" tab works as expected.

I haven't noticed this in an

[2022-01-13 16:24] Hussell commented on #1090
Some fields in the database are derived from user input, which can be arbitrary. On this page, the station names and landowner names weren't being encoded into HTML properly, just inserted directly into the page, so when one of the station names had an unexpected character in it, it crashed the page. (Technically, the sub-pages which were supposed to display the map and the table crashed.)

Fixed

[2022-01-13 16:24] Hussell commented on #1078
Fixed on sandbox and beta, has to be deployed to live.

[2022-01-13 16:46] Hussell commented on #1087
I'm not quite sure I got across my meaning about time a bird hangs out around a station. Do you want to get records where stationID1 == stationID2, e.g. to show that a bird stayed near a particular station for a week before migrating further?

No problem, that's almost the whole point of having a minimum 24-hour gap between detections at the same station.

If I understand your intent for the "simu

[2022-01-13 22:47] denislepage commented on #1078
Just deployed to live now, if someone can test and close the issue. @j-sayers

[2022-01-14 00:03] #1078 closed

[2022-01-14 00:03] #1090 closed

[2022-01-14 00:09] #1082 closed

[2022-01-15 16:52] j-sayers commented on #901
As an addendum, tag database is only generated for the project that initially registered the tags.

For instance Project 125 has a few dozen tags currently active. But they were apparently all transferred from various other projects so there are actually no sqlite tag database available for this project.

[2022-01-15 19:50] leberrigan commented on #1087
Oh, I see! Yes, that would be very handy. I will use that for my detection timelines.

That's right. I'm sorting data by ts1 so that if a set of tracks are simultaneous they should be sequential with one another. That reduces the amount of comparisons I need to do to group those tracks together.

[2022-01-17 19:37] leberrigan opened #1091 "Motus Website Template"
## Overview
Start with new NatureCounts template and adapt for Motus (Streamlining for similar look). From there, we're not sure how many distinct templates will be needed, but likely 3 or 4:
- Home: as discussed on Thursday and below.
- About and internal resources pages: simple content pages.
- Explore: just a header, the content will be dynamic and we'll have to decide on the look later.
- Mana

[2022-01-17 20:48] StuMackenzie commented on #1091
I went through and added a few comments to the primary text. Once we've had a go we should open it up to the whole team.

[2022-01-17 20:57] StuMackenzie commented on #1091
Tried adding these to the original, but it wouldn't let me for whatever reason:

## Header
  - eventual language support for English, French, Spanish

## Footer
  - wonder if Birds Canada logo should live in the footer? - similar to Nature Counts

## Page content

#### Home Page
 -  Keep an image carousel somewhat like NatureCounts, but will upgrade images. You can find images on shared Google Dri

[2022-01-17 22:16] j-sayers commented on #1058
New format looks great, and is much more consistent with R packages in general. The accessible changelog is going to be helpful to have as well.

One initial comment is that there doesn't appear to be a search option.

[2022-01-18 01:10] denislepage commented on #1091
A few quick notes. It's not obvious from the above if we will be asking him to work on just the home page first, or other pages. I'd suggest the former.

The main pages make sense for us to discuss as they impact the navigation items of course. The list above looks about right at first blush: About, Resources, Explore and Manage would be the main options, no matter if you are logged in or not (my

[2022-01-18 21:41] denislepage commented on #1089
Still caused by connection leaks.

I created a small tool that can help us track connection leaks, which we still saw today.

I added a stack trace array object to the DBConnection object, which gets refreshed every time a new connection is created, or whenever it is reused. The stack will be cleared whenever the connection is closed again.

This page will give you a list of all connections in the

[2022-01-18 21:57] denislepage commented on #1089
My tests aren't as conclusive as I would have liked. When forcing some connections to remain open, they are showing as "state: in use", but they are not showing a stack trace, even if it was used more than 5 seconds ago, so the tool may need a bit of finessing. During this test, some of the connections are showing the trace as above, but I am not seeing the ones I forced to create, so that's a bit

[2022-01-18 23:48] denislepage commented on #1089
OK, I think this is now where I wanted. The db_snoop admin page (available from the list of admin tools) will now show the list of connections in the pool, and the stack trace for any of them currently marked as "in use" (i.e. not yet closed) (rather than only those not active for > 5 s as before). This may include queries that are currently running, which is normal.

https://sandbox.motus.org/dat

[2022-01-19 00:11] denislepage commented on #1031
I am about to restart the server for maintenance, so Kwic can add the new drives. Motus will be down for a short while soon.

[2022-01-19 16:11] leberrigan commented on #1091
I have updated the first post to reflect your comments. Does that look okay?

[2022-01-19 23:22] steffilazerte commented on #1058
Good point! I can add that, I'll look into it.

[2022-01-20 16:27] steffilazerte commented on #1058
Nudging everyone here @denislepage, @cjardine-bsc, @leberrigan, @ajmacdonald3, @StuMackenzie, @adamdsmith.

We're starting to get issues (https://github.com/MotusWTS/MotusRBook/issues/37) and pull requests (https://github.com/MotusWTS/MotusRBook/pull/38) on the old documentation to fix out of date stuff. I'd much rather spend our time on the new docs though, which means I need some reviews!

I don

[2022-01-20 16:55] StuMackenzie commented on #1091
Looks good. Thanks.

[2022-01-20 17:27] StuMackenzie commented on #1058
Thanks Steffi - on the agenda for our call today if you want to hop on. Don't worry if you can't. Be pushy!

[2022-01-20 17:30] steffilazerte commented on #1058
Awesome :) I'll try and join, but won't be there until 1pm Central.

[2022-01-20 19:44] ajmacdonald3 commented on #1059
Assigning myself to this review.

[2022-01-20 19:47] ajmacdonald3 commented on #981
Assigning myself to this review.

[2022-01-21 19:34] steffilazerte commented on #1058
Made an update to include the search function, this means that I updated to bootstrap 5 which in turns means things look a tad different but hopefully still good. I also clarified the documentation locations and will go through the issues to make sure the links still work (links above are corrected). And fixed @denislepage's name :)

[2022-01-22 02:04] ajmacdonald3 commented on #1058
I think it could be worthwhile to update all the mapping in the articles to use the sf and rnaturalearth packages, instead of a mix of rworldmap and ggmap. I find rnaturalearth has simple shapefiles that make good basemaps when you're cleaning and examining your data, and sf integrates nicely with the tidyverse and you can do GIS operations. I can update to sf in my revisions of the complete walk-

[2022-01-22 20:05] steffilazerte commented on #1058
@ajmacdonald3, I love it! Great idea! I can do this too, if you're finding yourself strapped for time, otherwise, have fun!

[2022-01-23 18:51] j-sayers commented on #1089
Were we going to move this into Live or watch it in Sandbox/Beta for a while first?

(And just to confirm, beta uses the live db whereas sandbox uses the sandbox db?)

[2022-01-23 19:09] denislepage commented on #1089
I asked Jeremy to merge my commit. Still need the go ahead from him. I'll deploy to live.

Each site maintains its own connection pool. The tool in beta won't help if the issue happens in live.

[2022-01-23 21:32] j-sayers opened #1092 "We need a sample project that includes receivers as well as tags"
The sample project in the R book / package docs only includes tags. So all the receiver-specific examples won't work.

Is there a sample project we could use that includes both tags and receivers so that people working through the docs can try all the examples?

This may be a real existing project, or some sort of construct we make up where we copy tags and receivers from an appropriate project in

[2022-01-24 18:07] cjardine-bsc commented on #1092
Note that this isn't a super simple change. It requires building new DB tables and expanding the API to support a receiver call. Its quite doable, but when we set it up we decided that effort was not worth the ability for the user to test a single tagme call. The goal is to get them some standard data to work with for data manipulation, less so to show them how the tagme call works.

What receiver

[2022-01-24 19:46] denislepage commented on #1092
Perhaps this is what you are saying, but we could provide sample .motus files available for download that we compiled ourselves, rather than modifying the API to support this for specific use cases.

One example, as we have now, to demonstrate tagme is fine, and I don’t think we should plan for more, but there is potentially no limit to sample data we can provide as downloadable files for the walk

[2022-01-24 20:14] j-sayers commented on #1092
I suppose I had assumed that everything with a motus account had access to Project 176 and could therefore just download data from that project any other. But it sounds like it's actually a different process for the sample project?

It's not a huge deal just that are a handful of examples in the erstwhile R book that refer to downloading data for receivers etc, followed by something like "expect t

[2022-01-25 02:43] denislepage commented on #1089
The admin tool for connections is now in place. I have been monitoring it through the day, and so far, no issues to report, with usually no more than 20 connections or so, and often as few as 2 or 3. We'll probably need to wait for the specific process to trigger the leak. The tool is available in the Admin page of the live site. Let's try and monitor it for a while. If the server is out of connec

[2022-01-26 07:43] denislepage commented on #1089
Found one

![image](https://user-images.githubusercontent.com/21110542/151120254-400daf6e-1c84-470c-9bf3-0487c0749b24.png)

[2022-01-26 08:12] denislepage commented on #1089
I just pushed a fix to beta and live. We can check again for a few days if that's resolved, or any other leaks remain.

Woohoo.

[2022-01-26 08:16] denislepage commented on #1089
@Hussell  I ran into a few conflicts when merging beta10 into live, if you want to check that I resolved them correctly. At least in those 2 files:

motus/web/WEB-INF/data/admin/receiverGPSMap.jsp
motus/src/org/bsc/motus/web/admin/ReceiverGPSMapServlet.java

I haven't merged back to master yet, if you want to handle that.

[2022-01-27 23:30] leberrigan opened #1093 "Filter 'visiting' tags by distribution of 'local' tag burst intervals"
Automated method for addressing **[Type 2 Aliasing](https://docs.motus.org/motus-docs/tags/tag-aliasing#type-2-false-lotek-tag-id)**

Usually aliasing involves local tags being mistaken for non-local tags. Here I define *local* as any tag deployed within 100 km of the station it is visiting and all other tags are *non-local*.

For each station, sum up the number of *local* tags for each burst inte

[2022-01-28 17:35] ajmacdonald3 commented on #1025
I've been having this problem for the last couple days. I haven't been able to download any data through the R package.

[2022-01-28 18:54] steffilazerte commented on #1058
@j-sayers @ajmacdonald3 I just pushed a bunch of organizational changes based on conversation with Josh. Namely:
- Move troubleshooting to the Navbar and consolidate with the README
- Change the name of Reference to Functions
- Organize the articles and make sure the walk through is in the article drop down menu
- Added a footer to all articles referencing the main article page
- Organized the fun

[2022-01-28 19:25] ajmacdonald3 commented on #1038
Has it been confirmed that the data from dual mode manual uploads are making it back to us from CTT? If manually uploading data from a SensorStation, the folder structure within the zipped folder that gets uploaded to Motus should not matter and can contain some folders with SG/166 MHz data and some folders with 434 MHz data because tagfinder uses the individual file names to identify which ones t

[2022-01-28 19:30] ajmacdonald3 commented on #1058
Sounds good @steffilazerte! I've been working on the complete walkthrough review and I've gotten through chapters 1-4. Hoping to finish 5 and 6 next week. I forked a copy of motus over to my github and have been making changes there in the book-overhaul branch and am planning to submit a pull request with my changes. I think that should still work? Or maybe I need to resync my fork.

[2022-01-28 19:48] steffilazerte commented on #1058
It should work, if not we can figure it out at the time, thanks!

[2022-01-28 22:56] denislepage commented on #1038
Interpretation is correct, but I haven’t heard a confirmation from CTT yet that they started processing the files. They now have over a million files to process in their hands for the dongle data.  I can check with Bob.

The files for CTT tags that are manually uploaded should also be making their way to them, after we solved our upload issues last month, and I expect those will show up first, if

[2022-01-29 03:55] tve opened #1094 "RFC: proper single sign on and delegation of authorization"
The current "single sign-on" is not really what is commonly called SSO and IMHO is not up to the tasks ahead. Stu asked for a description of what the differences are. The current functionality basically consists of an API call that given the user's credentials returns the permissions the user has on various motus resources.

The current API call can be seen in action in the sensorgnome.org server

[2022-01-30 00:50] dfloer commented on #1094
I want to emphasize, that from a security standpoint, sensorgnome.org should not be logging in as the user to Motus.

Also agree that OAuth is probably the way to on this, and it would definitely simplify some of what an update to Sensorgnome.org will need to do if it could just use OAuth, and I wasn't worrying about what is essentially proxying credentials and enforcing their rights as it bounced

[2022-01-30 23:26] tve commented on #1094
Auth0.com and ory.sh are two providers that look interesting. I've read a pile of blog posts by the auth0 guys that have been very helpful. I believe Motus can use their free tier, and if not they have special pricing for non-profits. It looks like the regular pricing would be ~$300/yr, which I'd categorize as cheap (you can't even get a demo with some open source stuff up for that cost...)
Take t

[2022-01-31 17:02] j-sayers commented on #1093
This will be helpful!

I recalled seeing something about a "global fix" previously but couldn't recall where until just now. Does anyone know if the approach here was ever pursued further? https://github.com/MotusWTS/MotusRBook/issues/15

[2022-01-31 17:16] j-sayers opened #1095 "Edit tag link leads to 404"
The Edit Tag link accessed from here https://motus.org/data/tag?id=60394 is now a dead link.

[2022-01-31 17:42] tve opened #1096 "Logging out of motus.org does not log out of sgdata"
Looks like there's no way of logging out of sgdata.motus.org and logging out of motus.org does not do it either.
This raises two issues:
- all pages should have a logout link
- the auth_tkt cookie is not updated on logout

To reproduce the first issue, go to https://sgdata.motus.org/status, log in, and observe that on the resulting page there's no way to log out or to get to a place where one can

[2022-01-31 17:59] tve commented on #1019
Coming back to:

and

The X_FORWARDED_FOR header is inserted into the request by a proxy or web server before handing off to the back-end app. So it's most likely apache that inserts it.

The most plausible explanation I can come up with is that there is a buffering issue in the back-end app while reading the request that gets triggered by the fact that Josh has access to way more data than most o

[2022-02-01 14:13] leberrigan commented on #1093
Thanks Josh - I haven't actually seen this before. It looks like this will only address some of the aliasing issue (type 2 aliasing) and it runs with the assumption that "the aliased tag will be unique in that the actual minimum difference between it and the real tags will be equal to the burst interval" which I don't quite understand yet.

I rewrote the code below and will try running it on Torre

[2022-02-01 16:31] j-sayers commented on #1095
This also affects "edit" links in the Data Issues page

[2022-02-03 14:09] leberrigan commented on #1093
So I'm not really seeing the results that I'd expect based on the description. It's also extremely inefficient to calculate. I even made it more efficient by an order of magnitude, but it's still going to have a scaling issue since it involves comparing the ts of every row with that of every other row.  Perhaps there's a better way, but I'm not able to think of one right now.

In the results below

[2022-02-03 15:28] j-sayers opened #1097 "Tags not detected at receiver until after re-run"
Project 431 was testing 40 tags over the weekend to ensure that they had registered properly.

I created test deployments for them on the 27th to begin at midnight on the 30th. On the 31st they took the tags near a [networked station](https://motus.org/data/receiverDeploymentDetections?id=5938) to see if they were detected.

Once we looked at the detections we saw 14 obviously aliased tags — not s

[2022-02-03 19:05] StuMackenzie commented on #1094
We're discussing/examining this. No argument on the philosophical front, only the practical/urgency one.

A few things we are considering and need to sort out:

- how big/urgent is the actual security risk vs. the perceived?

- is this blocking any current actions or processes in sensorgnome development? (suppose that great inefficiency could be interpreted as a block)

- what will be the upfront

[2022-02-03 19:39] leberrigan opened #1098 "Fixes for tag deployment status; dealing with 'undeployed', 'pending', and 'unconfirmed' tags"
- [x] Put 'undeployed' tags under `Pending`
- [x] Tags that are 'unconfirmed' are currently listed under `Active` (good), but we want to add warning to indicate they need to be confirmed.
  - Within the deployment range columns of the table, text should be bold and red with "(unconfirmed)" as a suffix. E.g.  confirmed mixed with unconfirmed:
  - ![image](https://user-images.githubusercontent.com/3

[2022-02-03 19:54] j-sayers commented on #1089
I think we're good here after Denis found the leak. Closing for now

[2022-02-03 19:54] #1089 closed

[2022-02-03 21:24] tve commented on #1094
The biggest issue is that connected/online sensorgnomes need creds. With what I have now, we'd end up with some user's creds in every single online SG that gets deployed. Is that the end of the world, probably not, but someone could justifiably raise a stink. Also, the implementation of proper Oauth then becomes more complicated because there needs to be some migration from having the (by then) ol

[2022-02-03 22:37] denislepage commented on #1094
I haven't dug into the thread in details, but it would be good to understand how the new proposed approach, whatever that looks like, will affect users deploying receivers and connecting them to sensorgnome.org

I agree that user creds (passwords or login) should not be stored on units. I'm surprised if that's the case now. Can't tokens be used as a valid replacement though? We can have tokens tha

[2022-02-04 01:23] joeybernard commented on #1019
Does anyone have a day/time when this occurred? Ideally, would you also have the IP address of the machine that you were using when you ran into the issue?

[2022-02-04 01:28] tve commented on #1094
With OAuth, the way it would look like is that the user clicks a button in the SG Web UI, gets sent to Motus's IDP, logs in, gets redirected back, and thereby the SG obtains what's called a refresh token with which it can make API calls to Motus.org and Sensorgnome.org to upload data, send telemetry, etc.

Currently SGs store an SSH key, which anyone on the planet can get a copy of by making a sim

[2022-02-04 01:40] denislepage commented on #1019
Last time I tried, it was relatively easy to trigger it, but I am not having this issue now.

My github post from 22 November has some details, and this is when I would have tried. At least one IP address at the office should have been 174.140.187.254. More likely in the evening or later afternoon, if that helps narrow it down.

[2022-02-04 01:44] joeybernard commented on #1019
Unfortunately, the logs only go back to ~Jan 21.

[2022-02-04 01:58] denislepage commented on #1019
Also, if you try to reload the page before it finishes loading, there is an error showing briefly, but that is likely unrelated as the page then reloads ok afterwards.

[2022-02-04 04:27] dfloer commented on #1094
The current way of authentication with Motus is definitely leading to significant extra work on the sensorgnome.org rewrite. Is this absolutely necessary to do right now? No, but it is the sort of thing we should strongly consider doing.

I think this was mentioned on Slack, but if Motus is going to be troublesome to implement this on, then the next best spot is sensorgnome.org could be the provid

[2022-02-04 14:12] j-sayers commented on #1019
Earlier in the week Thorsten suggested having a look at the header in my browser while trying to access the site. The auth_tkt value in my case is very long as it seems each authorized project is explicitly listed in the header. In my case the auth_tkt it was over 1800 characters long, and that's after notepad++ converted the %2C between each project number to commas.

As the number of projects co

[2022-02-05 13:47] leberrigan opened #1099 "Cannot upload data - SensorGnome service authentication error"
I noticed this last night. I am unable to upload data or access job logs for any project and any user. Restricted to the following page (other management pages work fine): https://motus.org/data/project/sgJobs

![image](https://user-images.githubusercontent.com/35931796/152644594-20971a77-47a2-424a-8b42-595041a41c3d.png)

[2022-02-05 14:12] leberrigan commented on #1019
Cookies! Go into `Developer tools` > `Storage` > `Cookies` > Right click on `auth_tkt` and delete. Worked for me!

[2022-02-07 17:04] j-sayers opened #1100 "Networked receivers haven't synced data in several days"
Networked SG in Ontario appear to be checking at sg.org but none have synced data since around the 3rd of 4th.

Example [Auzins ](https://motus.org/data/project/stations?setStationId=11207)which has no data since the 4th but still regularly sending data according to [sg.org/status ](https://sensorgnome.org/status/)

[2022-02-07 17:13] #575 closed

[2022-02-07 17:14] #632 closed

[2022-02-07 17:16] #654 closed

[2022-02-07 17:16] #676 closed

[2022-02-07 17:16] #725 closed

[2022-02-07 17:19] #748 closed

[2022-02-07 17:19] j-sayers commented on #750
Unresolved but closing

[2022-02-07 17:19] #750 closed

[2022-02-07 17:22] #757 closed

[2022-02-07 17:23] #777 closed

[2022-02-07 17:24] #790 closed

[2022-02-07 17:28] #969 closed

[2022-02-07 17:30] #816 closed

[2022-02-07 17:31] #839 closed

[2022-02-07 17:32] #840 closed

[2022-02-07 18:17] j-sayers opened #1101 "Remove requirement for attachment type if tag deployment is set to the future"
Attachment type field should not be required for tag deployment with dates in the future.

[2022-02-07 18:56] j-sayers commented on #931
This may be related to a missing patch. There was a patch in 2019-04 that addressed "problems with connecting to the new sensorgnome.org server". This is often not re-installed along with fresh software. Closing for now.

[2022-02-07 18:56] #931 closed

[2022-02-07 19:01] j-sayers commented on #919
Whatever the latest occurrence was, it's not an issue anymore.

[2022-02-07 19:01] #919 closed

[2022-02-07 19:02] j-sayers commented on #947
This has been implimented

[2022-02-07 19:02] #947 closed

[2022-02-07 19:07] j-sayers commented on #912
Re-running the receivers addressed the incorrect detections, but there is still a bit of a mystery what happened.

[2022-02-07 19:07] #912 closed

[2022-02-07 19:11] j-sayers commented on #949
Ongoing, but not a huge priority

[2022-02-07 19:11] #949 closed

[2022-02-07 19:13] #959 closed

[2022-02-07 19:20] #694 closed

[2022-02-07 19:23] #633 closed

[2022-02-07 19:31] #1080 closed

[2022-02-07 19:43] #1030 closed

[2022-02-07 23:21] denislepage commented on #1099
OK, pushed to live.

[2022-02-08 00:12] denislepage commented on #1099
@leberrigan once you confirm that this resolved the issue, you can close

[2022-02-08 12:05] #630 closed

[2022-02-08 12:08] j-sayers commented on #681
Unfortunately I didn't include screenshots here. The plots no longer match the description.

[2022-02-08 12:08] #681 closed

[2022-02-08 12:23] leberrigan commented on #1099
Looks good, thanks!

[2022-02-08 12:23] #1099 closed

[2022-02-08 13:05] j-sayers opened #1102 "Permission error when trying to register tags"
I've been trying to register tags for Project 294 but keep getting the following error;

![image](https://user-images.githubusercontent.com/55001144/152991450-32c229f0-0279-4aaa-a515-585f53e4069d.png)

This has been the case for a couple days. I figured it might be fixed as with #1099 but it still is an issue after that recent fix

[2022-02-08 13:25] eageldart commented on #1102
I am in communication with Thomas Rasmussen, who is also receiving this error when trying to upload tags to project 235 in the last couple of days.

[2022-02-08 13:39] leberrigan commented on #1076
Adding a new landowner logs you out of your Motus session:
![image](https://user-images.githubusercontent.com/35931796/152998467-30856757-0d3e-4e63-ab18-8a9720aec4a7.png)

Modifying a landowner does not.

[2022-02-08 16:54] j-sayers commented on #1100
Looks like they are back up to date again

[2022-02-08 16:54] #1100 closed

[2022-02-08 17:24] j-sayers commented on #1019
Clearing the cookies doesn't usually work for me.

It's back to just not working for me now.

[2022-02-08 18:10] denislepage commented on #1100
Potentially due to the catching up of CTT files last week,  as they pushed the dual mode data. That would have likely stalled the transfer from sgdata

I will look into what was imported.

[2022-02-10 15:13] j-sayers commented on #1056
Perhaps the same issue occurring here? https://motus.org/data/project/stations?setStationId=9806

I keep "deleting" the receiver deployment but it's still there.

![image](https://user-images.githubusercontent.com/55001144/153436758-e801d066-56d6-454c-a9f6-b4228ad07dbe.png)

[2022-02-10 15:14] j-sayers commented on #1056
Same as #595?

[2022-02-10 15:43] j-sayers commented on #1102
This has been resolved. @eageldart the tags you referred to were also registered successfully (all but one tag, which was likely due to the recording)

[2022-02-10 21:40] #937 closed

[2022-02-11 15:40] j-sayers commented on #1095
Added priority label since Erica has been emailing many projects about fixing metadata. There will be a lot of people going in here and trying to use this page to dig down into their issues.

[2022-02-11 16:15] leberrigan commented on #1038
Just looking for an update on this - do you know if manual uploads are getting processed yet?

[2022-02-11 16:51] leberrigan opened #1103 "Do we store daily summary reports from Iridium-networked SS?"
If not, does CTT make them available to us?

These are valuable data for system health reporting. If we can get at least daily resolution on station up time using summary reports, that would suffice. Bonus if we're able to tell which antennas are functioning each day.

I'm asking in regard to the offshore wind projects where many of them will be satellite networked and health reporting will be imp

[2022-02-11 18:18] leberrigan opened #1104 "Stations with type 'buoy' not showing up on receivers map"
It seems like the issue is stemming from 'isMobile' flag being blank rather than FALSE.

Example receiver: https://motus.org/data/receiverMap?receiverDeploymentId=8390

[2022-02-11 19:59] denislepage commented on #1103
We'll need to follow up with CTT. I suggested that the data should come through the same process as the rest of the CTT data. Trying to remember the last discussion, but wasn't one of us (Lucas?) going to look into what fields we wanted to integrate into our dashboards, and which ones needed to be archived for R users? We may be talking about 2 different things (e.g. CTT Station log data?), but th

[2022-02-11 20:14] StuMackenzie commented on #1103
bob send us a sample of the data they collect and then we were going pick up the conversation again. I think Catherine has it? I can look.

____________________

[2022-02-11 20:31] StuMackenzie commented on #1103
CTT Checkins are here - https://drive.google.com/file/d/1jAlrnaLdxHaD00lYIIWVO5ItyxAGBbpE/view?usp=sharing

Ideally we'll want some consistency with respect to whether they are SS, SG's or LOtek depending on which receiver it is. Not all receivers need to display all teh same info.

[2022-02-11 20:31] StuMackenzie commented on #1103
From Bob

"**Hi Denis, Catherine - it was good to sync up with satellite integration protocols.

I'm attaching about 200 of the most recent checkin reports from V2 Sensor Stations. The format of the file is a new line for each record in the following format
•	YYYY-MM-DD HH:MM:SS: {JSON}
where JSON is the JSON representation of the health / statistics of tag beeps since the station was powered on.

[2022-02-11 22:43] denislepage commented on #1104
There were 2 issues, now fixed. The type was misspelled, with extra space characters (and/or some other non alpha chars). There was also no integrity between the deployment and the fixture type table to prevent invalid types from being saved. This also affected 2 depl for Turbine.

[2022-02-11 22:43] #1104 closed

[2022-02-12 00:24] denislepage commented on #1038
CTT said today that they are now looking into those files.

[2022-02-12 01:17] denislepage commented on #1095
I changed the link in sandbox to the general page where tags are now managed: https://motus.org/data/project/tags

There is no distinct page in the case of tag properties that we can send people to.

In one of these pages, perhaps the stations page, Paul had set up a way to open a specific ID in the right panel, but I am not finding this for tags.

Anyway, that’s already a step better than 404, an

[2022-02-14 16:19] Hussell commented on #1095
This is the closest I can manage:
https://motus.org/data/project/tags?setTagId=60394&projectID=377#tagSummary

You still have to learn to ignore the stuff on the left, and find and click the "Modify tag" button. Why is this in a modal dialog only accessible from this page instead of having a dedicated page for the task?

[2022-02-14 17:06] j-sayers commented on #1095
That's good, as long as the links go somewhere

[2022-02-14 17:16] denislepage commented on #1095
We also still need to deploy to live. Jeremy could you merge and confirm?

[2022-02-14 17:48] j-sayers opened #1105 "Search bar in Manage Tags to return matches of tagDeployID in addition to tagID"
The search bar in Manage Tags only matches tagID.

It would seem useful to allow searching for tagDeployID as well.

[2022-02-14 19:45] ajmacdonald3 commented on #1058
@steffilazerte, right now the PDF of the old R Book is hosted on motus.org. Is it possible to host it on the new motus pkgdown website, or is it preferable to keep it on motus.org?

Also, I apologize for how long it's taking me to get through chapter 5. I am working on it, but I don't want to hold everyone up on pushing to live. I know folks have been asking about updates to the R Book, so if it's

[2022-02-14 20:16] steffilazerte commented on #1058
Hi @ajmacdonald3, no apologies! I'm so excited that you're able to take the time, so take however long you need. If we need to go live before you're done, we will and I'll just add your edits in after.

As for the motus book, well, short answer is, yes, absolutely. However, we might want to link the new documentation to motus.org as well (shouldn't be too trick, I think). But I think you're right

[2022-02-14 21:57] leberrigan commented on #1103
@denislepage: I think this is a different issue. We also want to provide a way to sort out whether the station is networked or offline which may have be something like the number of uploads to Motus over the past 24 hours, or something similar.

@StuMackenzie: Catherine had sent me that file, but it looks like all the check-ins come from stations with modems connected to the cell network. Do we ha

[2022-02-15 12:35] leberrigan commented on #1105
If we are to do this we need to fix the column header labelled 'ID' which is confusing when searching for two different IDs types at once. I'm going to make a new Git about this because the text fragment key is shared between multiple different tables/ID types so I can't change it yet.

[2022-02-15 13:09] leberrigan opened #1106 "Change text fragment keys 'ID' and 'ID_NUM' in all tables"
There are several tables which all share the same text fragment key ('ID' or 'ID_NUM'), but we should be able to change them to be more specific. E.g.; if I were to change 'ID' in tags table to 'Motus Tag ID' it will also change stations table, etc.

I have listed the files below based on what changes need to be made.

Change `lange.e('ID')` to `lange.e('stationDeployID')`:
 - data/receiver/recvsT

[2022-02-15 13:56] j-sayers commented on #1105
Agreed, and that would add some much needed clarity between the two ID's as well

[2022-02-15 14:05] eageldart opened #1107 "Bulk upload of tag deployments not working for project 78"
I am trying to use the bulk metadata upload tool to add metadata to project 78. Once I complete my upload, I get the following message:

**Upload Complete**
Your data has been successfully transferred to the Motus Database.
**New deployments created::** 0
**Existing deployments that were updated::** 0

When I check the tags I tried to change in the Tag Management Page, my changes are not made.

I

[2022-02-15 17:18] j-sayers commented on #1091
I made a list of general comments related to functionality across the site here: #1108

[2022-02-15 21:39] denislepage opened #1109 "Robots.txt being ignored by Microsoft"
I saw the same thing with NatureCounts. Bing crawlers are reaching pages that they should not based on robots.txt directives. In some instances, this creates errors, so I'd really like to try to prevent crawling most of our data related pages, except for a few things.

https://motus.org/robots.txt

There are noindex directives that we could potentially add to the banner, but that works differently

[2022-02-15 22:25] ajmacdonald3 commented on #1058
Thanks @steffilazerte! Okay, I have finished going through the complete walk-through: chapters 1-6 (https://github.com/MotusWTS/motus/pull/15). I've updated the mapping and fixed a lot of datetime formatting issues that were causing plots to render incorrectly in chapter 5. If the pull request isn't the best way to provide the edited articles, let me know.

[2022-02-15 22:27] ajmacdonald3 commented on #1059
https://github.com/MotusWTS/motus/pull/15

[2022-02-16 01:31] denislepage commented on #1109
I've made a few changes to the robots file. I'll need to check later on in the web logs if this has had an impact.,

[2022-02-16 01:35] ajmacdonald3 commented on #981
@steffilazerte, are we able to push any of the fixes in the beta4 branch to the master branch? The `filterByActivity()` function isn't working properly, but I think you had already fixed it in beta4 (https://github.com/MotusDev/Motus-TO-DO/issues/871).

[2022-02-16 14:57] steffilazerte commented on #981
I'll see about that, sometimes the beta branch changes relate to the beta version of the API as well, so it's not always straightforward. I think that's something I need to think about going forward, i.e. making small changes separate from the API easier to implement.

I'll look into getting this all merged and working this week.

[2022-02-17 22:57] denislepage commented on #1107
Here's the error that I am getting when trying to run the import (which is failing silently):

"Start date is greater than or equal to the end date"

This currently applies to 2 tags, both of which are flagged as test tags. Although there is a validation in place for this condition, it is being ignored because these 2 are test tags.

This is the problematic section (last condition where test != 1)

[2022-02-24 13:24] eageldart commented on #1107
Thank you for looking into this, Denis.

I tried immediate fix #1 and it worked. I will keep an eye on this for future silent errors in the meantime.

Would you like me to close this issue, or keep it open to continue to discuss immediate fixes #2 and #3?

[2022-02-24 13:59] leberrigan opened #1110 "Motus Dashboard API"
The following tables and columns are what I require for the dashboard integration. I tried to be clear about what I'm looking for and there's also a bit of flexibility in some instances that I've indicated.

This includes everything except for det_tagHitsTracks – that can be found in #1087.

Only show stuff where data is open.

---

### Stations
- API returns the **entire table**.

stationID | pro

[2022-02-24 16:18] Hussell commented on #1095
I've been going through all the links in the data issues center. There are 13 distinct links, of which 6 are good, 5 bad, and 2 ugly. There are multiple copies of most links though, so 33 out of 42 types of issue needed updates to their links.

Most changes are simple, but there are some complications.
 - v_dist_deploy_gps_2 and v_dist_deploy_gps_3, the warning and error respectively about GPS hit

[2022-02-24 16:40] Hussell commented on #1106
Note that 'ID' and 'ID_NUM' correspond to different text, namely "ID" and "ID #" ("ID" and "No. d'ID" in French).

If we want to change the text on a particular table from "ID" to "Station ID", then the text fragment *identifier* should be changed from 'ID' to 'Station_ID'. We should not ever change the text associated with the identifier 'ID' to "Station ID" nor with the identifier 'Station_ID' t

[2022-02-24 16:59] leberrigan commented on #1095
1. Makes sense. That means the links should also change once Catherine makes so that the station ID is returned?
2. Interesting. Might be because of lines 117:122 of `ManageStationsServlet.java`:
[code]
3.  Agreed. We should discuss a better workflow for this and how it could be implemented (another url parameter?).

[2022-02-24 17:54] cjardine-bsc commented on #1095
RE: 1. v_dist_deploy_gps_2 and v_dist_deploy_gps_3, the warning and error respectively about GPS hits far from the recorded location of a receiver deployment, used to link to the page to edit the deployment. Now the lat/lng aren't associated with deployments, so @cjardine-bsc should rework these two issues to return the station ID which needs to be edited.

The lat/lons used are from vwBase_gps, w

[2022-02-24 19:31] leberrigan opened #1111 "Notifications for offline stations"
#### Station management
- Toggle which says "Alert me if this station hasn't received data for over 3 days".
- Drop down to select user which receives email (current user is default).

[2022-02-24 19:49] j-sayers commented on #1111
I think this also relates to [general improvements to handling data issues](#738 )

[2022-02-24 19:50] cjardine-bsc commented on #1111
Two new fields added to sensor_deployments

alert (bit)
alert_user (int)

[2022-02-24 20:02] #470 closed

[2022-02-24 20:02] #430 closed

[2022-02-24 20:02] #449 closed

[2022-02-24 20:02] #431 closed

[2022-02-24 20:03] #536 closed

[2022-02-24 20:03] #548 closed

[2022-02-24 20:05] leberrigan commented on #558
@denislepage Can we close?

[2022-02-24 20:07] #543 closed

[2022-02-24 20:08] leberrigan commented on #594
Issue is still a problem today

[2022-02-24 20:09] #830 closed

[2022-02-24 20:10] #595 closed

[2022-02-24 20:10] #622 closed

[2022-02-24 20:13] leberrigan commented on #623
We need to make sure this was resolved – it's been too long since I've worked on this

[2022-02-24 20:13] leberrigan commented on #648
Archiving. This is more a thought than an issue.

[2022-02-24 20:13] #648 closed

[2022-02-24 20:15] #638 closed

[2022-02-24 20:15] leberrigan commented on #698
We did it!

[2022-02-24 20:15] #698 closed

[2022-02-24 20:16] #723 closed

[2022-02-24 20:17] #762 closed

[2022-02-24 20:22] leberrigan opened #1112 "How to indicate which projects are public"
From Catherine in #720:

We need a way for each user to find out which projects are public so they know what they can access.

We talked about a couple ways we could do this, including

-Flagging public projects on the project exploration page: https://sandbox.motus.org/data/projects
-A new R function that returns a list of projects that are public.
-A list on the profile page: https://sandbox.mot

[2022-02-24 20:23] leberrigan commented on #720
Closed in deference to #1112. This thread has done its course.

[2022-02-24 20:35] eageldart commented on #594
If there isn't already, maybe we want to add information somewhere on the website (instructions for bulk upload, or guides) to strongly encourage people to download a fresh tag deployment excel sheet each time they want to make updates. I will look in the motus guides to see if there is anywhere I can add this information.

[2022-02-24 20:54] cjardine-bsc commented on #594
Yeah, those places are covered in my comment above. @leberrigan or @j-sayers or @ajmacdonald3 can one of you make those changes?

In the mean time I'm going to try and figure out how to stop this from happening. I'm down a rabbit hole.

[2022-02-24 23:16] denislepage commented on #558
Yup. As far as I can tell, we haven't seen any data from dual mode receivers using the old format in quite some time. The scripts that checks in the data files was turned off some months ago. There are still outstanding issues regarding dual mode data, but different from this thread.

[2022-02-24 23:16] #558 closed

[2022-02-24 23:25] denislepage commented on #594
A problem can happen if people are uploading outdated files, which can risk overwriting more recent data.

I’m wondering if a solution could be to have a date field in each row (timestamp would be ideal), which is basically the time of the export. If people try to import using a file that is too old, we could potentially warn them?  Something like:

Warning: 100 records were created from an export

[2022-02-25 00:18] #1092 closed

[2022-02-25 15:25] Hussell commented on #1109
I noticed robots.txt was not being deployed to sandbox and beta, and fixed it.

[2022-02-25 15:58] denislepage commented on #1109
I think those 2 should block all agents and pages.

We don't want them crawling around.

[2022-02-25 16:14] Hussell commented on #1095
I forgot some things on the call. There are two links needed for the receiver location warning and error:
 - The "View" link, which requires the receiver deployment ID.
 - The "Edit" link, which requires the station ID.

The links can include the columns 'project_id', 'id', and 'id_conflict' in the table adm_validation_errors. I can update the data issues servlet so they can also include the colum

[2022-02-25 16:24] Hussell commented on #1109
Done. robots.txt is now one of the server-specific configuration files, and the versions in the beta and master branches disallow everything for all agents.

[2022-02-25 19:41] Hussell commented on #1095
Fixed 2. by adding some code to make sure all other parameters are copied into the redirect's query string.

[2022-02-25 21:25] StuMackenzie commented on #1044
@Hussell just elevating this.

[2022-02-27 03:41] denislepage commented on #866
I bit the JDK bullet.

I have started experimenting with Java JDK 17. So far, I haven't run into too many issues. There were some deprecated constructors for primitive data type (Integer, Double, Long, etc.), so I changed a larger number of files (more so in bscbase). The code should still compile fine on our older Java 8, but the classes compiled with Java 17 won't work on Tomcat running an older

[2022-03-02 16:54] leberrigan commented on #1095
New text language (translated using Google):

### v_dist_deploy_gps_2

#### English

#### French

#### Spanish

---

### v_dist_deploy_gps_3

#### English

#### French

#### Spanish

[2022-03-02 20:40] cjardine-bsc commented on #1110
For stations and station deployments do you want me to include or exclude test stations?

[2022-03-02 20:46] denislepage commented on #1109
We can close for now. We'll reopen if we need.

[2022-03-02 20:46] #1109 closed

[2022-03-02 23:24] #1072 closed

[2022-03-02 23:24] #1065 closed

[2022-03-02 23:24] #1066 closed

[2022-03-02 23:25] #1059 closed

[2022-03-02 23:25] #981 closed

[2022-03-02 23:25] #1069 closed

[2022-03-02 23:26] #1068 closed

[2022-03-03 01:21] cjardine-bsc commented on #1110
@denislepage  There are a few questions to resolve above, but if you're keen to start creating entry points for Lucas the views are in your inbox.

[2022-03-03 01:39] cjardine-bsc commented on #1095
@denislepage can you look over the french and give it your blessing? Then I'll update the DB.

Way to be bilingual :-)

[2022-03-03 19:49] j-sayers opened #1113 "We need better enforcement of Lotek receiver type during registration"
I was just looking to see how many detections exist from SRX 1200 receivers.

Though there are at least a few SRX 1200 out there that have uploaded data, none of those receivers were registered at LotekSRX1200.

~~Is defining the correct SRX model necessary for tagfinder? There are actually 8 different variations of Lotek receivers offered during registration.~~\

Unlike previous SRX models, which

[2022-03-03 20:06] j-sayers commented on #1004
Everything seems to be working here. Lotek fixed the NULL issue and uploads have been tested by a few projects.

[2022-03-03 20:06] #1004 closed

[2022-03-03 20:19] j-sayers commented on #1113
...Maybe not for tagfinder but for metadata it is important as SRX1200 **always** export detection data in UTC.

[2022-03-03 20:25] j-sayers opened #1114 "Deployed receivers showing up as undeployed and selectable"
When using "update receiver properties" admin tool in receiver deployment deployed receivers show up in the list as undeployed and selectable. https://motus.org/data/station/deployment/edit?projectID=406&id=8089

Both of the receivers here have active deployments.

![image](https://user-images.githubusercontent.com/55001144/156646967-45ebaadc-34c4-4dc2-b155-8963bba6497e.png)

[2022-03-03 20:31] j-sayers opened #1115 "UTC offset option should not be available for Lotek SRX 1200 receivers"
Lotek SRX 1200 receivers always export data in UTC so UTC offset.

The option to select UTC offset should be greyed out or not displayed at all for these receivers to avoid this being set.

Below is an SRX 1200 where the station manager set the UTC offset as would have been correct for all previous Lotek receivers. Unfortunately now this will result in data with incorrect times.

![image](https://

[2022-03-03 20:32] j-sayers opened #1116 "Can't modify or delete UTC offset for Lotek receiver"
I'm trying to remove the UTC offset for a couple SRX 1200 receivers, as they always export data in UTC.

But I can't delete or modify the value.

[2022-03-03 20:34] j-sayers commented on #1116
Correction: you can change it to 0 by selecting "add UTC offset" then saving. Not obvious but it works.

[2022-03-03 20:34] #1116 closed

[2022-03-04 01:47] denislepage opened #1117 "Modify Ant build to include the new dashboard folder"
I created a new /dashboard root folder in the Motus git repo, which will contain Lucas's dashboard application.

@Hussell can you modify the ant build to make sure that this new folder will be uploaded during the ant build processes.

```<toRemote server="@{server}" remoteDir="motus_@{server}_iis/dashboards" localDir="${docs.dir}">```

@leberrigan, you should move your application into that new fo

[2022-03-04 19:00] j-sayers opened #1118 "motus credentials not accepted on sandbox"
I'm trying to log in on Sandbox but my credentials are not being accepted.

No issue on Live or Beta. I've tried deleting cache and cookies but no change.

It's been a few weeks since I've logged on to sandbox so I'm not sure when this started.

[2022-03-06 02:56] joeybernard opened #1119 "sgdata monitoring"
This issue is to track the improvements made to monitoring system resources on the server sgdata. There are several items that need to be implemented so that the appropriate information can be recorded to help with other debugging issues. We need to do the following"

- [ ] Re-enable systemd journaling
- [ ] install and configure nmon for system resource monitoring
- [ ] install and configure acct

[2022-03-07 15:36] j-sayers opened #1120 "Simplify receiver registration process"
The current options presented for receiver registration are quite confusing (below).

![image](https://user-images.githubusercontent.com/55001144/157064736-51bb2fcc-f4c6-4e40-9158-98473ffd9ccc.png)

I think if we split this up it would make the process easier to navigate

1) First option only presents the 4 supported receiver types

![image](https://user-images.githubusercontent.com/55001144/15706

[2022-03-07 16:49] j-sayers opened #1121 "No recent data from networked receiver despite continued syncing"
[This is an SG](https://motus.org/data/receiverDeployment?id=8346) running version `SG 2022-061`

It's connected at BSC HQ via Ethernet, which doesn't seem to have the same issues as the WiFi here. From what it seems it has been regularly sending data, according to the SG itself and sg.org/status

![image](https://user-images.githubusercontent.com/55001144/157077624-9f863185-9e66-4f13-a44e-e5a52fc

[2022-03-08 14:53] eageldart opened #1122 "Implement a 'not banded' check box on Tag Management page"
We have recently made **Federal band (ring) number** a required (when available) field for tag deployment metadata. In most cases, birds that are tagged are banded, but there are some instances where they are not (weight issues, etc). Bats are only banded in some projects, and insects are not banded.

As of right now, if someone does not fill out the 'Band number' field, it is unclear if they are

[2022-03-08 15:54] eageldart opened #1123 "Unable to change station deployment receiver - also cannot delete the deployment"
I am trying to change the Sensorgnome serial # for receiver deployment 8434 of Project 78. When I try to do so using the 'Update receiver properties' button, I get an error associated with the following reference number: 1646754236909. I have attached some screenshots of the error message.

![Error reference number 1646754236909 A](https://user-images.githubusercontent.com/94930170/157274664-fc6b7

[2022-03-09 13:37] leberrigan commented on #1110
Exclude please.

I don't have a good way to deal with them yet. Can we exclude them for now?

Sounds good to me

I believe we settled on `sensor_id` last call.

Antenna type

All pulse counts please.

Uhh woops... I do need those! Table has been updated

Sure, but let's use `tagDeployID` and `stationDeployID`.

Yes, please.

That's fine. It will allow me to link to websites with species info by mo

[2022-03-09 13:42] leberrigan commented on #1121
Oh phew, it's not just me! My test setup is also not syncing...

[2022-03-09 13:48] leberrigan commented on #1120
Yeah this really needs some work, eh? I think your idea makes a lot more sense and is not so overwhelming to deal with. The problem here is that we're beginning to pile up a list of these improvements. Perhaps we should keep an updated list somewhere, like here? https://github.com/MotusDev/Motus-TO-DO/wiki/Fixes-to-Beta-10

[2022-03-09 14:31] j-sayers opened #1124 "New Station dialog pre-populated with "NUL""
When adding a new station, the name field is prepopulated with a "NUL" character.

![image](https://user-images.githubusercontent.com/55001144/157461371-d458d75f-b2ae-4376-87ff-7419be202bd6.png)

The character can be specifically deleted but if not it will be written into the station name. A station can also be created with only "NUL" as the name.

![image](https://user-images.githubusercontent.co

[2022-03-09 14:32] j-sayers commented on #1124
I've also never seen this bug before when creating stations.

[2022-03-09 14:59] j-sayers commented on #1121
@Hussell Are you to look up job logs for this receiver (SG-68B4RPI33F06) and SG-0B2DRPI3DBAC to see if there's any indication there what's failing?

[2022-03-09 16:08] leberrigan commented on #1117
I have uploaded my files to the new folder, but I can only access files in the `dashboards/images/` and `dashboards/photos/` folders. All other folders have one of the following issues:
1. The file is not found:
   - **Includes:** all files in the `dashboards/maps/` folder
   - **Example:** https://sandbox.motus.org/dashboards/maps/motus-regional-collaboratives.geojson
2. Wordpress takes over an a

[2022-03-09 21:37] cjardine-bsc commented on #1110
Can I change receiverID to sensorID then? It might save confusion in the long run.

Can I merge the pulse counts and gps fix into one view? They both presumably need sensorDeployID?

RE:

    Would you like me to include or exclude test tag deployments?

Yes, please.

......sooooo.....exclude?

[2022-03-09 22:39] leberrigan commented on #1110
Yes!

Yes!

Yes!

[2022-03-10 18:50] leberrigan commented on #1118
Did you change your password in the past? I noticed mine had reverted to the old one

[2022-03-10 19:27] j-sayers commented on #1118
That's it. Turns out the Live/Beta and Sandbox passwords are independent of each other.

[2022-03-10 19:27] #1118 closed

[2022-03-10 20:36] leberrigan opened #1125 "Review Changes to Motus pages on Sandbox: main menu, "Home", "About", "Resources", and "Get Involved""
### Changes made
- Menu simplified to 4 options: "About", "Resources", "Explore Motus", and "Manage"
- Home page has been adjusted to fix a few cosmetic bugs and change the colour-scheme a tad bit.
- About hasn't changed much from current website, except two paragraphs of intro text have been moved to the top. "Get involved" has been added to the link table here.
- Resources has changed in terms o

[2022-03-10 20:42] leberrigan commented on #1123
Can you take a look at that example again and post links to the deployment and provide the receiver ID and serial number? Just trying to keep this from getting buried

[2022-03-10 20:50] leberrigan opened #1126 "Review first drafts of Motus website redesign"
Jarrad has provided us each with links to his redesign - check your emails. We need to provide him with feedback which I have posted a draft of here and have also forwarded to you in email.

[2022-03-10 20:50] leberrigan commented on #1091
Closed since we've already communicated these ideas to Jarrad. Next step is #1126

[2022-03-10 20:50] #1091 closed

[2022-03-10 20:53] eageldart commented on #1123
Here is where I am trying to Update receiver properties and Delete deployment:
https://motus.org/data/station/deployment/edit?projectID=78&id=8434

I want to change the Receiver ID from SG-0B2DRPI3DBAC (current, incorrect) to SG-0855RPI39CDE (correct)

I checked and the receiver that I want to switch it to was terminated.

[2022-03-10 21:41] cjardine-bsc commented on #1056
You're trying to delete Deployment ID:
8263?

[2022-03-10 21:55] cjardine-bsc commented on #1123
The problem is a duplicate in the DB.

This ReceiverID is already registered to this project

You need to move the deployment to the correct receiver and then I can delete the bad serial number.

Something for the website list, the webpage should handle the response from the proc that the receiver is a duplicate and display an error message to the user.

[2022-03-10 22:11] leberrigan commented on #1115
This has been labeled since it can result with bad data

[2022-03-11 11:26] leberrigan commented on #1123
The issue here is that we can't change the `ReceiverID` for this deployment to the correct one because it isn't showing up in the list of 'undeployed receivers', even though it isn't deployed. We also can't delete the deployment, as Erica described.

To work around this issue, I modified the erroneous deployment so it ends 1 minute after starting (on 2021-07-20) and then added a new deployment to

[2022-03-11 12:02] leberrigan opened #1127 "Bulk tag deployment tool: silent errors for test tags when tsStart == tsEnd"
When uploading tag deployments using the bulk uploader tool, the import fails silently if there are test tags which have start dates equal to end dates. This is probably a somewhat uncommon occurrence, but hinders the tool unusable for any project which may have accidentally entered dates in this manner. It's easy to individually resolve these issues if we're made aware of the problem, it's just t

[2022-03-11 12:06] leberrigan opened #1128 "Bulk tag deployment import proc fails silently"
### Problem
When uploading tag deployments using the bulk uploader tool, the import fails silently if there are test tags which have start dates equal to end dates.

---
### Solution
Ideally, we should prevent this proc from failing silently so we can identify any other validation steps that may have been missed.

---
### Background
Issue first raised in #1107. Issue relating to this specific vali

[2022-03-11 12:07] leberrigan commented on #1107
Seeing as you're immediate issue has been resolved, I will close this issue in deference to #1127 and #1128.

[2022-03-11 12:07] #1107 closed

[2022-03-11 12:21] leberrigan commented on #1103
The answer is no, but we will soon!

[2022-03-11 12:21] #1103 closed

[2022-03-11 15:25] j-sayers commented on #1056
Yes please. And following that, station_id 9806

[2022-03-11 19:07] eageldart opened #1129 "Need clarification about merging two tags together"
I have been coming up with a list of duplicate tags that need to be merged. In some cases, a researcher on the project(s) will confirm that they accidentally created duplicate tag registrations and want them merged. However, there are some cases where I think merging might be the solution to some data issues in the Notification center (e.g., Tag Registered Twice: https://motus.org/data/issues?id=2

[2022-03-11 19:43] cjardine-bsc commented on #1127
Denis from #594

A problem can happen if people are uploading outdated files, which can risk overwriting more recent data.

I’m wondering if a solution could be to have a date field in each row (timestamp would be ideal), which is basically the time of the export. If people try to import using a file that is too old, we could potentially warn them? Something like:

Warning: 100 records were create

[2022-03-11 20:03] eageldart opened #1130 "Tag detections occurring from 1970's to early 2000s"
As I go through data issues on the Notification Center, I am coming across quite a bit of instances where tags are being detected outside of deployments , in particular, the detections are **starting** in the years 1972, 1980, 2000, 2004, to name a few. For example, see these data issues that I ignored: https://motus.org/data/issues?id=458#v_tag_hits_out_deploy_ignored  These detections are howeve

[2022-03-11 20:05] cjardine-bsc commented on #1130
Ugh. Bad GPS time stamps. I'll have to add a date cut off to that check. Thanks.

[2022-03-13 20:12] joeybernard opened #1131 "sgdata test site creation"
In order to have a fallback in case any changes to sgdata cause issues, a proper test installation is being created. The following is a task list:

   - [ ] create a new VM, using a clone of the virtual disk of sgdata
   - [ ] test upgrading the kernel, installing the kernel headers on test
   - [ ] test installing the veeam kernel module on test
   - [ ] propagate these changes to the production

[2022-03-14 14:51] j-sayers opened #1132 "Antenna port dropdown not populated, and cannot delete antenna without a port selected"
Project 467 is trying to update their station metadata for a [SensorStation](https://motus.org/data/station/deployment/edit?projectID=467&id=8316&edit=1).

These ended up somehow being saved without the antenna port set. Now that they are saved the dropdown remains unpopulated so they can not be corrected.

The page cannot be saved either so these antennas can neither be deleted, nor new ones with

[2022-03-14 16:29] cjardine-bsc commented on #1132
What deployment? I'll remove the empty antennas in the back end while we wait for a website fix of the root of the problem (might be a while).

[2022-03-14 17:28] eageldart commented on #1125
"about automated telemetry", "motus updates"  links lead to a page with the message:  "We are sorry. The page or resource that you are looking for cannot be found at this address. Please use our navigation menu to locate what you are looking for or return to the homepage"

[2022-03-14 17:36] j-sayers commented on #1132
[8316](https://motus.org/data/station/deployment/edit?projectID=467&id=8316&edit=1)

Thanks that will help for now.

[2022-03-14 19:35] cjardine-bsc commented on #1132
Huh. Actually. It might be a display issue. Here are the values in the DB. Are they correct?

![image](https://user-images.githubusercontent.com/22172758/158247635-0409f6ea-7ad7-4f28-9f3f-a2eefc5f4db0.png)

[2022-03-15 04:11] denislepage commented on #1132
I have been getting a related error: NullPointerException in class RecvDeploymentBean (line 601). The weird thing is the that line # is "frequency == null". There's a chance that the mixture of primitive double and wrapper Double is trying to force a Null object to a primitive, but I didn't yet manage to replicate that. In any case, I made the following change on the live site, if someone could te

[2022-03-15 10:57] leberrigan commented on #1125
Sorry - I forgot to mention that some links may not work. This is because the demo is on Sandbox and not all pages have been populated. Those which have broken links do not need to be reviewed.

[2022-03-15 18:46] denislepage opened #1133 "Old URL Parameter 'setStationId' causes Station API to fail"
I have seen this error several time today.

This is potentially the result of my pushing of the live branch yesterday. I don't expect this new error is the result of my change, but something else is throwing the error. The Illegal state error is most likely a secondary bug to another underlying issue. Can someone try to find out how to replicate this problem and post it here, or perhaps contact th

[2022-03-15 19:17] cjardine-bsc commented on #1129
Can you provide me with a couple examples. Date-bin will be important here, duplicates are allowed, but only over time.

I would suggest we should almost always select the tag that was registered second.

But yes, if we've tried to contact the user and had no response, we should assume that duplicates are errors (checking with Lotek is another venue we can pursue) and we'll have to do a merge. You

[2022-03-15 19:33] cjardine-bsc commented on #1130
I've made a change in SB. Can you give it a test?

[2022-03-15 19:49] cjardine-bsc commented on #1123
Ahhh okay, the problem is the dropdown list. The receiver you are looking for is not there. Now I understand.

![image](https://user-images.githubusercontent.com/22172758/158458713-26202e2a-a855-4a83-8f3d-c48bee9ae7bd.png)

You're trying to move a deployment from 2021-07-20 to that receiver.

![image](https://user-images.githubusercontent.com/22172758/158459018-34cd693d-fa6c-446a-bba8-7e2175978098

[2022-03-15 19:51] cjardine-bsc commented on #1123
If speed is an issue let me know and I can manually update the sensor_id for the deployment.

[2022-03-16 03:01] denislepage commented on #1121
The boot number would be in the file name itself, the 3rd value from the top. Your example uses 0, which is presumably not recognized as a boot number.

https://github.com/MotusWTS/motusServer/blob/master/inst/doc/motus_data_formats.md

Filename format: <site_label>-<receiver_number>-<boot_num>-<datetime><prec>-<type>-<ext>.gz

[2022-03-16 03:04] tve commented on #1121
Ah sorry, I didn't update the ticket here, only slack, yes, the problem is a boot number of 0... I fixed that in the SG.

[2022-03-16 13:40] j-sayers commented on #1133
I'll get a hold of them.

[2022-03-16 13:52] j-sayers commented on #1133
Just had a very similar error/issue when trying to view a [deployment page for a station](https://motus.org/data/project/stations?projectID=1&setStationId=9830) in Project 1

![image](https://user-images.githubusercontent.com/55001144/158605236-f24e61a5-8b54-4d87-81f5-f09a3c6c058c.png)

[2022-03-16 14:04] eageldart commented on #1123
I just successfully deleted deployment 8434. I am going to close this issue now.

[2022-03-16 14:05] leberrigan commented on #1130
Hmm.. We need another example. Project 458 isn't on Sandbox!

[2022-03-16 14:10] j-sayers commented on #1019
This definitely appears to be related to **permissions**, possibly due to very long length of the auth_tkt that was suggested earlier

then

If I set up a new test account with limited access I can login just fine. The issue with this day-to-day is that I then only have access to logs from that project. Often the project isn't known, which means this isn't overly useful. But as a workaround for no

[2022-03-16 14:15] leberrigan commented on #1133
It's a URL parameter problem. Clicking on the link on the station deployment page produces this error because it's using the old parameter that Paul had made for Station ID ("setStationID") when it should be `stationID`.

[2022-03-16 14:21] leberrigan opened #1134 "Bad link on Edit Station Deployment page"
Link in the station name hasn't been updated with the new URL parameter; it still contains `setStationID` when it should be `stationID`.

Example: https://motus.org/data/station/deployment/edit?projectID=1&id=2429

![image](https://user-images.githubusercontent.com/35931796/158611099-f1534eb6-a585-44b7-ac50-a3fb0355cc9b.png)

[2022-03-16 15:54] cjardine-bsc commented on #1123
@eageldart  How? I would like to confirm that there is not a problem with the drop down list before closing this.

[2022-03-16 15:58] tve commented on #1130
I'm not sure focusing on the date is a good idea. Yes, detections prior to the start of the Motus project are certainly indicative of the time&date not being set, but that doesn't include all such cases. I.e., while an ancient date indicates a problem, a recent date doesn't indicate the absence of a problem ;-). There's a letter in each file that indicates the accuracy of time synchronization or i

[2022-03-16 18:44] denislepage commented on #1133
I suspect these were introduced with the push I made earlier this week, and ideally, everything that goes in the live branch should have been tested in beta. If we can resolve this issue quickly, would reverting the most recent commits temporarily get rid of the error? I don't understand otherwise why the error did not manifest until this week.

@Hussell  can you confirm whether any new changes co

[2022-03-17 00:57] denislepage commented on #1133
The reported error (IllegalState) was relatively simple There were 2 consecutive redirects in ManageStationsServlet. You can't redirect twice, so I commented out the second one. There were some changes made on 25 Feb that left that second line behind inadvertently.

[code]
I have also changed the setStationId parameter in a few places, which may or may not have been causing this issue This is curr

[2022-03-17 00:58] denislepage commented on #1134
I have posted a few fixes changing setStationId to stationId. Ready to test in live.

[2022-03-17 02:00] denislepage commented on #1134
Hm. I see now. The problem was actually only the redirect. The setStationId= parameter was correct, but the redirect was being set to the wrong URL, and this was compounded by the double redirection.

I think I have it right, now, if tests can be made. I have posted the changes in all branches and servers.

[2022-03-17 02:12] denislepage commented on #1133
I'm going to close this one in deference to #1134  That one now only needs testing, hopefully.

[2022-03-17 02:12] #1133 closed

[2022-03-17 12:20] leberrigan commented on #1134
It's been tested and confirmed fixed. Thanks!

[2022-03-17 12:20] #1134 closed

[2022-03-17 13:01] leberrigan opened #1135 "Change link in 'Instructions' button found on 'Station Management' page"
The 'Instructions' button found below currently links to an old document that is no longer relevant. This link should be changed to:
https://docs.motus.org/motus-docs/project-management/station-management

![image](https://user-images.githubusercontent.com/35931796/158813532-f60159d7-d744-47cf-a4c9-061410097d49.png)

[2022-03-17 15:37] eageldart opened #1136 "Issue with an estimated tag deployment end date"
Tag ID 10348, deployment ID 26888, from project 20 (https://motus.org/data/project/tags?projectID=20) has an estimated end date that is before the deployment start date (see screenshots below). This is the only case that I have seen this issue, but I will post here if I find more.

[2022-03-17 15:37] eageldart commented on #1136
![image 2](https://user-images.githubusercontent.com/94930170/158836441-92884b25-71e4-4ad5-96b4-385a2583a1c2.png)
![image 1](https://user-images.githubusercontent.com/94930170/158836466-afac6348-105d-4600-b46f-a4c9d27afb3b.png)

[2022-03-17 16:01] Hussell commented on #1124
Fixed. This was a bug introduced while fixing another bug.

[2022-03-17 16:52] cjardine-bsc commented on #1136
Well....Its actually _kinda_ right.

The end date is 55 days after the start date of the initial deploy (2014-05-20 to 2014-07-15).

The problem is that first deployment (5073) its end date is way out of wack. Something is off with the metadata here. Or they deployed a long-dead tag on a bird.

[2022-03-17 20:11] cjardine-bsc commented on #1130
he raw data should be the same, so if the 1970s hits are missing from sandbox its a good indication all is well.

[2022-03-17 20:14] denislepage commented on #1132
Fixed.

It was a database issue. A small number of dongle types where saved as 'CTT Integrated', rather than 'Integrated (CTT SensorStation)'. Presumably something we changed along the way.

There was integrity validation, but both types were in lk_dongle_type, one without values in lk_device_dongles.

I have changed 140 antenna records associated with "CTT Integrated" to "Integrated (CTT SensorSt

[2022-03-18 00:52] denislepage commented on #1110
Progress:

Documentation: https://github.com/MotusDev/dashboard-api

Three formats available:

JSON Objects => https://sandbox.motus.org/data/dashboard/gps?deviceId=101&page=1

JSON Arrays => https://sandbox.motus.org/data/dashboard/gps?deviceId=101&page=1&fmt=jsonArrays

CSV => https://sandbox.motus.org/data/dashboard/gps?deviceId=101&page=1&fmt=csv

I made the longer results paginated, so you wi

[2022-03-18 01:13] denislepage commented on #1110
Also, there are currently no restrictions on access on any of the calls. It may not be unreasonable to put the dashboard behind a login, but I'm not sure. The way it is set up now, it'd be easier to add restrictions, or customize what people can see based on their permissions.

[2022-03-22 02:25] denislepage opened #1137 "Motus procs queue changes"
In the process of moving our code to JDK17, I have made numerous changes to the code.

I have rewritten large parts of the procs queue that handle automated tasks. Most of the tasks are largely unchanged, but the process of handling the tasks and dealing with possible concurrency issues has changed.

The currently deployed sandbox (based on the jakarta branch) is the one handling the sandbox procs

[2022-03-22 02:40] denislepage opened #1138 "New beta 11 branch - uploads need testing"
In the various changes I made to the upcoming beta11 branch (now jakarta,) one that should require testing are the upload functionalities. Those are ready to test on the sandbox site right now.

[2022-03-22 02:45] denislepage opened #1139 "beta11/sandbox unit testing"
The sandbox site will need some thorough testing before we can deploy to beta (which is still running beta10 now).

I have created a way to perform unit testing that would likely help us confirm now, and in the future, that certain pages are working. This could apply to the web site, including pages that require authentication, as well as API calls (with or without auth tokens). I have this set up

[2022-03-22 02:54] denislepage commented on #557
Moving to the "ideas" project and closing for now.

[2022-03-22 02:54] #557 closed

[2022-03-22 19:31] leberrigan commented on #1031
I can't connect to the management or and `/data/` pages right now.

[2022-03-22 20:18] leberrigan commented on #1031
It's up again

[2022-03-24 11:56] leberrigan commented on #1130
Looks good on Sandbox! Deploy to beta!

[2022-03-24 13:36] j-sayers commented on #1138
Two more uploads of new data went fine.

[2022-03-24 15:34] leberrigan commented on #406
This is an old issue that has since been resolved.

[2022-03-24 15:34] #406 closed

[2022-03-24 15:37] leberrigan commented on #1138
I'm no longer able to see the [Station Management](https://sandbox.motus.org/data/project/stations) page on Sandbox:
![image](https://user-images.githubusercontent.com/35931796/159953737-8b21b1ba-af0f-4890-bfac-ba2034f342f7.png)

[2022-03-24 18:20] #465 closed

[2022-03-24 19:48] leberrigan commented on #424
I'm assuming this has been resolved considering there hasn't been an update for 3 years....

[2022-03-24 19:48] #424 closed

[2022-03-24 19:49] #474 closed

[2022-03-24 19:50] #519 closed

[2022-03-24 19:51] #545 closed

[2022-03-24 19:56] leberrigan commented on #550
Closing issue because it is a feature request

[2022-03-24 19:56] #550 closed

[2022-03-24 19:56] #555 closed

[2022-03-24 20:00] leberrigan commented on #577
Closed and moved to documentation

[2022-03-24 20:00] #577 closed

[2022-03-24 20:01] leberrigan commented on #571
Looks like this was done in 2021

[2022-03-24 20:01] #571 closed

[2022-03-24 20:02] leberrigan commented on #538
This issue  may not have been resolved, but no updates in over 2 years means bye bye

[2022-03-24 20:02] #538 closed

[2022-03-24 20:06] #544 closed

[2022-03-24 20:07] #643 closed

[2022-03-24 20:08] #467 closed

[2022-03-24 20:10] leberrigan commented on #656
Hey @cjardine-bsc, keep it or close it!

[2022-03-24 20:15] #726 closed

[2022-03-24 20:16] #736 closed

[2022-03-24 20:17] leberrigan commented on #740
Fixed with stations and all that

[2022-03-24 20:17] #740 closed

[2022-03-24 20:18] #735 closed

[2022-03-24 20:20] #744 closed

[2022-03-24 20:20] #734 closed

[2022-03-24 20:21] #656 closed

[2022-03-24 20:22] #747 closed

[2022-03-24 20:22] #729 closed

[2022-03-24 20:23] #742 closed

[2022-03-24 20:24] #797 closed

[2022-03-24 20:28] cjardine-bsc commented on #544
removed deprecated_bit from sandbox. Needs to be dropped from live.

[2022-03-24 21:12] #819 closed

[2022-03-24 21:14] #825 closed

[2022-03-24 21:15] #822 closed

[2022-03-24 21:32] leberrigan commented on #847
Sorry Catherine! I'm pushing this back to you since Paul isn't here to do the next step. Feel free to re-assign, close, move to discussion as you see fit.

[2022-03-24 21:35] leberrigan commented on #841
Is this still an issue? It's been over a year so it should be closed if not.

[2022-03-24 21:39] leberrigan commented on #870
It's by design that it shows `fullID` and not `species` since species are associated with deployments and `fullID` is associated with the tag itself. When looking at a deployment plot, you're looking at data that has come directly out of TagFinder, before it has been associated with deployments and filtered for public output. For this reason, it doesn't really make sense to apply species to this p

[2022-03-24 21:39] #870 closed

[2022-03-24 21:40] #504 closed

[2022-03-24 21:40] leberrigan commented on #504
Sorry Adam, I'm closing this issue since it has been resolved. If this is still an issue for you, please open up an new topic - thanks!

[2022-03-24 21:46] leberrigan commented on #601
I think these are mostly longer-term goals than we initially thought. The primary goal here is achievable, but the list of variables I provide above are not part of a so-call "minimum viable product," or MVP. I'd say for an MVP we'd want just whether it's 'networked' and by which method. Here there are three reasonable possibilities:
1. Ethernet/Wi-Fi
2. Cellular
3. Satellite

This is very importa

[2022-03-24 21:49] leberrigan commented on #564
We'll deal with this in the explore dashboard, but it's a good point

[2022-03-24 21:49] #564 closed

[2022-03-24 21:50] leberrigan commented on #850
I think this issue can be retired with regards to the new explore dashboard. This was posted prior to the initial demos.

[2022-03-24 21:50] #850 closed

[2022-03-24 21:51] #737 closed

[2022-03-24 21:52] leberrigan commented on #887
Closing the issue for now since it's a feature request. It's link to the feature request project.

[2022-03-24 21:52] #887 closed

[2022-03-24 21:53] #848 closed

[2022-03-24 21:54] #415 closed

[2022-03-24 21:54] #420 closed

[2022-03-24 21:56] leberrigan commented on #898
Feature has been added

[2022-03-24 21:56] #898 closed

[2022-03-24 21:56] #774 closed

[2022-03-24 21:56] #469 closed

[2022-03-24 22:03] leberrigan commented on #782
I have confirmed that many tag deployments have `speciesName` that is a 4-letter species code like "MYWA" or "LOWA", like [12659](https://motus.org/data/tag/deployment/edit?projectID=50&id=12659)

[2022-03-24 22:05] #795 closed

[2022-03-24 22:06] #783 closed

[2022-03-24 22:30] leberrigan commented on #675
This is growing higher on the list as we get more CTT Powertags registered to the network. This is an important feature for the dashboard and management tools.

[2022-03-24 22:38] denislepage commented on #782
The main field that matters in the deployment table is species_id.

The species_name field is not visible in R, only the species_id, which they can resolve against the table of species we also provide.

The species_name I think is a placeholder for whatever people have used to find the species. Not sure it matters what is in that field, as long as the species ID is resolved. A question for @cjardi

[2022-03-24 22:38] leberrigan commented on #542
Has this issue been resolved or is this one still on the task list for @joeybernard?

[2022-03-24 22:39] denislepage commented on #782
Once tested, I think we can close this?

[2022-03-24 22:40] denislepage commented on #542
We should confirm with Joey.

[2022-03-24 22:44] leberrigan commented on #857
It's been done - closing

[2022-03-24 22:44] #857 closed

[2022-03-24 22:49] leberrigan commented on #610
I think this is better placed as a discussion since we're still trying to figure out the scope of the issue.

This is a network-wide problem that requires a network-wide solution. We can use single stations as examples to help identify noise problems, but eventually we'll want something that encompasses every possible source and mode (noise/aliasing).

[2022-03-24 22:58] leberrigan commented on #708
These are raw data plots that are better suited for edge cases/diagnostics. We'll be including such plots in the explore dashboard, albeit with filtered data.

[2022-03-24 22:58] #708 closed

[2022-03-24 23:03] #591 closed

[2022-03-24 23:06] leberrigan commented on #657
We have automated registrations now.

[2022-03-24 23:06] #657 closed

[2022-03-24 23:06] leberrigan commented on #637
It's been done. We'll also be doing something different in the explore dashboard.

[2022-03-24 23:06] #637 closed

[2022-03-24 23:07] #423 closed

[2022-03-24 23:08] #766 closed

[2022-03-24 23:08] #581 closed

[2022-03-24 23:09] #908 closed

[2022-03-24 23:10] #877 closed

[2022-03-24 23:13] leberrigan commented on #872
We still need to add fee_id field, along with a whole bunch of other project parameters (project users, groups, institutions), to the 'create new project' form. This deserves a new issue.

[2022-03-24 23:14] #872 closed

[2022-03-24 23:15] leberrigan commented on #894
Dashboard resolves this issue

[2022-03-24 23:15] #894 closed

[2022-03-24 23:18] #911 closed

[2022-03-24 23:19] leberrigan commented on #906
It's weird bug that's to do with the datapacket that is first send from the SG when it first connects via a given network.

[2022-03-24 23:19] #906 closed

[2022-03-24 23:22] #909 closed

[2022-03-24 23:24] steffilazerte commented on #841
It is, but I'm probably not going to fix it (it's not much of a problem). I'll close and reopen later if I think has to happen (thanks for the housekeeping!)

[2022-03-24 23:24] #841 closed

[2022-03-24 23:25] leberrigan commented on #846
This is because we don't get activity data from 434 MHz radios. This is part of the nature of the data collected by these devices (via FSK modulated signal). What we can do is use # false positives as a proxy, but this isn't nearly the same. It will require further discussion with manufacturer to figure out what a good solution could be.

Closing comment since this is not a Motus-resolvable issue.

[2022-03-24 23:25] #846 closed

[2022-03-24 23:29] leberrigan commented on #953
I think this is probably because the Javascript code used to print the times on the map are using the `new Date()` function which defaults to the client's time zone instead of UTC. This is going to be resolved with the explore dashboards anyways.

[2022-03-24 23:29] #953 closed

[2022-03-24 23:32] leberrigan commented on #972
I need to figure out who to assign to this issue

[2022-03-24 23:32] #914 closed

[2022-03-24 23:32] #945 closed

[2022-03-24 23:34] #867 closed

[2022-03-24 23:34] leberrigan commented on #867
Reopen if it's not resolved

[2022-03-24 23:35] #958 closed

[2022-03-24 23:36] #915 closed

[2022-03-24 23:38] leberrigan commented on #607
@joeybernard have you had the chance to look at this again with the new examples?

[2022-03-24 23:39] #892 closed

[2022-03-24 23:39] #809 closed

[2022-03-24 23:42] leberrigan commented on #964
@cjardine-bsc I'm closing this because I'm under the impression that this has been resolved based on today's conversation - feel free to re-open if you think otherwise.

[2022-03-24 23:44] #782 closed

[2022-03-24 23:47] #966 closed

[2022-03-24 23:48] leberrigan commented on #941
This has turned into quite the discussion - moved!

[2022-03-24 23:48] #941 closed

[2022-03-24 23:49] #837 closed

[2022-03-24 23:49] leberrigan commented on #837
We might want to consider using groups.io

[2022-03-24 23:51] leberrigan commented on #957
@j-sayers can we re-evaluate? Should this be re-opened?

[2022-03-24 23:53] #963 closed

[2022-03-25 10:22] leberrigan commented on #910
Has been tested and deployed

[2022-03-25 10:22] #910 closed

[2022-03-25 10:22] leberrigan commented on #977
Has been tested and deployed

[2022-03-25 10:22] #977 closed

[2022-03-25 10:23] leberrigan commented on #993
@j-sayers Can you confirm whether this is still an issue?

[2022-03-25 10:23] #993 closed

[2022-03-25 10:24] leberrigan commented on #995
@denislepage has this been resolved?

[2022-03-25 10:26] leberrigan commented on #784
@j-sayers, is this still an issue?

[2022-03-25 10:26] #784 closed

[2022-03-25 10:28] leberrigan commented on #1011
@cjardine-bsc - it's be a few months, is this still the next step?

[2022-03-25 10:31] leberrigan commented on #1020
Moving this to discussion since we need to sort out a way to deal with these before we make make an issue.

[2022-03-25 10:31] #1020 closed

[2022-03-25 10:44] #979 closed

[2022-03-25 10:44] #1027 closed

[2022-03-25 10:49] #501 closed

[2022-03-25 10:49] #999 closed

[2022-03-25 10:50] leberrigan commented on #1032
@ajmacdonald3 do you know if this has been resolved?

[2022-03-25 10:50] #1032 closed

[2022-03-25 10:51] #1036 closed

[2022-03-25 10:54] #1037 closed

[2022-03-25 10:55] leberrigan commented on #1040
@cjardine-bsc have there been any updates?

[2022-03-25 10:56] leberrigan commented on #868
@steffilazerte just checking if you want to keep this open.

[2022-03-25 10:57] #1017 closed

[2022-03-25 10:59] leberrigan commented on #1042
At this point I don't think we need to be spending time on this any longer - it's functional we're going to redesign the whole interface soon enough.

[2022-03-25 10:59] #1042 closed

[2022-03-25 11:05] #1045 closed

[2022-03-25 11:07] leberrigan commented on #1047
@denislepage I'm closing this since it seems to be related to a resolved issue. Feel free to reopen.

[2022-03-25 11:07] #1047 closed

[2022-03-25 11:24] leberrigan commented on #1048
It's usually best to minimize the number of colours because it gets overwhelming quickly, especially for ~7% of the colour blind population.

One idea is to just use one colour for each frequency and then dual mode would have both colours, something like this:

![station_icon_atlas_3](https://user-images.githubusercontent.com/35931796/160112319-89671306-b388-4537-9c97-2d147887ebde.png)

[2022-03-25 11:29] leberrigan commented on #1049
Do we know if this issue has been resolved?

[2022-03-25 11:30] leberrigan commented on #973
@StuMackenzie Reopen if you think it still needs attention.

[2022-03-25 11:30] #973 closed

[2022-03-25 11:31] #1026 closed

[2022-03-25 11:32] leberrigan commented on #1050
We have changed to a new interface since this was posted.

[2022-03-25 11:32] #1050 closed

[2022-03-25 11:32] leberrigan commented on #1055
This is coming soon with the explore dashboard

[2022-03-25 11:32] #1055 closed

[2022-03-25 11:33] #875 closed

[2022-03-25 11:34] leberrigan commented on #1057
This is still an issue

[2022-03-25 11:36] leberrigan commented on #1062
@cjardine-bsc Is this in your wheelhouse?

[2022-03-25 11:36] #1054 closed

[2022-03-25 11:37] #1034 closed

[2022-03-25 11:38] #1064 closed

[2022-03-25 12:07] leberrigan commented on #1081
It is showing stations - just sometimes there are duplicates if they are split between projects of there are slight variations in name.

[2022-03-25 12:07] #1081 closed

[2022-03-25 12:13] leberrigan commented on #1016
Has been implemented, tested, and is on live

[2022-03-25 12:13] #1016 closed

[2022-03-25 12:14] #842 closed

[2022-03-25 12:14] leberrigan commented on #842
Yes. and it has been.

[2022-03-25 12:22] leberrigan opened #1172 "Missing fields in user settings and when creating a user"
#1063

Can's set country, address fields are too short, contact information is limited.

Cannot change account type after registration.

---

We need better documentation of this issue and clear instructions for a solution

[2022-03-25 12:26] #1063 closed

[2022-03-25 12:27] leberrigan commented on #1063
Closing in deference to #1172

[2022-03-25 12:38] leberrigan commented on #1123
I think there is still a lingering issue, we just may have lost our example so keep an eye out for another one.

There were two separate issues here:
1. There _wasn't_ another deployment for that receiver and I still couldn't select it. However, I could select it if I created a new deployment rather than editing the old one.
2. The second problem was that we weren't able to delete that deployment

[2022-03-25 12:40] leberrigan commented on #901
Closing and referencing the issue in Future Developments project

[2022-03-25 12:40] #1067 closed

[2022-03-25 12:41] #1060 closed

[2022-03-25 12:41] #1061 closed

[2022-03-25 12:41] #1071 closed

[2022-03-25 12:42] leberrigan commented on #1070
@denislepage Do we want to translate this now or can we place this in the Future Developments project?

[2022-03-25 12:45] StuMackenzie commented on #1070
We need to do Spanish also. I’d almsot make resource translation it’s own project.

____________________

[2022-03-25 12:54] leberrigan commented on #1051
Moving this to discussion

[2022-03-25 13:19] #1101 closed

[2022-03-25 13:37] leberrigan commented on #948
I think we can close this in favor of the new explore dashboard

[2022-03-25 13:37] #948 closed

[2022-03-25 13:43] leberrigan commented on #1076
this issue has become too large - we'll split them up from now on

[2022-03-25 13:43] #1076 closed

[2022-03-25 13:44] leberrigan commented on #1038
CTT has confirm that it is working. Someone from our team should confirm that it's working on our end too.

[2022-03-25 13:45] leberrigan commented on #1105
Closing this and placing it in Future Developments project

[2022-03-25 13:45] #1105 closed

[2022-03-25 13:51] steffilazerte commented on #957
This is still something I think should be done, should I move it to the motus package repo issues? Once agreed that it should be done, (have we?) It's only really relevant to me...?

[2022-03-25 13:52] steffilazerte commented on #868
I still need to add documentation for this

[2022-03-25 13:53] steffilazerte commented on #1060
I'm pretty sure this was never reviewed. We've launched the documentation but not everything got a review...

[2022-03-25 13:54] steffilazerte commented on #1071
This was not reviewed

[2022-03-25 13:54] steffilazerte commented on #1061
This was not reviewed

[2022-03-25 14:02] #623 closed

[2022-03-25 14:02] leberrigan commented on #623
Not sure if it's resolved - I'm working on it now. Will reopen if not

[2022-03-25 14:02] #720 closed

[2022-03-25 14:07] leberrigan commented on #866
`jakarta` branch has been merged into `master` and everything seems to work.

[2022-03-25 14:07] #866 closed

[2022-03-25 14:26] leberrigan commented on #1122
In order to allow for this feature, we need to:
1. @cjardine-bsc Add a new bit variable to `dbo.tags_deployments` - how does `is_banded` sound?
2. Get the API to return this value so that it can be handled on the UI.
3. Add a checkbox to the UI with a text fragment for the label and tooltip (keys can be `is_banded_label` and `is_banded_instructions`).

[2022-03-25 14:28] leberrigan commented on #1115
@cjardine-bsc I think we need a conditional statement in the DB

@Hussell  We also need a conditional statement on the UI

[2022-03-25 14:30] leberrigan commented on #1120
@j-sayers Can you identify the discrete steps required for this and assign the next one?

[2022-03-25 14:32] leberrigan commented on #1113
Moving this to a discussion until we can identify what actions we want to take. We're still at the decision stage.

[2022-03-25 14:32] #1113 closed

[2022-03-25 14:39] leberrigan commented on #1111
Next step is to add the toggles to the station interface:
1. Add `alert` and `alert_user` to Manage Stations API
2. On station properties modal, add:
   - Toggle which says "Alert me if this station hasn't received data for over 3 days".
   - Drop down to select user which receives email (current user is default).

[2022-03-25 14:43] leberrigan commented on #1056
@j-sayers are you still unable to delete this deployment?

[2022-03-25 14:45] leberrigan commented on #1095
@denislepage have you had the chance to read over the French above?

[2022-03-25 14:53] leberrigan commented on #1127
What if we just check `tagDeployID` in the file and if there are any missing from the live db then it's clear that file is outdated.

[2022-03-25 14:54] leberrigan commented on #1126
Sorry Erica, this has already been done a couple weeks ago, I just forgot to close!

[2022-03-25 14:54] #1125 closed

[2022-03-25 15:02] leberrigan commented on #1136
It's likely that they changed something before we put a block in place to prevent this.

@eageldart Can you find other examples like this and list them here, or just give us a tally if there are lots?

[2022-03-25 15:41] joeybernard commented on #542
This has been way down my priority list.

Joey

On Thu, Mar 24, 2022 at 7:40 PM denislepage ***@***.***>
wrote:

--
--
Joey Bernard, B.Sc., B.C.S.
Computational Research Consultant
Radio Physics Group, UNB

[2022-03-25 16:15] ajmacdonald3 commented on #1032
I think so, I resolved a duplicate tag registration issue for them. I'll double check.

[2022-03-25 17:10] cjardine-bsc commented on #1011
I believe so. I think some of these are legitimate, but I'd still like the list from @Hussell to check.

[2022-03-25 17:57] denislepage commented on #866
That sentence worries me. I specifically asked not to merge those 2 branches across.

Can you confirm what you did, preferably before pushing your changes upstream?

[2022-03-25 18:36] cjardine-bsc commented on #1062
This is a website side thing, @Hussell for now.

[2022-03-25 19:14] denislepage commented on #607
@joeybernard

That’s fine to keep as low priority for now. Lucas when through a whole flurry of unclosed issues. We’ll probably put all the sgdata related one in a project and we can pick the ones that we deem higher priority as we go.

[2022-03-25 19:23] denislepage commented on #995
As far as I know, the patch option is working as intended in sandbox, but had not yet been implemented in the main db. Done now. Ideally, we'd need a way to go hunt for older missing batches, but we'd then run into the run of bringing batches that would have since been deprecated, so it could get messy. Maria DB also only has a short period of data available. I think we should close this and reeva

[2022-03-25 19:23] #995 closed

[2022-03-25 19:43] denislepage commented on #1095
Few adjustments.

[code]
I also looked at the Spanish, and it seems ok. I can't fully vouch that despliegue is the correct usage of the word deployment in our context, but otherwise, I am not seeing anything obviously wrong.

[2022-03-25 23:44] denislepage commented on #1040
I'll do sandbox first. We don't yet have a timeline for beta11 release. How soon do you want this in place?

[2022-03-25 23:47] denislepage commented on #1040
Hm, that's already done. modelVersion, battery and lifespanCTT are the API parameters.

[2022-03-25 23:50] denislepage commented on #1040
Also in beta10 and live, so those parameters should work now everywhere.

[2022-03-29 14:54] leberrigan commented on #1040
@cjardine-bsc Are you the one who needs to test this? I'm unsure of what the next step is here.

[2022-03-29 19:47] leberrigan commented on #1110
Thanks Denis. I'm going to close this since the API has been created as requested. Any changes should be posted in a new Git.

[2022-03-29 20:23] cjardine-bsc commented on #1110
Nope. I have some tasks here still for the activity. Sorry!

[2022-03-29 20:28] leberrigan commented on #1110
Okay, sure! Can you also make these changes to the tag deployments table?

### Tag deployments
- Add variables `deployLatitude`, `deployLongitude`. `photo`, `status
  - Photo: same as with station deployments; leave it blank for now and we'll populate later
tagDeployID | tagID | speciesID | projectID | tsStart | tsEnd | region | group | deployLatitude | deployLongitude | photo | status
-- | -- | -

[2022-03-31 00:04] denislepage commented on #1139
One more vaguely related thing in sandbox is that I have now moved the MySQL database for Motus sandbox to a different server and upgraded version to the most recent Maria DB. This would be mostly relevant for the Wordpress section of the site. There were a bunch (like a whack) of PHP errors related to SQL syntax probably no supported in earlier version of MySQL. Please do let me know if you run i

[2022-03-31 13:25] j-sayers commented on #1031
![image](https://user-images.githubusercontent.com/55001144/161064922-e6b549dc-507c-4616-908f-6c144a367cce.png)

Down again now. (We could probably use a better method of alerting and dealing with this than simply re-opening the old issue! Anyway for now....)

[2022-03-31 14:45] leberrigan commented on #1031
Thanks Josh. This is also affecting data downloads through R

[2022-03-31 15:54] leberrigan commented on #1031
Is there a way to make an alerting system for these outages? Most of the time we don't notice until somebody else tells us

[2022-04-01 12:43] leberrigan commented on #1031
Website is up again as of yesterday. The alerting system is already in place - not sure if it's possible to speed things up much more.

[2022-04-01 12:47] leberrigan opened #1185 "Dashboard API has only 11 stations"
I'm assuming this because it's pulling data from `sandbox`? I'm going to need the full list of stations to properly test this.

https://sandbox.motus.org/data/dashboard/count/stations
https://sandbox.motus.org/data/dashboard/stations

[2022-04-01 13:10] leberrigan commented on #1110
One more ask - I would like a list of tags that are 'local' to each station. That is, I want to know which tags were deployed within 10 km of each station. It doesn't have to be 10 km, that's just the threshold I've chosen; let's keep it at that for now. I'm guessing it would be easiest to make a new table called `stationLocalTags`.

### Station Local Tags
stationDeployID | tagDeployID
-- | --

[2022-04-01 13:29] leberrigan opened #1186 "Add total number of tracks to "Motus By the Numbers""
Can we add another bubble to Motus By the Numbers? Stu's asking for the total of `taghits.tracks` (>300k) to be listed there. We can call them 'recoveries'.

[2022-04-01 18:55] cjardine-bsc commented on #1186
@Hussell would you like that added to adm_platform_stats  ?

[2022-04-01 19:53] cjardine-bsc commented on #1185
Hmm. There are oddles in the DB in sandbox (2613 = 1 metric oodle).

Ah-ha. Found it. Enjoy your oodles.

[2022-04-01 19:53] #1185 closed

[2022-04-01 19:54] cjardine-bsc commented on #1185
Remember that data will be sloppy. I didn't do my deep clean of the pre-station metadata in Sandbox, so there will be a bunch of duplicates etc.

[2022-04-05 13:13] j-sayers commented on #1038
I [had this SS](https://motus.org/data/receiverDeployment?id=8516) on for a few days around some test tags, with the cell option disabled.

I downloaded the CTT and SG data from the receiver and uploaded the two zips exactly as they were downloaded from the receiver.

Upload job ID 14322498 (CTT data)
Upload job ID 14322539 (SG data)

[2022-04-05 20:23] denislepage commented on #1038
I am seeing 2 batches for this receiver created today at 9:59 this morning, so about 45 minutes after the previous git post. Both seem to refer to CTT batches, one has 0 hits, and the other 87.

Fri Mar 25 2022 17:20:12 GMT+0000 to Sat Mar 26 2022 07:20:11 GMT+0000 (0 hits)
Sat Mar 26 2022 07:30:51 GMT+0000 to Mon Mar 28 2022 18:30:51 GMT+0000 (87 hits)

I have not yet seen anything related to Lot

[2022-04-05 20:26] denislepage commented on #1038
Sorry, got it backward. The 2 existing batches ARE for Lotek data. We haven't seen CTT tags come back yet that I know of.

[2022-04-05 21:46] j-sayers commented on #1038
The processing of CTT files job was this https://sgdata.motus.org/status?jobID=14322498

[2022-04-05 23:35] denislepage commented on #1038
The log confirms that 215+ ctt files were pushed up to AWS around that time for this particular receiver, so we’ll need to track when the data might be coming back.

[2022-04-06 10:59] leberrigan commented on #1120
That sounds like a simple conditional form - I can write a bit of JS to make that happen, but I'm a bit worried about doing code insertions myself in case I break something. Otherwise it'll probably have to be @Hussell when he has the time.

[2022-04-06 12:10] leberrigan opened #1187 "Missing fields in lt_receiver_types"
There are two entries in `lt_receiver_types` that are each missing the values for `regex` and `key_name`.

@denislepage Do you know what the regex should be for the Lotek SRX-1200? I have entered the following based on the serno's I have seen, but it should be confirmed. I think we shouldn't allow unknown receivers to be registered (hence the blank regex).

receiver_type | regex | key_name
-- | --

[2022-04-06 13:48] j-sayers commented on #1120
Also see #1113. It's unclear if Lotek SRX model matters unless it's a SRX 1200, other than to match processed data with registered receivers...

[2022-04-06 19:39] denislepage commented on #1187
The regex string for the database table would be expected to start with ^Lotek-. The DTA file will only provide the suffix, so adding Lotek- is something that motusServer does.

If I'm reading your notes correctly, the regex would be: ^Lotek-(?:MD|M|D)\d{6}$

For instance: Lotek-MD000123, Lotek-M000234 , Lotek-D000345

However, the last one overlaps with the regex for "LOTEKSRX800D", ^Lotek-D\d{6}

[2022-04-12 11:06] leberrigan opened #1188 "Unusually large volume of detections in January 2017"
I made a plot of `det_taghits_daily` for a presentation and noticed an unusually  large spike in the number of detections starting January 1st, 2017 and continuing for a number of weeks, but gradually decreasing. It seems like the vast majority of these detections are occurring outside of a registered deployment (sensor_deploy_id = 0).

![cumsum_tagHits_2022](https://user-images.githubusercontent.

[2022-04-12 11:23] leberrigan commented on #1187
Yes, we should confirm with Lotek - the examples we have are `Lotek-MD020100` and `Lotek-D0020107` so perhaps there are _slight_ differences (note additional zero on the `D` model).

There are a few formats available and that issue was resolved in #1004.
[format 1 (date, time and uSeconds in 3 separate columns TXT).TXT](https://github.com/MotusDev/Motus-TO-DO/files/8472375/format.1.date.time.and.u

[2022-04-12 11:25] leberrigan commented on #1019
Thanks @Hussell  - seems to be working for me. Also, it's a bit faster now too.

[2022-04-19 13:55] Hussell commented on #1049
The minor fix hasn't been merged into the sensorgnome-server code. And the issue of how to deal with receivers which have no deployments (test or otherwise) hasn't been dealt with. Nonetheless, I am closing this because it's a sensergnome-server issue, not a MotusDev issue.

[2022-04-19 13:55] #1049 closed

[2022-04-19 14:59] Hussell commented on #1011
Frequency|#Tags|Last Registration Date|Notes
-|-|-|-
NULL|7178|2022-04-18|?
149.4|3|2015-10-23|used during the initial stages of the first project in Europe
150.1|4930|2022-04-12|Lotek tags from Europe and Africa
150.34|243|2016-06-01|used during the initial stages of the first project in Europe
150.44|2|2015-10-23|used during the initial stages of the first project in Europe
151.5|488|2022-02-13|

[2022-04-19 17:37] #1135 closed

[2022-04-20 15:36] j-sayers opened #1189 "tagme() fails for tag projects without tags"
On motus version 5.0 calling `tagme()` on a tag project fails if the project doesn't have tags. @steffilazerte

[1] ‘5.0.0’

Checking for new data in project 516
Updating metadata
activity:     0 new batch records to check
nodeData:     0 new batch records to check
Fetching deprecated batches
Error in `dplyr::anti_join()`:
! Join columns must be present in data.
x Problem with `batchID`.
Run `rlan

[2022-04-20 16:03] #1098 closed

[2022-04-20 19:40] j-sayers commented on #1132
Perhaps something similar...?

I'm Trying to remove RTL-SDR from a SensorStation deployment but the dropdown is empty and preventing me from saving (including adding the new replaced dongles).

Deployment https://motus.org/data/station/deployment/edit?projectID=1&id=8559

![image](https://user-images.githubusercontent.com/55001144/164306096-f9db0a77-530d-475f-afc2-312ff33ca2b6.png)

[2022-04-20 20:47] denislepage commented on #1132
Should be fixed now. We had two different entry for the RTL dongle type, with inconsistencies regarding which was used in different places in the database.

Everything is now under “RTL-SDR v3”. The description for RTL-SDR alone also specified version 3, so I assumed they were both referring to the same dongle. If not, we’ll need to undo some changes I made.

[2022-04-20 20:48] #1132 closed

[2022-04-22 20:45] cjardine-bsc commented on #1095
I've updated those in sandbox. @Hussell did you make all your changes in Sandbox? I'm going to push everything to live and don't want to overwrite any of your changes so just confirming first.

prAdmTransferErrorCodes

[2022-04-23 09:33] leberrigan opened #1190 "Dashboard API - GPS hits should require sensorID, not deviceID"
I currently cannot link GPS hits with stations because the GPS hits api requires you to enter the `deviceID` of the receiver which I do not have access to.

Can this be changed to `sensorID` or just the serial number of the receiver? I can use either of those.

[2022-04-28 17:05] eageldart opened #1191 "SensorGnome link under Troubleshooting Guide directs to wrong page"
I am trying to access the SensorGnome Guide from the Troubleshooting Guide (https://motus.org/troubleshooting-guide/) under Resources (screenshot below)

![1](https://user-images.githubusercontent.com/94930170/165806027-d14c1e7e-afcc-4c31-9e88-5ee40c4f4d09.png)

The SensorGnome Guide link brings you to https://motus.org/data/project/sgJobs (screenshot below)

![2](https://user-images.githubusercon

[2022-04-28 18:37] leberrigan commented on #1110
@cjardine-bsc  I have one more request!
I need a table of the 'most recent data' for each station - that's so I can quickly display that information while hovering over a station with the cursor, rather than downloading the entire activity table for that station.

Denis suggested you use the batches table to figure out the most recent data.

### Station Recent Data
stationID | ts
-- | --

[2022-04-29 18:53] steffilazerte opened #1192 "Schema missing numGPSfix in activity table"
I use the API endpoint `schema` to ensure that new tables have all the correct fields.

I just realized that in this data, the `activity` table is missing the `numGPSfix` column. Right now this isn't a problem as the update code adds it in (and currently runs on all newly created databases), but I'm plannin on changing the update code to only run if an update is truly needed, in that case this wil

[2022-04-29 19:14] cjardine-bsc commented on #1192
Heya,

Am I right that it is in sandbox right now, but not live? But you'd like me to move it over to live?

[2022-04-29 19:35] cjardine-bsc commented on #1192
oh man, the field isn't even calculated in the activity proc in live! I have a bit of syncing to do.

[2022-04-29 19:46] steffilazerte commented on #1192
Is that okay? I can revert if you need me to!

[2022-04-29 19:53] cjardine-bsc commented on #1192
I'm away for most of next week so it might not get done until the following week.

[2022-04-29 19:57] steffilazerte commented on #1192
Well if you're okay to make it happen, and `numGPSfix` really should be in the live API, then I can definitely wait.

[2022-05-04 21:33] cjardine-bsc commented on #1110
RE: @cjardine-bsc the station tables only return a small number of results in sandbox. Needs a sync perhaps?

Sunk.

[2022-05-04 21:33] cjardine-bsc commented on #1110
Added to vwDashboard_tags_deployments in the database.

[2022-05-04 22:09] cjardine-bsc commented on #917
Okay, I've created a new table in sandbox called tags_local_stations, which I've populated.

I'm not sure how we want to keep this up to date. We could run a periodic wipe and replace of the whole table (prUpdateTagsLocal takes 7min), or set up triggers for when the lat/lon of a station or tag_deployment is edited or created. I believe we already have a process that updates a few places when that

[2022-05-04 22:13] cjardine-bsc commented on #1110
AH! Found it! I knew we had done this already.

https://github.com/MotusDev/Motus-TO-DO/issues/917

Do you actually want the station deployment ID or just the stationID? I'm assuming the stationID.

New view:

 vwDashboard_tags_local

[tagDeployID]
,[stationID]

@denislepage we'll need to add this entrypoint.

[2022-05-04 22:34] cjardine-bsc commented on #1110
Okie! So the tricky part of this one, that we didn't discuss on the call, is the fact that device's can move between stations. So its going to be a smidge more complex. Its easy enough for stations with active deployments (since then deviceIDs will be unique, with only one device active at each station).

For terminated deployments, can I give you the deployment end date, or do you want the last d

[2022-05-04 23:43] cjardine-bsc commented on #1190
I had previously asked about combining the GPS call and the antenna activity call. But I think we decided on a call eons ago that we would be better to keep them separate (as per your original request).

<html><body>
<h3 dir="auto">ourly GPS fixes</h3>
<ul dir="auto">
<li>API returns a <strong>single receiver</strong> at a time.</li>
<li>Summarise GPS fixes per hour per receiver. Hourly count of f

[2022-05-05 00:26] cjardine-bsc commented on #1188
well...thats weird.

First thing I did was try to reproduce. I get the same jump, but a corresponding large jump in tag_ids. What did you use as the raw data set to run your query?

num_sensors	num_tags	date	(No column name)
11	65	2016-12-26	17576
15	64	2016-12-27	19927
15	75	2016-12-28	22349
13	58	2016-12-29	11742
11	65	2016-12-30	8531
10	62	2016-12-31	7648
11	2780	2017-01-01	7666082
15	1224	2017

[2022-05-05 17:15] Hussell commented on #1188
Possibly related: https://github.com/MotusDev/Motus-TO-DO/issues/969#issuecomment-884478860
(CTT sent us a bunch of data with bad timestamps one week in Aug. 2020.)

[2022-05-05 17:24] Hussell commented on #1087
I've figured out a reasonably efficient way to do this: a query taking ~5s and sending ~2MB to the browser. Not fast enough to seem instantaneous, but fast enough to load in the background after the main page is loaded. This way results will be up-to-date, and filtering can be done dynamically in the browser.

[2022-05-05 18:09] leberrigan commented on #1110
Sure, that works for me!

That should be fine. That is, if the most recent data is from beyond the deployment end date, just cut it off there.

[2022-05-05 18:16] leberrigan commented on #1110
I also have these changes:

### Tag deployments
- add marker type and marker number

tagDeployID | tagID | speciesID | projectID | tsStart | tsEnd | region | group | markerNumber | markerType
-- | -- | -- | -- | -- | -- | -- | -- | -- | --

### Station deployments
- add notes

stationDeployID | stationID | receiverID | tsStart | tsEnd | type | status | region | photo | group | notes
-- | -- | -- |

[2022-05-05 18:29] cjardine-bsc opened #1193 "Can we close access to manual tag registration?"
Just had a case where users registered a set of tags that had already been registered by lotek.

It may be time to shut down the ability for users to upload their own tag recordings?

[2022-05-05 18:59] cjardine-bsc commented on #1110
Okay, view works, but currently takes 8 seconds to run. vwDashboard_station_recent_data

I'd like to try and trim that 8seconds down. But for now we can get the entry point up so we're not slowing your progress.

[2022-05-05 19:08] cjardine-bsc commented on #1110
Added

called it comments

Is angle the elevation_angle? If so, added!

Okay, I think that's it. I suspect Denis set up the entry points to grab all fields from the table, in which case we should be good! Let me know if not.

[2022-05-05 20:47] cjardine-bsc commented on #1115
Looks like only three receivers are

[2022-05-05 21:53] cjardine-bsc commented on #1122
I see the benefit of that. Though "is_banded" might be a bit confusing for bat folks. That will be applying a "bat band" though it is not a USGS band.  I'm going to call the field usgs_band (1=true, it has a band, 0 = flase, it does not)

I suggest for the user interface we rename the fields:

band_number = USGS Bird Band
marker_type = Auxiliary Marker Type
marker_type = Auxiliary Marker Value

Wh

[2022-05-05 22:24] cjardine-bsc commented on #1057
Right. I was (completely arbitrarily) setting the lifespan of lifetags to 1825 days, Assuming that's essentially the max time the bird they are on will be viable (again, a very shakey assumption).

The problem here is the provision was based on the tag Model being "LIFETAG1" but we recently changed that to just be "LifeTag" which was causing these to use the default value for lotek tags that are m

[2022-05-05 22:31] cjardine-bsc commented on #1122
@ajmacdonald3 just made the excellent point that Motus is global....so USGS does not apply.

I renamed the column bird_band :-)

[2022-05-05 22:48] cjardine-bsc commented on #1057
In the meantime, I put in a fix to get all the lifetags back to a lifespan of 5 years by default. We can discuss if we want Null instead.

[2022-05-05 23:12] cjardine-bsc commented on #964
Okay, yes. there should be a check in there that prevents tag end dates in the future.

INSERT INTO api_errors (apiBatchID,rowNum,error_code,field_name)
SELECT @apiBatchID,rowNum,'api_value_dt',field_name
FROM #temp_ts
WHERE tsEnd > @dt

Tested.

![image](https://user-images.githubusercontent.com/22172758/167041609-743737e6-8524-4bac-951d-a128f2233afb.png)

[2022-05-05 23:12] #964 closed

[2022-05-05 23:13] denislepage commented on #1087
We'll need to hook this to the API. Is there Java processing happening on the server side? Ideally, there would either be a proc to read the data from the database, or a static method that can be called by the API that itself reads the database and does any data handling needed on the server end.

[2022-05-05 23:20] cjardine-bsc commented on #782
Re: A question for @cjardine-bsc : can we confirm that species codes are accepted as a valid way to submit the deployment file?

Confirmed.

I suspect the initial question was related to the bulk tag deployment upload tool. The species field would accept English, French, Scientific and species code, but not species_id.

I've changed that so it will. Deployed to sandbox.

UPDATE #temp_speciesID
SET

[2022-05-05 23:27] cjardine-bsc commented on #675
Tags table and API have been updated. Just waiting on CTT to start sending us lifespans for the tags (They confirmed they would look into it this week).

I just altered the lifespan calculation function to use the new field, so as soon as we start getting the metadata from CT we should be good to go!

Closing as everything on the Motus side should now be in place.

[2022-05-05 23:27] #675 closed

[2022-05-06 00:45] denislepage commented on #1193
That'd be handled by motusServer. Not sure yet of what changes would need to happen to disable this feature alone. At the very least, we should update the page to say that manual tag registration is no longer supported, or we could change API to simply ignore those calls from sgdata.

[2022-05-06 02:24] denislepage commented on #1110
Yes, most of the API entry points will simply return all columns in the proc or view, so adding new columns should immediately be reflected in the API.

There are some exceptions, but most of them involve removing specific fields that we do not want returned in the API.

[2022-05-06 15:34] j-sayers commented on #1115
That's the number of receivers registered as 1200, though there are likely more that were registered as "Lotek" (some of those above were until I manually changed them). Given the time zone implications we really want to make sure that these are all properly registered so that these validations are effective (See https://github.com/MotusDev/Motus-TO-DO/issues/1113).

[2022-05-06 15:39] j-sayers commented on #1189
This appears to not just affect tag projects without registered tags, but also some receivers. EG CTT-8E20667AE036

[2022-05-06 15:41] steffilazerte commented on #1189
Yes, the problem isn't related to the number of hits or tags, but the number of deprecated batches.  I have a fix prepped on the `dev` branch but am waiting for Catherine to fix an API issue before I merge it in.

For now you should be able to use `tagme(..., skipDeprecated = TRUE)` to skip the deprecated check and avoid the problem until I push the fix. (let me know if that works for you!)

[2022-05-06 16:10] cjardine-bsc commented on #1189
I'm just waiting on a fix to my DB compare tool. I'll work on sorting that out today.

[2022-05-06 16:38] steffilazerte commented on #1189
No rush, I'll probably get to it mid-next week anyway :grin:

[2022-05-06 17:45] steffilazerte commented on #868
Functions to identify and remove deprecated batches are in the current version of the motus package (above)

I have also created an article explaining how/why to remove deprecated batches (https://motuswts.github.io/motus/articles/deprecated-batches.html).

@ajmacdonald3, @StuMackenzie, @j-sayers, can one of you take a quick look and let me know if you see any problems?

Once someone reviews that,

[2022-05-06 17:56] steffilazerte commented on #900
Going to close this as I'm 99% sure it's been resolved (@j-sayers let me know if you think otherwise):

[code]

[2022-05-06 17:56] #900 closed

[2022-05-09 13:48] leberrigan commented on #1190
Sorry - I didn't see this until now..
# Hourly GPS fixes

- Works for me!

- Yeah, sure!

- I'd rather get the TS since I need it to convert it into a javascript time object.

# Antenna pulses

- No, I'd rather omit hour bins with 0 pulses

[2022-05-11 18:18] denislepage commented on #1190
I deployed the new entry point: /data/dashboard/count/antPulses

Reading for testing.

[2022-05-12 09:12] leberrigan commented on #1190
Doesn't appear to be working?
https://sandbox.motus.org/data/dashboard/count/antPulses?stationId=462&page=2

[2022-05-12 14:00] denislepage commented on #1190
I may have missed an API term in the url or something like that. Compare with the other calls

[2022-05-12 19:27] j-sayers opened #1194 "(Some) new deployments are disappearing from the receiver locations map"
Location information is now stored at the station level instead of the deployment level. The [receiver deployment map](https://motus.org/data/receiversMap?lang=en) displays receiver deployments still, so many new deployments are not appearing on the map. But this doesn't happen in every case so in _some_ situations location information is being pulled from the stations table.

Two recent examples:

[2022-05-12 19:44] cjardine-bsc commented on #1194
They have location in the base view.

SELECT *
  FROM [motus].[dbo].[vwBase_receivers_deployments]
  where recvDeployID in ( 8618,8622)

[2022-05-12 20:13] denislepage commented on #1190
Oh. The ant build needed to deploy to sandbox2 for the new Tomcat server. :-)

It's working now: https://sandbox.motus.org/data/dashboard/antPulse?stationId=452&page=1

[2022-05-12 21:11] leberrigan commented on #1190
Looks good. I see an additional variable 'row' which seems to be just the row number and can be omitted.

[2022-05-13 00:15] j-sayers commented on #1193
People are still registering tags though. Last week for instance, someone had tags purchased earlier in 2021 that hadn't been registered yet. Aren't they just getting "tag already exists" errors when trying to register?

[2022-05-13 06:01] denislepage commented on #1190
Done. I also added the antenna number as part of the sorting, which was missing. Pagination should always be done on a unique set of key values. May be ok to close this one?

[2022-05-13 13:51] j-sayers opened #1195 "Add hits on CTT antennas to batches_activity to plot antennna "activity" as we do with SRX receivers"
This picks up from #846 and follows our discussion yesterday regarding the antenna activity profiles for CTT antennas.

We currently have two places where we display antenna "activity": the [receiver timeline](https://motus.org/data/receiver/timeline?year=2022&id=4949) and the [deployment timeline](https://motus.org/data/receiver/deployment/plot/SG-1BC7RPI3C2C5-2022%20MotusON,%20Atik-1.png?id=8622

[2022-05-13 17:55] cjardine-bsc commented on #1193
No. They only get that error when they register the same tag twice within the same date_bin.

I can make it so their registrations fail in the back end, but I'm not sure what that will do to the results the user sees.  I'd need to check with Jeremy.

Either way. Lets put a big warning on that page that says tags purchased after Feb 2022 should NOT be registered. With a link to their tag page so th

[2022-05-16 11:11] leberrigan commented on #1190
yup - that's all I need. Thanks!

[2022-05-16 11:11] #1190 closed

[2022-05-16 16:15] Hussell commented on #1194
The single example given (PEPBO deployment 8618) doesn't have anything to do with latitude and longitude. The receiver map only displays receiver deployments which have isMobile = 0. The example is one of 34 receiver deployments in vwBase_receivers_deployments which have isMobile = NULL, compared to 5006 deployments with isMobile = 0 and 90 deployments with isMobile = 1.

There are only 14 such de

[2022-05-16 18:19] j-sayers commented on #1193
Yeah only getting that error within the same date_bin does leave the door open for potential (very serious) issues since they could be just a day apart and be in two different date_bins.

A big warning will help for now!

[2022-05-17 14:33] cjardine-bsc commented on #1193
I’m making a change to prAPIImportTagsTransfer if a user registers a tag that already exists in the tagsActive view they are now going to get an error. This will prevent problems of potential duplicate registrations lfrom going unnoticed until we get through this two-registration-methods-at-the-same-time phase.

[2022-05-18 03:01] denislepage commented on #1193
As per Josh's point, we may want to also curtail registration for at least the previous dateBin value (or perhaps 2). I imagine there will be cases though where the same tag properties are used in 2 consecutive seasons (e.g. spring and fall)? Can we find out how often this happens (e.g. 2 distinct tag IDs with the same properties, but slightly different date bins?)

[2022-05-18 15:25] cjardine-bsc commented on #1193
The change I made will do that and more. If it's on the vwTagsActive list the registration will fail. :-)

[2022-05-18 15:46] denislepage commented on #1193
I see now. Makes sense.

[2022-05-19 18:32] leberrigan opened #1196 "Can deployment timelines provide more information for ambiguous tags?"
Deployment timelines currently display ambiguous tags as NO_PROJ#999999 M.0 which is confusing and doesn't provide any details on what tags are ambiguous.

Is it possible to make a label which is a list of each ambiguous tag label?

[2022-05-19 18:36] leberrigan opened #1197 "Adding default deployments when using prTransferTagCopy"
We've recently had an issue where ambig detections were generated after tags were copied to another project and didn't get a default deployment associated with them. Without a deployment, the new copy of the tags defaulted to the registration quarter which was close to the deployment date of the original copy of the tags.

Should we make it necessary to include a default deployment date and specie

[2022-05-19 18:51] denislepage commented on #1196
I was thinking the label could be something like AMBIG#8123, with the AmbigID displayed in place of the tagID, and can be looked up elsewhere by users. This is less informative than showing tag ID’s, but has the merit of being clearer than showing tag 0 (#999999).

Two alternative options would be:

-          somehow list explicitly the tags in the ambiguity (e.g. AMBIG#8123: 79100, 77012).

-

[2022-05-21 14:44] leberrigan commented on #1110
@cjardine-bsc Can you make the following edits to [dbo].[vwDashboard_tags]?
- Add column `lifespan`.
- Rename column `ProjectID` to `projectID`.

[2022-05-23 13:34] leberrigan opened #1198 "Update Sandbox database with stations/station deployments from Motus live"
Currently the Sandbox explore demo only has 12 station deployments being returned by the API.

In addition, all the station IDs in Sandbox are different from those in Live so copying deployments from Live into Sandbox for a working example isn't easy.

[2022-05-24 02:41] ajmacdonald3 opened #1199 "Test tag no longer showing up on Motus website despite being detected"
I’m trying to solve a small mystery that I think may have happened with the beta 10 launch. I have a CTT lifetag test tag that was registered to project 322 (Test Tags). I noticed it wasn’t showing up on motus when I set up the last [station at UNBC](https://motus.org/data/receiverDeploymentDetections?id=8649) despite seeing it on the web interface. The Lotek test tag does show up. I did some digg

[2022-05-24 16:49] leberrigan opened #1201 "Network-wide missing data from CTT radios on SensorStation receivers: May 18-21"
Large gaps in data are missing from May 18-21 over the exact same time periods for all CTT SensorStations across the network.
![image](https://user-images.githubusercontent.com/35931796/170089609-56177bf7-715c-4d1a-8da6-215d39a2e653.png)

Bob is looking into it on their end - it's not yet clear where the problem is occurring.

Lotek data appears to be flowing normally - station in Montana that was

[2022-05-24 16:53] leberrigan commented on #1199
Is it possible the missing tag data is from May 18-21? See #1201

[2022-05-24 17:57] Hussell commented on #1201
Must be us. I'm seeing activity and detections on the receiver deployment plots:
https://motus.org/data/receiver/deployment/plot?id=6131
https://motus.org/data/receiver/deployment/plot?id=6156

So the data must have been processed on sgdata and successfully transferred to the main database. It's likely the summarisation process have been failing.

[2022-05-24 19:01] cjardine-bsc commented on #1201
Hmm, no I think something wonky is happening upstream. There is a pretty clear gap on the plot Jeremy shared:

![image](https://user-images.githubusercontent.com/22172758/170111798-c5813253-944b-4393-a6d0-dee9982e7f6a.png)

And in the DB, I'm seeing some gaps for those receivers in terms of batches. Data was coming in every hour or so before the 18th, and since then we've only received 3 batches.

[2022-05-24 19:02] ajmacdonald3 commented on #1199
Yes, we set up that station on May 18, so maybe it is related to the CTT data gap.

[2022-05-24 19:17] denislepage commented on #1201
There was some disk failure happening last week. Kwic changed a disk on Thursday and the array should now be rebuilt.

However, this is more likely related to the new tomcat instance I installed around that date.

I can see a large number of unprocessed data in the beta folder, all dated 18 May or later.

The proc appears to be running, but it seems to be ignoring the data files, so it may be look

[2022-05-24 19:17] ajmacdonald3 commented on #1201
Not sure if this is related, but sensorstations connected to cell have not sent data to motus since May 22 and they usually send it daily (checked all of mine and a number of others). They have sent data to CTT.

[2022-05-24 19:18] cjardine-bsc commented on #1198
Fixed.

[2022-05-24 20:23] Hussell commented on #1201
Two different things, I think. An issue on our end from 05-18 to 05-21, and an ongoing issue at CTT beginning 05-22.

[2022-05-24 20:32] denislepage commented on #1201
It'll take perhaps a day or two to clear the backup, so let's revisit again once that is done. I'm not entirely clear either. I see data stored in 2 different formats in the queue. One format contains files for 18-21 May, and the other contains ONLY files for 22 May.

The sandbox queue also has a number of unprocessed files, but only for a brief period on 22 May (13-14h), which seems odd.

[2022-05-24 22:39] denislepage commented on #1201
As far as I can tell, it's processed about 10% of the backlog, so it may be done by tomorrow night, depending on the size of the individual batches.

[2022-05-25 15:50] j-sayers commented on #1194
Yes fixture_type is required when manually entering the details. Looks like what's happening is
1) fixture_type is not copied over to a new deployment at an existing station. This may be because fixture_type is actually the only piece of information either not stored at the station level (location etc) or controlled by the check-box options when creating a new deployment (both receiver and antenna

[2022-05-25 16:27] denislepage commented on #1201
All done. As I thought, a small number of files didn't get processed in sandbox, and went straight to the main database. I don't think we need to worry about those, but for safekeeping, I am attaching the list of batch ID's (the second number is the batch UID, which is meant to match batches between sandbox and live).

I am going to close this, but someone should confirm that the data gaps have be

[2022-05-25 17:52] denislepage commented on #1201
All done. As I thought, a small number of files didn't get processed in sandbox, and went straight to the main database. I don't think we need to worry about those, but for safekeeping, I am attaching the list of batch ID's (the second number is the batch UID, which is meant to match batches between sandbox and live).

I am going to close this, but someone should confirm that the data gaps have be

[2022-05-26 16:16] cjardine-bsc commented on #1110
okay, should be done!

[2022-05-26 16:41] cjardine-bsc commented on #1189
That poke is for me. I did some syncing last week, but haven't finished. I poked Kwic again about granting access to my IP.

[2022-05-26 18:27] Hussell commented on #542
Note to self, current test case is tag ID 61915.

[2022-05-26 18:57] ajmacdonald3 opened #1202 "Tag deployment upload bugs"
A bulk tag deployment metadata upload resulted in three tags (tagIDs 65425, 65426, 65427) with warnings that they had been entered with a future deployment date. This wasn't the case, but maybe there is a discrepancy with UTC time? I am 7 hours behind UTC and entered the data about 5 hours after tagging the birds.

![image](https://user-images.githubusercontent.com/44593593/170556251-5f3d7f87-7771

[2022-05-26 23:03] cjardine-bsc commented on #1202
5 hours? You're a marvel.  5 hours after banding and I'm generally asleep....

Yes, The proc was using the local date from our servers in Ontario, not the UTC date. I've made that change.

This might need to be a separate issue. Probably one for @Hussell eventually. : When you click on "Modify this deployment" and then click "Cancel" it goes to the [404 error page](https://motus.org/404.php) inste

[2022-05-26 23:03] #1202 closed

[2022-05-26 23:17] cjardine-bsc commented on #1197
Oh, sure. A rare case, but worth squashing.

I've changed the tag copy proc so that it now will also create a deployment. That means you'll need to provide an anticipated date whenever you want a tag copied between projects (just moving a tag won't need this). That should prevent ambigs.

[2022-05-28 11:42] leberrigan commented on #1198
Hmm.. I'm still seeing different station ID's in Sandbox vs. Live - is there a way to fix that?

[2022-05-31 15:57] leberrigan opened #1203 "Project 455 - Missing Tag Registrations"
Some offshore wind project partners ordered tags recently and they can't find them on their project even though they were shipped a month ago.  I checked our database and I was not able to find them either. They are tags:

CTT (1 tag): mfgID: 4B554C33 and 78341978
Lotek (2 tags): mfgID = 004, tagBI = 5.0, ordered Apr 5

I didn't get a clear answer when I asked whether they told the manufacturers t

[2022-05-31 21:26] denislepage commented on #1203
You said 1 CTT tags, and 2 Lotek, but I’m assuming from your info that it was the opposite.

I can see tags 4B554C33 and 78341978, both currently registered under project 0, and registered on 8 and 7 February 2022, respectively. I believe that CTT should normally come back and add the project when available, but this may not be happening, the process may be broken, or something didn’t trigger this

[2022-06-01 14:40] steffilazerte commented on #1189
Hi @cjardine-bsc, I'm away on vacation for two weeks starting next Wed (June 8th). Any chance we might get this resolved before then? If not, I'll see about adding a quick patch for Josh's problem as a temporary intermediate fix...

[2022-06-01 18:05] cjardine-bsc commented on #1189
Is it just the additional batches activity column you need (numGPSfix)? In which case, that should be done.

[2022-06-01 18:47] cjardine-bsc commented on #1203
I moved the two CTT tags to 455.  (prTransferTagMoveCTT). We register the tags ourselves when data comes in for them, and then CTT updates the metadata.

Any chance you have the sales order number from lotek? I don't see any registrations of lotek tags for project 455. We should check with lotek, the user may need to do a manual recording.

Both these things suggest that the manufactures didn't kn

[2022-06-01 19:47] cjardine-bsc commented on #1198
Nope. The stationIDs are different between the two DBs. What are you attempting to do?

[2022-06-02 17:16] denislepage opened #1204 "CTT regex for V3"
CTT is introducing a new regex pattern for their next model.

All component with this pattern:  `CTT-[0-9A-F]+`

Should be changed with: `CTT-V?[0-9A-F]+`

Note that I have also simplified a bit the pattern in some places:

From  `(CTT-([0-9]{15}|[0-9A-F]{12}))`

To: `(CTT-V?[0-9A-F]+)`

For example, this was one of the files that came in yesterday that couldn’t be recognized, because of the V pre

[2022-06-02 17:17] denislepage commented on #1204
Also will need deploying to sgdata once confirmed

[2022-06-02 17:49] steffilazerte commented on #1189
@j-sayers The fix has been pushed to the dev branch, did you want to test it out? I'll push to master before I leave on Wednesday, but it's always nice to have it tested by others first!

`remotes::install_github("motusWTS/motus", ref = "dev")`

Should be version v5.0.1 `packageVersion("motus")`

[2022-06-02 17:59] j-sayers commented on #1189
works!

[2022-06-03 15:00] steffilazerte commented on #1189
Fix merged to master

[2022-06-03 15:03] steffilazerte commented on #1112
I'm not available to do this until later in June, but is this something I should give a shot at added? Is the view ready for being accessed by an R function?

[2022-06-03 15:59] cjardine-bsc commented on #1112
Hi Steffi!

Yes, this is something we want to add to the R package. We can check with @denislepage to see if there is an API for that view set up.

Right now the view contains:

[project_id]
      ,[projectName]
      ,[descriptionShort]
      ,[url]

@j-sayers @leberrigan @StuMackenzie  are there any other field you'd like?

We might want this available on the website as well.

[2022-06-05 19:45] ajmacdonald3 commented on #1199
The test tag reappeared after the CTT data gap was resolved.

[2022-06-05 19:45] #1199 closed

[2022-06-05 20:07] ajmacdonald3 opened #1205 "Station deployment bugs"
I have had to do a lot of swapping out sensorstations and sensorgnomes and redeploying stations in the last few days (I am playing musical receivers I suppose!), and it has provided a good opportunity to test the station deployment tools. A few bugs:

- When you create a new deployment and enter the antenna configuration, click save changes and exit, the antenna bearings disappear. You have to go

[2022-06-06 09:52] leberrigan commented on #1112
What about project contact? That may be important to include and should be fine if it's only visible to logged-in users.

[2022-06-06 13:06] leberrigan commented on #1203
Here's an update from the collaborator:

Sales Order No. - SO44423
 
Additionally, the product order number is R176224 for an NTQB2-6-2 tag, with the serial number NQ0041909.

[2022-06-06 16:30] cjardine-bsc commented on #1112
Yeah, I debated about that. Seems iffy to allow users to download email lists through R. So the url links to the project page where contact is listed. What do others think?

[2022-06-06 16:56] denislepage commented on #1112
Agree. Just a link to the project.

[2022-06-06 18:58] leberrigan commented on #1087
How far are we from having a working entry point that I can use? Are there any obstacles that we need to address? We need to put this higher on the priority list

[2022-06-07 16:11] j-sayers opened #1206 "sgdata unreachable"
Just noticed now that sgdata.motus.org is unreachable and attempts to reach https://motus.org/data/project/sgJobs generates an error (Trying to access https://sgdata.motus.org/status2/authenticate_user got response: HTTP/1.1 502 Proxy Error).

~~Perhaps relatedly, or perhaps not, there is no new data from networked SG's or SS since yesterday.~~

[2022-06-07 17:13] denislepage commented on #1206
The processes are running, but there is a bit of backlog. We are talking to CTT very shortly, so I can ask, but there seems to be a big push of data right now from their end. If this is the new normal volume, we may be starting to get closer to a point soon where data comes in faster than we can process them.

I can log into in sgdata, and apache seems to be running ok. I've asked  @Hussell to inv

[2022-06-08 15:08] leberrigan commented on #1110
@denislepage I'm not seeing any of the following new variables that Catherine just added. Is it something you need to change on your end?

[2022-06-09 13:08] Hussell commented on #1206
Restarted.

[2022-06-09 13:08] #1206 closed

[2022-06-09 15:32] denislepage commented on #1194
You can also let me know when you have an updated live branch with beta 11, i can look to deploy to the new tomcat.

[2022-06-09 18:49] leberrigan opened #1207 "Changes to Project Management Page"
As discussed on June 9 call:
- Add dropdown for fee contact (users registered to project)
- Add dropdown for project group (one of [motus].[dbo].[lk_group])

### Groups
Department of Interior (USFWS, USGS, BOEM) - CRADA
Environment and Climate Change Canada
Atlantic Offshore Wind
Birds Canada

### Fees
Institution of the Principal Investigator
Department of Interior (USFWS, USGS, BOEM) - CRADA
Env

[2022-06-09 19:05] denislepage commented on #1207
@cjardine-bsc , is the new field for `fee_user_id `what it's gonna be called?

I can add it to the database, so I can start adding some of the Java support for it now. You have 2 minutes to respond until such a field exists… ;-)

[2022-06-09 19:06] cjardine-bsc commented on #1207
its already in sandbox. Projects, bt_projects and trigger. With FK to user_id

[2022-06-09 19:08] denislepage commented on #1207
![image](https://user-images.githubusercontent.com/21110542/172925160-151faaad-4a7f-4daf-9694-d474966844ad.png)

[2022-06-09 19:09] cjardine-bsc commented on #1207
Go forth and debt collect.

[2022-06-09 19:12] cjardine-bsc commented on #1207
@StuMackenzie should I populate the fee_user_id to be the primary contact where the user has selected project lead as the fee type?

[2022-06-09 19:52] denislepage commented on #1207
Done.

![image](https://user-images.githubusercontent.com/21110542/172932180-ee00df55-bad0-4d52-b1ff-be1b20637bfb.png)

Things that are still needed:

- copy all values from lead_user_id to fee_user_id as the default. @cjardine-bsc
- copy all fee_id values to group_id as the default  @cjardine-bsc
- Provided new and/or amended text fragments: Fee_contact and Fees_will_be_covered_by. (@StuMackenzie

[2022-06-09 20:33] leberrigan commented on #1207
Thanks! That was quick...

@cjardine-bsc
- I have updated the text fragments in sandbox - can you push it to live?
- Can you change in `Fees_will_be_covered_by` the value 'Institution of the Principal Investigator' to:
  - EN: The project fee contact
  - FR: Le contact des frais de projet
  - ES: El contacto de la tarifa del proyecto

@denislepage
- Ordering looks great.
- Can you add a row to the

[2022-06-09 20:35] leberrigan commented on #1207
Yes! We'll need a default and if it's wrong that will change fairly quickly.

[2022-06-09 21:37] cjardine-bsc commented on #1207
copy all values from lead_user_id to fee_user_id as the default. @cjardine-bsc

Done

copy all fee_id values to group_id as the default @cjardine-bsc

done

 have updated the text fragments in sandbox - can you push it to live?

Done

Can you change in Fees_will_be_covered_by the value 'Institution of the Principal Investigator' to:

    EN: The project fee contact
    FR: Le contact des frais de

[2022-06-09 23:49] denislepage commented on #1207
For new projects (which is another we just test), main and fee contacts will be set by default to the logged in user. Now that the values are prepopulated for both fields, I don't think we need a blank option.

Other than testing a new project, I am not sure if anything else is needed? On new projects, we perhaps will need to add the new fields also? At the moment, it asks for none of them, but it

[2022-06-10 10:48] leberrigan opened #1208 "Create a new project - form is outdated"
It seems like form on `/data/project/new` has not been updated since before beta10 - it's missing most of the instructions as well as all the select menus.

I think it's an important part of the workflow to have those select menus available when creating a new project, especially for our framework document for offshore wind groups.

[2022-06-10 10:51] #1208 closed

[2022-06-10 10:52] leberrigan commented on #1207
That sounds fine with me. We should probably update the page for new projects since that will be part of the workflow in our guidance document. Also, it's missing all the instructions that the 'edit project' page has.

[2022-06-10 13:58] j-sayers commented on #1207
That all looks great!

@denislepage while you're in there are you able to add the **country** and **address2** fields to the user profile page (they exist in the admin profile page, but not the one accessible directly by users; #1063)

[2022-06-13 13:59] leberrigan commented on #1110
@cjardine-bsc This is still returning an empty array: https://beta.motus.org/data/dashboard/tags/local

[2022-06-13 16:21] leberrigan commented on #1110
@denislepage I'm not getting any response when trying to load from:
 - `/gps` https://beta.motus.org/data/dashboard/gps?stationId=11632&page=1
 - `/antPulse` https://beta.motus.org/data/dashboard/antPulse?stationId=11632&page=1

[2022-06-13 16:51] denislepage commented on #1110
I saw some database errors related to missing views today.

Catherine can let me know if I need to fix the API.

[2022-06-13 16:52] cjardine-bsc commented on #1110
I'm on it. Stand by.

[2022-06-13 19:45] cjardine-bsc commented on #1110
Sorry, meetings.

Tags local proc run on live

[2022-06-14 11:52] leberrigan commented on #1110
Yup yup - looks good now

[2022-06-15 16:18] leberrigan commented on #1110
@cjardine-bsc It looks like I'm only getting antenna pulses for a subset of the hour bins - are you only sending me hours where tag detections occur? Perhaps you've pared things down because it's a lot of data to send -- if that's the case, I'm fine with you sending me a daily sum of pulses per antenna.
![image](https://user-images.githubusercontent.com/35931796/173876559-dd7b56f2-2ab9-478b-9157-e

[2022-06-15 16:43] cjardine-bsc commented on #1110
This is what I mentioned last week. The new activity proc isn't in live yet. Stand by!

[2022-06-16 10:36] leberrigan opened #1209 "PDF uploads for antenna calibration reports"
We've discussed this in the past, but essentially the offshore wind folks need a way to link antenna calibration reports with station deployments and right now the reports are PDFs.

Denis has said it would be easy to allow that file type in the current uploader.

I suggested the files be named with the station deployment ID to make it easy for them to be linked.

I can't think of why we would nee

[2022-06-17 18:26] leberrigan commented on #1187
@denislepage We're getting the following error:

Has the regex been changed to accept the 'MD' prefix?

[2022-06-17 19:37] leberrigan commented on #1187
I think the correct change would be:
`MOTUS_LOTEK_SERNO_REGEX = "Lotek-M?D?[0-9]+(?:_[0-9])?"`
https://github.com/MotusWTS/motusServer/blob/1a591bf4cc6b61b0a239f912bc4283f9f78b659a/R/motusConstants.R#L181

[2022-06-17 21:04] cjardine-bsc commented on #1187
it was still null in sandbox and Live. For the moment, I've changed it on sandbox to the below. I believe that covers what you need, but I admit I only skimmed :-) , ping me again if this isn't right.

^Lotek-(?:MD|M|D)\d{6}$

I also need a text key associated with the instructions for that regex.

[2022-06-17 21:57] cjardine-bsc commented on #1209
Denis and I will need to discuss how we want to organize motus media. I suspect we'll end up with a media table and then a link based on media_id to the various places (photos/pdfs).

[2022-06-17 22:50] cjardine-bsc commented on #1110
Running on live now.

[2022-06-17 23:31] cjardine-bsc commented on #1130
Running on live now. Can be tested and hopefully closed.

[2022-06-20 09:55] leberrigan opened #1210 "Loading GPS hits and antenna pulses is too slow"
The main reason why it takes too long is server latency: it takes about 1.5 s to get a response for each GPS hit request and 10-15 seconds for each antenna pulses request. Since each request only includes 10k rows, I usually have to do multiple requests to get the full table. It takes only 5 ms between requests to send a new request, so it's definitely not my code slowing things down.

At this rat

[2022-06-20 13:14] j-sayers commented on #1056
I was just able to delete an overlapping deployment of a receiver at the _same_ station.

The above failed attempts involved overlapping deployments of the same receiver, but at _different_ stations.

[2022-06-20 13:18] j-sayers opened #1211 "Display "overlapping deployment" error message when a receiver is deployed at two stations at the same time"
There is a red error message on the Station overview page if there are two overlapping deployments of the same receiver at that station.

![image](https://user-images.githubusercontent.com/55001144/174610082-c6dda20a-6f98-4455-ab05-8c4a80c1f333.png)

But as I discovered trying to delete overlapping receiver deployments at different stations (#1056) this message only shows if the overlapping deploy

[2022-06-20 13:35] j-sayers commented on #1211
Hmm, this isn't happening consistently. I just had another pair of stations that shared a receiver deployment, and a similar error _was_ displayed (8752 is the remaining of the pair of overlapping deployments)

[2022-06-20 16:42] j-sayers opened #1212 "sgdata appears down"
Haven't been able to reach sgadata, or data via the R package this morning

Maybe a restart is needed?  @cjardine-bsc @Hussell @denislepage

[2022-06-20 17:04] denislepage commented on #1212
Database lock. Got it unstuck.

[2022-06-20 19:22] leberrigan commented on #1212
Still isn't working

[2022-06-20 19:27] cjardine-bsc commented on #1212
website is back up and r package, but I'm seeing a few user authentication errors come through for sgdata

[2022-06-20 19:29] denislepage commented on #1212
@joeybernard has been looking into the sgdata server issues. If the R package problems persist, you can reopen.

[2022-06-20 20:20] leberrigan commented on #1187
@Hussell Can you rerun Job 16409293? The file can't be uploaded again, but it failed last time so it needs to be reprocessed.

[2022-06-22 12:35] j-sayers opened #1213 "Can't create an earlier deployment for a receiver that is currently deployed"
I have a receiver that was recently deployed at a station. Prior to sending it out it was briefly tested at HQ, during which period it detected test tags (creating "tag detections outside of deployment" errors in the data issues page).

I'm trying to create a new test deployment that covers the period prior to the actual deployment, but since the receiver is currently deployed, I don't have the op

[2022-06-22 15:48] Hussell commented on #1187
The motusServe Lotek regexes have been updated, and the job successfully rerun. 0 detections though.

[2022-06-22 17:26] j-sayers commented on #1056
Another case of being unable to delete a receiver deployment https://motus.org/data/station/deployment/edit?projectID=483&id=8770

[2022-06-22 22:16] denislepage commented on #1056
I tried to run manually the delete proc. It's quite slow, but there is also a conflict in the det_taghits_run table.

[code]
The reason being precisely that there are 2 sensor deployment records for the same run, and we are now trying to set both to the same value in the delete proc:

`    UPDATE det_taghits_runs SET sensor_deploy_id = 0 WHERE sensor_deploy_id = 8770`

For example:

` select * fro

[2022-06-22 22:20] cjardine-bsc commented on #1056
Ha. I just pushed a similar change.

The problem with yours, is that there will be orphaned records with sensor_deploy_id in det_taghits_runs.

I'm deleting the duplicates instead.

delete FROM [motus].[dbo].[det_taghits_runs]
  where sensor_deploy_id = 8770 and exists (select * from det_taghits_runs b where det_taghits_runs.run_id =b.run_id and sensor_deploy_id = 0)

 Did you just run your thing

[2022-06-22 22:32] denislepage commented on #1056
I didn’t run mine.

The second line (delete) in mine would have handled the leftovers by deleting anything left with the sensor ID being deleted.

In your case, you still will have to update the records remaining with the deleted deploy ID.

Same difference, I think, but I’m fine going either way.

[2022-06-25 03:31] denislepage commented on #1209
I made a bit of progress on an upload tool already, using something I had done for NatureCounts.

I added a few tables and couple procs to sandbox (media, media_versions, sensor_stations_media, etc.)

It may not be too complicated to wrap it up into something at least minimally functional.

[2022-06-25 04:05] denislepage commented on #1209
Can we also clarify where this information should be entered.

For instance, do we want a section called “Reports and media” at the bottom here:
https://sandbox.motus.org/data/station/deployment/edit?projectID=78&id=5680

Media could in theory by anything, but we can initially limit the file types. Only PDF or also images? The only complication would be to categorize the various attachments, so we

[2022-06-25 11:32] leberrigan commented on #1110
@cjardine-bsc  Can you make the following changes?

### Tag deployments
- add `bandNumber`, `age`, `sex`, and `notes`

tagDeployID | tagID | speciesID | projectID | tsStart | tsEnd | region | group | markerNumber | markerType | bandNumber | age | sex | notes
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2022-06-25 13:22] leberrigan commented on #1209
"Station photos and calibration reports" is a good start. I think the general Motus audience will upload photos more often and just the offshore wind folks will be uploading pdf calibration reports (for now).

[2022-06-25 16:26] leberrigan commented on #1209
@j-sayers Stu brought up the idea of having a central location for managing media/files where they could be linked to station/tag deployments sort of like placing them in a folder (I think). In that way, we could manage photos and swap them between deployments if there mistakes are made.

I'm not sure if this is better because it's easier to fix mistakes or worse because it's easier to carelessly

[2022-06-25 17:51] leberrigan commented on #1210
Works MUCH better than before, but I still think it would be good to have a daily _option_ for faster downloading and fewer individual requests to the server.

There are 4 stations in particular that I've found so far that each have over 200,000 gps hits or antenna pulses (over 20 requests) and take a considerable time to load their activity timelines: 12203, 11953, 11207, 11578

In another case,

[2022-06-25 19:50] denislepage commented on #1209
I was already thinking along those lines.

There is a generic media table that contains the details of any uploaded file. In theory, the same file could be linked to multiple concepts (e.g. several station deployments could display the same photo or report). We probably would not allow people to do this across concept types (e.g. allow people to attach a station photo or a calibration report to a

[2022-06-25 21:26] denislepage commented on #1210
Define daily? ☺ I used a dayBin approach, which is based on UTC days (ts / 86400 sec, or hourBin / 24 hours). The new field is called dayBin. To convert dayBin to UTC date in Javascript:

[code]

I created new entry points in sandbox for:

/gpsDaily
/antPulseDaily
/count/gpsDaily
/count/antPulse (was somehow missing)
/count/antPulseDaily

This should reduce by about 24 fold the number of records r

[2022-06-26 11:10] leberrigan commented on #1209
Sounds great.

Is there also going to be a way we can categorize the photos for each deployment? That is, each deployment can have photos associated with them (to show configuration changes between deployments, etc.), but then the station itself has a single one that is displayed publicly.  I think for 2 I'm not sure if we want photos to be copied between deployments - those photos are most helpfu

[2022-06-26 15:32] leberrigan commented on #1210
Looks good - can you deploy to beta, too? I've been working on that for the most part.

I haven't updated documentation but can do so tomorrow.

[2022-06-26 19:38] j-sayers commented on #1056
Running into something similar with station 12612 https://motus.org/data/project/stations?setStationId=12612.

They accidentally created several unnecessary deployments which they want deleted. I was able to delete _some_ of them, but for receiver deployments 8743 and 8742 I am running into something very similar where the dialog says they have been deleted, but in fact they have not been.

[2022-06-27 17:09] leberrigan opened #1215 "Influx of false positive CTT detections"
We've had a few people (incl. Amie) report a recent influx in false positives found in CTT data – there are a few comments about it on the Slack channel: https://motuswts.slack.com/archives/C01JJ4PKQCU/p1656170054360229

This is unusual because we don’t normally see such false positives in the public data, but it’s almost as if the way CTT data has been filtered has changed – that’s just speculati

[2022-06-27 18:32] ajmacdonald3 commented on #1215
Here are the recent false positives I've noticed on stations in northern BC. The stations running there for the last year have all been quiet (one false positive CTT TRES tag), but in the last week or so there have been quite a few false positives in the public outputs that would be good to remove.

| tagDeployID | recvDeployID |
|---------------|----------------|
| 39140           | 7971

[2022-06-27 19:29] cjardine-bsc commented on #1110
Done. Notes is called Comments for consistency.

[2022-06-27 19:38] #1110 closed

[2022-06-27 19:39] leberrigan commented on #1087
@Hussell  I just noticed a bug that makes all the track segments have the same start and end time for a given individual, plus `is_track` is only ever true for the first segment only. My edits to `tracks.js` wouldn't have changed any of this.

Here's one case where there were 30 stations visited but the start and end dates are all the same:
![image](https://user-images.githubusercontent.com/359317