[2021-01-26 17:51] adamdsmith commented on #779
Idea for a brute force technique to remove aliased tags. Caveat: I have not thought terribly hard about this, so happy to have fundamental flaws or shortcomings identified.

Write a function that takes as input (1) a user-specified set of tags (`motusTagID`) deployed at/near at (2) a user-specified receiver (`recvDeployID`) and (3) a date range to filter of aliased tags. The function would filter

[2021-01-26 17:53] denislepage commented on #885
We may have to support both ts and gpsID , at least to allow the transition.

[2021-01-26 18:11] cjardine-bsc commented on #896
By "turned on" I don't mean "are on" I mean the moment they are activated initially.

My (rudimentary) understanding is that having the same burst interval would only compound aliasing if the tags all started bursting at the exact same time. That would mean the bursts would be happening at the exact same time leading to aliasing.

As it is, having the same BI doesn't seem any better or worst than

[2021-01-26 18:14] cjardine-bsc commented on #779
This is great. I can work on applying filters to these receiver deployments in the Motus db. One additional thing that you can add here is if there is a project whose tags should be in the area that we dont want filtered out.

Cheers!

[2021-01-26 18:28] adamdsmith commented on #779
Done. Thanks. I would add that there are also some legitimate "foreign" tag detections in there too, except for the single day events...

[2021-01-26 18:29] denislepage commented on #896
Adam, do you know what is the longest run that corresponds to a purported alias tag? And, are the alias tags having a high ratio of missed bursts?

The thing I have never understood about aliasing is that the conditions under which alias tags are created need to be repeatable over multiple intervals to be detected. That implies, in theory, at least 2 tags with the same BI that overlap their burst.

[2021-01-26 18:31] denislepage commented on #779
Are you inserting those in the runs filter table? If so, can you flag those as potential aliasing? We may want to go back at a later stage and investigate this further.

[2021-01-26 19:03] adamdsmith commented on #896
Probably unique situations, but I have several aliased detections of runLen > 30, with 20+ consecutive hits. That's not the norm, obviously. Full disclosure, I've not looked closely at the aliased detections to see the patterns of hit detections...

[2021-01-26 19:36] pmorrill commented on #885
Inspecting the api code, it appears I was right: we already support gpsID as the pagination parameter. Timstamp (ts) is also supported, but clearly problematic as reported above.

@steffilazerte can you test a switch to using gpsID for page calls on each of the following entry points:

/gps_for_receiver

/gps_for_tag_project

As soon as you include gspID on the calls, the query will order by gspID

[2021-01-26 20:21] StuMackenzie commented on #836
In process.

We need to update software on all SG- dual mode receivers to the newest software. Need to find the list of dual-mode SG. @jsayers-bsc

Catherine to compare Metadata from dual-mode receivers to the data. @cjardine-bsc

Once data from 'old' dual-mode SG's, has been integrated by @denislepage , we should also look at these data to ensure it looks OK.

A little more in https://motuswts.sl

[2021-01-26 20:30] adamdsmith commented on #836
Is this fixed software available? I've been using this for Pi-based SGs:

https://s3.amazonaws.com/media.celltracktech.com/sensorgnome/raspberry/rpi_sensorgnome_2019-10-01_ctt_update.tar.bz2

[2021-01-26 20:37] StuMackenzie commented on #836
@jsayers-bsc and @leberrigan and @dfloer are better to respond.

Where are clear instructions for users available?

[2021-01-26 21:07] cjardine-bsc commented on #779
That's the plan!

[2021-01-26 21:48] jsayers-bsc commented on #896
Right... Yeah I'm also not positive if bursts from multiple tags would be interpreted as coming from different tags unless they happened to be turned on at intervals which corresponded to a real BI internal (or accepted multiple of one). It's certainly more likely with shorter BI. There certainly seems to be something related to BI based on many of the examples I've that involve many tags with the

[2021-01-26 23:04] dfloer commented on #836
I can add that patch to an existing install image, but I'd like to make sure it's tested before we release it for a wider audience.

Is there any reason to have separate images for dual-mode receivers? Is there any downside to running the same image on a receiver that doesn't also have CTT dongles?

[2021-01-26 23:16] steffilazerte commented on #885
Ah good to know, I wonder if this is something I missed in an earlier iteration.  I'll give it a shot and let you know how it goes. Is this only on beta? Or master too? (i.e. could I submit a hotfix to master branch of the package?)

[2021-01-26 23:28] jsayers-bsc commented on #853
I just noticed that some of these are still here. Well sort of. They are absent from the map online, but still present when I query det_taghits_tracks. Maybe this is expected and they are being filtered out downstream of taghits_tracks?

(This is tag deployment 25185 and sensor deployment 5511 BTW)

[2021-01-27 07:30] denislepage commented on #836
It was just a patch that CTT compiled and made available. This will likely need a bit of coordination, but the fewer version we have to support the better.

The functionality that version introduced  to stream CTT detections (and GPS) separately should be incorporated into our current branch.

They also made other changes to work on the Sensors ration, so we should plan to coordinate future update

[2021-01-27 07:52] denislepage commented on #836
Made some progress on the import part. Just need a couple follow-up from Bob.

Couple loops to make sure are closed.

Manually uploading files from the newer software ((gz files separate from pulse data for lotek tags), should be streamed to an upload folder and then push to AWS.

Once the process is up and running, we should make sure the data come back and go into det.

We should also narrow dow

[2021-01-27 13:32] pmorrill commented on #885
This feature should be in all versions of the api, including 'live' (motus.org). Test it against any version.

[2021-01-27 15:35] steffilazerte commented on #885
Ugh, we *are* using gpsID in the project download, but *not* the receiver download. I must have missed receivers when I initially made the switch. Sorry for all the problems.

@StuMackenzie, I've made the fix. To test it, install the hotfix-gpsID branch and try downloading the receiver data, it should no longer be stuck at the 5th batch (or restart where ever the problem was, and it should no long

[2021-01-27 15:41] jsayers-bsc commented on #885
I'll pass this along and see if the results are different (and I'll use it on my end in the hopes that no other issues arise!).

[2021-01-27 15:58] steffilazerte opened #905 "Sandbox - HTTP error 500 - Internal Server Error for receivers"
I've been running into HTTP error 500 - Internal Server Error a lot lately on Sandbox

I *think* this is related to receivers (at least that's where I run into problems), but I'm not 100% sure.

@denislepage? @pmorrill? @cjardine-bsc? (Let me know if you're not the right people to ping with these issues)

[code]

[2021-01-28 05:16] denislepage commented on #905
That is working fine for me at the moment. I’m going to close for now, but if that happens again consistently. Not sure if the response returns an error message, but that would be helpful to know if we’re dealing with database timeouts, deadlocks or something else.  We may need to add the details if they are not there.

Sometimes, there may be specific queries that are poorly optimized by SQL (e.g

[2021-01-28 05:22] denislepage commented on #885
The fix is working for me. I was able to download the full database for the receiver. I think we’re good to merge to master.

[2021-01-28 06:13] dfloer commented on #779
@leberrigan I know this is like 7 months after this was posted, but for the "How can we eliminate aliasing?" section, checking the phase of the pulses should determine if they're from the same burst, as all of the pulses in the same burst from the same tag appear to have the same phase. This could also help determine if two pulses overlap each other.

[2021-01-28 11:40] jsayers-bsc commented on #885
I heard back from Project 213 and they have now been able to download data from this receiver (and one other that had a similar issue).

Does seem strange that so few (if any) other people actually ran into this while downloading data. I downloaded this one anew several times and never ran into this. Well anyway they are happy to be able to download all their data on demand now

[2021-01-28 15:40] jsayers-bsc commented on #900
The allruns view definitely makes a birds-eye overview possible for large datasets. For Project 279 for example, collecting into a data frame/table just isn't possible on most computers. The allruns view however takes only 25 seconds (on a .motus file >8gb in size). Then with the allruns, batches/runs/date ranges can be identified for further filtering. The majority of projects probably won't need

[2021-01-28 16:21] #885 closed

[2021-01-28 16:28] steffilazerte commented on #885
Pushed to master!

[2021-01-28 18:28] ajmacdonald3 commented on #857
All shorebird deployments have been updated to glue attachments and collaborators have been notified.

[2021-01-28 18:56] StuMackenzie commented on #857
Cool - was going to close, but our next step should be to specify different types of harnesses. leg-loop, neck-loop, other... This requires more thought and consultation.

[2021-01-28 21:44] denislepage commented on #900
I’m going through the SQL code now. My allruns table was based on an older version of alltags, so I am now aligning them to be consistent, including adding the tsBeginCorrected and tsEndCorrected. I used the SQL version of alltags from the master, and confirmed that it was the same as the sandbox version.

My earlier version was including the gpsLat and gpsLon based on the start of the fix closest

[2021-01-28 21:47] denislepage commented on #900
Sorry, attachments now included.

[
[create allruns.txt](https://github.com/MotusDev/Motus-TO-DO/files/5890157/create.allruns.txt)
[create allrunsGPS.txt](https://github.com/MotusDev/Motus-TO-DO/files/5890158/create.allrunsGPS.txt)

](url)

[2021-01-28 21:56] steffilazerte commented on #905
I'm still getting this error. I managed to extract the complete error returned by the server:

[code]

[2021-01-28 21:59] steffilazerte commented on #900
I'll try to get this figured out tomorrow, but I'm still running into sandbox issues, and I'd really really like to finalize some other work in sandbox (just need to run the tests and make sure it's all good), before getting too embedded on a new big thing :) But at least the problem (#905) seem to be only with receivers so I should be able to start working with projects at least.

[2021-01-28 22:02] denislepage commented on #905
Sounds like we’ll need to test with a different account that matches your permissions. I was trying as an admin, which may have explained the difference. A null pointer should be more easily replicable than a timeout issue.

The stack trace should help narrow down the issue by @pmorrill

[2021-01-28 22:08] StuMackenzie commented on #779
Once you have a working system @cjardine-bsc of flagging and removing problem receivers/timelines - I think we should prioritize removing any data, maybe all data from problem receivers/areas that we know about. Just as a brute force, quick fix for public filters at least. Another example is here - https://motus.org/data/receiver/deployment/plot/SG-4001BBBK2250-2017%20SELVA,%20Finca%20Las%20Palmer

[2021-01-28 22:48] denislepage commented on #900
I would support deploying any other outstanding issues before tackling allruns. It isn't an urgent addition for most people.

[2021-01-29 14:01] pmorrill commented on #905
Testing against the sandbox, check your parameters on this call:

/deviceID_for_receiver

There should be a 'serno' parameter, which is a JSON array of strings. I will add a trap for a missing param, or an empty param, which you can test after today's redeploy.

[2021-01-29 14:06] StuMackenzie commented on #749
Can you add all NSWO in South America and Arctic to the 'black list' - see https://motus.org/data/tracksMap?t=4349&t=4532&t=5219&t=5220&t=5221&t=5222&t=5223&t=5224&t=5225&t=5226&t=5658&t=5659&t=5660&t=5661&t=5662&t=5663&t=5665&t=5666&t=5667&t=5668&t=5669&t=5670&t=5671&t=5672&t=5673&t=5674&t=5675&t=5676&t=5677&t=5678&t=5679&t=5680&t=5681&t=5682&t=9652&t=9653&t=9654&t=9655&t=9656&t=9657&t=9658&t=965

[2021-01-29 18:06] j-sayers opened #906 "Deployment name of Networked receiver reverted to very outdated one"
The Motus Ontario receiver Koffler is a networked which has been reliably connecting for months. Today I noticed the receiver is still on the networked gnomes page, but instead of being called Koffler as it usually is, the name has reverted to the deployment Nelles (last active in 2015). A cursory look suggests it's just the deployment  name displayed on sensorgnome.org that is incorrect so it doe

[2021-01-29 18:15] jsayers-bsc commented on #906
That's not the only one actually. OldCut has reverted to a test deployment from 2014. Again, at a glance looks likes data is all being uploaded just fine, but just that somehow the first deployment name associated with the receiver is being displayed

![image](https://user-images.githubusercontent.com/55001144/106312028-0ebcae80-6234-11eb-873d-a0918c6abee9.png)

[2021-01-29 20:35] cjardine-bsc commented on #779
Moving some email discussions over here:

Denis:
There could potentially be issues related to sensorgnome that creates spurious pulses, but I would start from the theory that pulses are correctly recorded and that they are simply interspersed when the bursts overlap.

With two tags with overlapping bursts (A and B) each composed of 4 pulses (A1-A4, and B1-B4), the idea being that you have situatio

[2021-01-29 20:37] cjardine-bsc commented on #779
@dfloer :
I do think there is more that can be done on the RF side of things, namely measuring the phase (or more correctly, phase angle) of the signals. Because each burst of 4 pulses should all have the same phase, this would make determining if a pulse belongs to a burst a lot easier.

@denislepage
Can the phase be added to the output as a first step for each pulse, as (an) extra variable(s)? W

[2021-01-30 01:24] dfloer commented on #836
Existing SG image with the CTT patch applied to it: https://beta.sensorgnome.org/sg-releases/BETA-SGPI_2021-01-26_LIWIXI_CTT.zip
I've tested to make sure it boots, and it appears to work, but I'd like it to be more tested before we tell other people to use it.

(That link also might stop working at some point, I'm still building the website.)

[2021-01-30 17:23] StuMackenzie commented on #610
Some followup occurring in #aliasing discussion and #public data filters

[2021-01-30 17:27] StuMackenzie commented on #674
Closing in deference to #610 - requires followup.

[2021-01-30 17:27] #674 closed

[2021-01-30 17:29] StuMackenzie commented on #739
Closing in deference to #610 Still requires documentation, solution, etc.

[2021-01-30 17:29] #739 closed

[2021-01-30 17:49] StuMackenzie commented on #779
See also -
https://github.com/MotusDev/Motus-TO-DO/issues/155 * IMPORTANT* with initial documentation from Phil.

[2021-01-30 18:00] #873 closed

[2021-01-30 18:01] StuMackenzie commented on #700
Closed in deference to Slack #Guides

[2021-01-30 18:01] #700 closed

[2021-01-30 18:09] #690 closed

[2021-01-30 18:12] StuMackenzie commented on #701
Closing unless additional action and assignment can be identified. Perhaps a Motus Metadata Cleanup Issue #869

[2021-01-30 18:12] #701 closed

[2021-01-30 18:18] #666 closed

[2021-01-30 18:21] #662 closed

[2021-01-30 18:56] StuMackenzie commented on #664
Closing in deference to numerous issues including https://github.com/MotusDev/Motus-TO-DO/issues/720

[2021-01-30 18:56] #664 closed

[2021-01-31 14:50] #689 closed

[2021-01-31 14:54] #707 closed

[2021-01-31 15:09] #716 closed

[2021-01-31 15:28] StuMackenzie commented on #688
Closing because we all know it to be a need/want.

[2021-01-31 15:28] #688 closed

[2021-01-31 15:37] StuMackenzie commented on #668
Closing in deference to https://github.com/MotusDev/Motus-TO-DO/issues/853

ACTION - Detailed public documentation of the 'Motus Filter' is required. Public warnings need to be displayed somewhere whenever public data is shown.

[2021-01-31 15:37] #668 closed

[2021-01-31 15:38] StuMackenzie commented on #853
See - https://github.com/MotusDev/Motus-TO-DO/issues/668

ACTION - detailed public documentation of what's included in the 'Motus filter' and flagging on the website wherever public data is shown.

[2021-01-31 15:40] StuMackenzie commented on #658
Closed in deference to #760 and #836

[2021-01-31 15:40] #658 closed

[2021-01-31 15:41] StuMackenzie commented on #836
Further documentations and notes in https://github.com/MotusDev/Motus-TO-DO/issues/658

[2021-01-31 15:58] #616 closed

[2021-01-31 15:59] #608 closed

[2021-01-31 16:03] StuMackenzie commented on #625
See also and merge https://github.com/MotusDev/Motus-TO-DO/issues/615

[2021-01-31 16:04] StuMackenzie commented on #615
Closed in deference to https://github.com/MotusDev/Motus-TO-DO/issues/625

[2021-01-31 16:04] #615 closed

[2021-01-31 16:34] adamdsmith commented on #836
I'll try to test this image in the coming weeks with both Lotek and CTT tags.

Got a quick summary of what you're looking for from a performance stand point? I suppose we expect both tags to show up as live pulses via the web interface, or maybe that was already happening? If it's about tags lost during data processing, I can submit the raw data files here for your perusal.

[2021-01-31 16:43] #605 closed

[2021-01-31 16:48] #599 closed

[2021-01-31 16:49] #597 closed

[2021-01-31 16:52] #588 closed

[2021-01-31 16:53] #583 closed

[2021-01-31 16:56] #572 closed

[2021-01-31 16:57] denislepage commented on #836
We have been on hold with CTT for a while for them to process dual mode files. We are almost there. The functionality on the receiver should be working. The key with the new image is making sure that CTT tags are streamed to separate files, and that both CTT and lotek pulse files include gps readings.

[2021-01-31 17:00] #617 closed

[2021-01-31 17:05] StuMackenzie commented on #855
Closed in deference to #853

[2021-01-31 17:05] #855 closed

[2021-01-31 17:06] StuMackenzie commented on #853
Note https://github.com/MotusDev/Motus-TO-DO/issues/855

[2021-01-31 17:07] StuMackenzie commented on #853
Original CTT False Positive Discussion - https://github.com/MotusDev/Motus-TO-DO/issues/659

[2021-01-31 17:08] StuMackenzie commented on #659
Closed in deference to https://github.com/MotusDev/Motus-TO-DO/issues/853 unless separate action can be identified.

[2021-01-31 17:08] #659 closed

[2021-01-31 17:12] #650 closed

[2021-01-31 17:15] #646 closed

[2021-01-31 18:30] #642 closed

[2021-01-31 18:30] #639 closed

[2021-01-31 18:40] StuMackenzie commented on #637
Unresolved - Still needs to be a more prominent feature.
- option on main map or, link to public version on the main map page somewhere.
- filter option on the new Explore Data pages, or specifically in a Project Mgmt Tool

[2021-01-31 18:44] #629 closed

[2021-01-31 18:46] #631 closed

[2021-01-31 18:49] StuMackenzie commented on #635
@dfloer For review and feedback re. SG live interface.

For information and future revision, but no immediate action to be taken so closing unless actions can be identified.

[2021-01-31 18:49] #635 closed

[2021-01-31 22:49] jsayers-bsc commented on #575
Not necessarily resolved, but not an issue either. It's a quirk of the sensorgnome.org page that many receivers are displayed simply because they connected once.

[2021-01-31 22:55] #636 closed

[2021-01-31 23:10] jsayers-bsc commented on #632
Search bars across Motus.org would be more useful if they behaved more like filters, where any combination of the words would yield results (ignoring spaces anywhere)

[2021-01-31 23:15] jsayers-bsc commented on #661
Closing until we have more dealings with nodes and no if/how to improve this

[2021-01-31 23:15] #661 closed

[2021-01-31 23:38] jsayers-bsc commented on #836
@adamdsmith Yes If the CTT patch is successfully applied you will see CTT tags in the Live Known Tags pane of the Web Interface -- but only if there is already a FCD or other compatible dongle plugged in (since that entire pane only shows up when a 166 dongle is plugged in).  And you're also likely to see a few false positives since it doesn't rely on a tag database being loaded on the SG as with

[2021-01-31 23:48] jsayers-bsc commented on #694
Better documentation of tag IDs would be helpful.

[2021-02-01 00:39] jeff-hemingway commented on #779
Hi all! So I took a first swing at this after a bit of an introduction from @cjardine-bsc and @denislepage.

First off, I tried to capture all the various [possible approaches](https://github.com/MotusDev/Motus-TO-DO/files/5901046/Tag.aliasing.approaches.xlsx) to the problem that I could think of and/or were mentioned in emails or github issues.

Then I looked that the first receiver on the list a

[2021-02-01 01:02] StuMackenzie commented on #575
@dfloer - can we make a partition in this list where only those that have connected consistently, moving data, etc., are separated from those that connected only once, or infrequently?

- Making the list searchable by each column, and include the Motus project would be ideal.
- This is covered elsewhere, but link this list to the active deployments for these receivers on Motus.org
- I'm sure there

[2021-02-01 01:13] StuMackenzie commented on #628
Until elevating this we should be a bit more specific and examine why the current setup isn't meeting our needs. If each station has a primary, or important contact, why isn't that one used, and other details tracked in notes?

Does the current comments not work, or does this notes suggestion relate specifically to landowner contacts?

Now applies to 'stations'

[2021-02-01 01:15] StuMackenzie commented on #626
Closed in deference to https://github.com/MotusDev/Motus-TO-DO/issues/628

[2021-02-01 01:15] #626 closed

[2021-02-01 01:16] StuMackenzie commented on #628
See also - https://github.com/MotusDev/Motus-TO-DO/issues/626

Unless resolved @leberrigan

[2021-02-01 01:21] StuMackenzie commented on #620
Mobile friendly has long been identified and known as an improvement we need to make.

[2021-02-01 01:21] #620 closed

[2021-02-01 02:43] StuMackenzie commented on #611
This is fine, but at the mercy of up to date # metadata.

[2021-02-01 02:43] #611 closed

[2021-02-01 02:43] #618 closed

[2021-02-01 07:39] denislepage opened #907 "Metadata interface UX improvements"
I was playing with creating new receivers and tags for doing some testing, and noted the few things that may help the UX on the management pages.

**Tag deployment:**

Text fragment not found in database: (EN) Tag_attachment

We deactivate the species section for test deployment, but the instructions are at the top in a section that most people probably don't read. Show the word "Not applicable fo

[2021-02-01 11:54] jsayers-bsc commented on #602
May be covered by some of Dale's work with the new images, but isn't as big a deal in retrospect. Ensuring the most recent software is installed is a first step to most troubleshooting.

[2021-02-01 11:54] #602 closed

[2021-02-01 11:58] jsayers-bsc commented on #619
Displaying more of the important information on tag / receiver overview pages is an improvement that has been brought up often with regards to the updated web site. Can close this particular issue.

[2021-02-01 11:58] #619 closed

[2021-02-01 12:01] jsayers-bsc commented on #628
Support for multiple contacts (e.g. landowners) is in the works as part of the move to manage at the Station level.

[2021-02-01 12:01] #628 closed

[2021-02-01 12:10] jsayers-bsc commented on #663
There is no easy solution here. If the actual start time is known then dates can be corrected retroactively. But if there have been multiple reboots it breaks down since the amount of time passed between reboots won't be known.

[2021-02-01 12:10] #663 closed

[2021-02-01 12:14] jsayers-bsc commented on #714
This particular issue is resolved. I'll open a new issue next time there is an error reported with the data validation.

[2021-02-01 12:14] #714 closed

[2021-02-01 12:23] jsayers-bsc commented on #693
No longer a concern with Lotek pushing tag registrations

[2021-02-01 12:23] #693 closed

[2021-02-01 17:53] cjardine-bsc commented on #693
Documenting the decision that deployments can no longer be created upon tag registration.

[2021-02-01 19:19] StuMackenzie commented on #894
Long URL issue and solution discussion here -

https://github.com/MotusDev/Motus-TO-DO/issues/402

[2021-02-01 19:19] StuMackenzie commented on #402
Closing in deference to https://github.com/MotusDev/Motus-TO-DO/issues/894 where track search issues can be consolidated.

[2021-02-01 19:19] #402 closed

[2021-02-01 21:01] Hussell commented on #903
This deployment has 3 antennas with no bearing. When the bearing is missing, it defaults to a 15km circle.

Documented here: https://github.com/MotusDev/Motus-TO-DO/issues/666#issuecomment-720609998

[2021-02-01 21:22] cjardine-bsc commented on #853
documentation note here: All CTT runs of len= 1 are now flagged in the motus filter.

[2021-02-01 21:24] dfloer commented on #836
@adamdsmith This is just the CTT patch and other updated applied to the last base SG image. There isn't anything new here. I just put it together so that we can just have the one thing to worry about and give people if needed.

It should work, but I may have messed up on permissions or something and want to make sure I didn't and that it works as expected.

[2021-02-01 21:31] cjardine-bsc commented on #886
Deployed. Closing.

[2021-02-01 21:31] #886 closed

[2021-02-01 21:35] cjardine-bsc commented on #872
@pmorrill Can you check that the value is saving to the DB?

[2021-02-01 21:36] dfloer commented on #906
I'll take a look at this. My understanding is that this data is coming from SGdata via an API call, but I'll see if there's something else going on here.

[2021-02-01 21:55] denislepage commented on #853
Great (as a first step)! We may find that it’s sufficient, too.

[2021-02-01 22:24] cjardine-bsc commented on #701
Yup. Pending deployments will no longer be created with tag registration so this should no longer occur (historic metadata still needs to be captured).

[2021-02-01 22:30] cjardine-bsc commented on #779
Another example in #739

[2021-02-01 23:02] cjardine-bsc commented on #779
I'm ready for these. Any additions to the list of manual filters can be added to #853

These can take one of 4 forms.

1. Tag_deploy_id and sensor_deploy_id combos.
2. Tags_deploy_ids  that should be universally removed.
3. sensor_deploy_ids that should be universally removed.
4. sensor_deploy_ids that should be universally removed EXCEPT for tags from a specific project. *this will be the most lo

[2021-02-01 23:29] jsayers-bsc commented on #853
tag_deploy_id | sensor_deploy_id |   | comments
-- | -- | -- | --
5673 | 5856 |   | 1 of 4 NSWO “detected” over a few days in the high arctic
5670 | 5856 |   | 1 of 4 NSWO “detected” over a few days in the high arctic
5668 | 5856 |   | 1 of 4 NSWO “detected” over a few days in the high arctic
5665 | 5856 |   | 1 of 4 NSWO “detected” over a few days in the high arctic
5667 | 3869 |   | NSWO far out

[2021-02-01 23:30] jsayers-bsc commented on #749
https://github.com/MotusDev/Motus-TO-DO/issues/853#issuecomment-771233590

[2021-02-02 00:09] denislepage commented on #779
I’m not sure I would favour an approach to only whitelist a certain project right away to deal with aliasing, until we’ve explored a bit more how aliasing manifest itself. I’ve started doing a bit of experimenting with this.

Tags with different periods should be much less impacted by aliasing for instance, so for starter, we could have a rule that says for instance “hide any tags with round(perio

[2021-02-02 00:47] cjardine-bsc commented on #779
Remember this is JUST on public outputs (adding records to the runs_filters table). We have settled on being fairly liberal with applying filters in this case. As long as users can still access all their data (and know why some was filtered as suspect) we can focus on presenting nothing but squeaky clean sparkling data on the public outputs.

As you say, I am equally concerned about adding additio

[2021-02-02 00:59] denislepage commented on #779
Sounds good. Let’s not move too quickly on #4. I’d also like to see how many babies would be drained with the bathwater. Contrary to real babies (I suppose), some babies would be acceptable. As long as we don’t send them Anderson Cooper’s way.

[2021-02-02 13:32] StuMackenzie commented on #779
In the case of most 'mass' aliasing events caused by type 2 aliasing where a number of tags were deployed in short succession, I think the whitelist approach will be effective at least for the public outputs. I'd be very surprised if there were any, or many, true foreign detentions during these periods. Most mass tagging events occur during stationary periods where migration or movement from other

[2021-02-02 14:01] StuMackenzie commented on #903
Right - thanks - i noticed that but didn't close the loop.

[2021-02-02 14:01] #903 closed

[2021-02-02 18:54] cjardine-bsc commented on #779
Just so we're on the same page. I had already made the changes to support #4. I've commented them out for now. That one I'm not really worried about, it's more the date restrictions that I want to be careful about, which I've not added. Yet.

[2021-02-02 18:56] cjardine-bsc commented on #853
Reminder to @Hussell to test this by re-running this receiver. Before Thursday ideally. Thanks bunches.

[2021-02-02 19:41] #444 closed

[2021-02-02 19:44] #456 closed

[2021-02-02 19:45] StuMackenzie commented on #466
This was a long and painful exploration not all of which is documented here, but I believe it to be resolved.

[2021-02-02 19:45] #466 closed

[2021-02-02 19:46] StuMackenzie commented on #462
Closed unless an action can be identified.

[2021-02-02 19:46] #462 closed

[2021-02-02 19:48] StuMackenzie commented on #523
Believe this to all be in order.

[2021-02-02 19:48] #523 closed

[2021-02-02 19:48] #505 closed

[2021-02-02 19:49] #506 closed

[2021-02-02 19:57] nathanwands commented on #466
Thanks for everyone's hard work here! Much appreciated.

Nathan

On 2/2/21 2:45 PM, SMackenzie wrote:

[2021-02-02 21:40] cjardine-bsc commented on #853
I looked at this. There is one record in det_taghits_tracks for this deployment pair:

SELECT * FROM [det_taghits_tracks]
where tagDeployId = 25185 and latitude = 49.15000000

It is the start of the track, but there are not subsequent entries. I double checked and det_taghits_runs has all runs filtered for this pair, so it probably somewhere in the track generation tool that is still leaving in th

[2021-02-02 22:52] cjardine-bsc commented on #853
Added to the filters. @jsayers-bsc can you check the web outputs and make sure they are as expected?

[2021-02-02 22:54] cjardine-bsc commented on #853
Problem windows/receivers (with potential whitelist) provided by Adam. I'm holding off adding these to the filters right now until we have a discussion on Thursday about how course vs fine we want to try and accommodate with these manual filters.

Receiver | Deployment ID | Date start | Date end | Local TagProject
-- | -- | -- | -- | --
SG-3115BBBK1383 | 2878 | 2018-04-04 | 2018-04-04 | 51
SG-2013

[2021-02-03 22:34] steffilazerte commented on #581
@denislepage is this something we've got a handle on? What is the status of ts corrected UTC offsets?

[2021-02-03 22:44] steffilazerte commented on #905
Okay, I had a chance to look at this, and I'm still not sure what's going on.  However, the good news is that I do get the "Invalid parameters" error, so that's good.

The JSON string being sent to sandbox (https://sandbox.motus.org/api/sgdata/custom/deviceID_for_receiver):

[code]
This is the exact same as that being sent to master (https://motus.org/api/sgdata/custom/deviceID_for_receiver), whic

[2021-02-03 23:59] cjardine-bsc opened #908 "Encoding of characters in error popups"
French text

![image](https://user-images.githubusercontent.com/22172758/106824918-b6711c80-6638-11eb-8417-89a3bc4da884.png)

[2021-02-04 00:20] denislepage commented on #908
This is typically the result of pasting text from Word, which converts all apostrophes to curly ones.

A bulk fix would be to update the database directly.

update table set text = replace(text, '&#39;', '''') where text like '%&#39;%'

[2021-02-04 00:27] cjardine-bsc commented on #766
There was a loose end here. I added a warning to the bulk tag deployment upload tool that warns users that they are setting an end date. That's deployed in sandbox and tested. I'll deploy to live unless anyone objects?

[2021-02-04 04:31] denislepage commented on #581
I’ve lost track, to be honest.

[2021-02-04 13:04] pmorrill commented on #908
Yes - the translations must have been copied in from Word. The curly's work if you deliver your pages as charset=windows-1252; but utf-8 not so well.

[2021-02-04 15:23] pmorrill commented on #905
Can you try the following against sandbox:

{"authToken":"XXXXX","dataVersion":2,"serno":["CTT-5031194D3168"]}

A some point we switched to using the org.bsc.json.JSONObject class to parse incoming JSON structures, and it could be less forgiving than whatever I was using previously. That change is not in live api, and that explains what you are seeing.

In any case: the serno now expects a well-fo

[2021-02-04 15:53] steffilazerte commented on #905
Yay, that worked (on both servers)! Apparently I don't have permission for this receiver under Sandbox (I could have sworn @denislepage gave me access though), but at least I got to the point of checking for data. Also other receivers do work :)

I'm going to close this issue, but ask that:

1. @pmorrill can we have a list somewhere of which parameters should not be unboxed (i.e. need the strict [

[2021-02-04 15:53] #905 closed

[2021-02-04 16:21] pmorrill commented on #905
@steffilazerte what documentation url are you using for reference? I am certain it won't be perfectly up to date, but any function that requires a JSON array parameter must now be well-formatted. My original code allowed for a single string, and boxed it into an array: that is no longer supported.

Send me your reference link and I will take a look at that.

[2021-02-04 18:17] cjardine-bsc commented on #908
Sorry I should have been more clear. I know I can update characters like this in the database, but I'm not sure that text is IN the database. It isn't in adm_text_descr or adm_error_code. Where are we storing that text?

[2021-02-04 18:21] pmorrill commented on #908
Actually, when I re-inspect this, the problem is not really the curly quotes. The issue is probably that someone has put html entities into the text, and our delivery mechanics are then html-entity-encoding that text. This takes something legitimate like this:

&#39;

and turns it into this:

&amp;#39;

The latter does not render as a character anymore.

I will track down the entry to confirm.

[2021-02-04 18:28] jsayers-bsc commented on #853
They are gone from the summary tables and the _individual_ maps on the deployment overview page. However some are still in the det_tagshits_tracks and the tracks map if accessed another way on Motus.org. A couple are present with only 1 record, but for others there are multiple records.

e.g.

**Deployment 5668**

No more Baffin Island in the summary table or the map on the tag deployment summary:

[2021-02-04 18:32] pmorrill commented on #908
aha. The issue here is one I can fix. The language resolve function is incorrect for use in a jscript alert message box. I will update master and beta9 later today, and search for other uses of this.

[2021-02-04 18:51] pmorrill commented on #872
I have no idea what this is about, or what it is for. Where is fee_code managed on the website? I can't even find an reference to it in the Java code. So - probably not the one to ask! It is completely new to me.

[2021-02-04 19:10] pmorrill commented on #908
Retest after next beta build..... :)

[2021-02-04 20:40] cjardine-bsc commented on #853
Okay, that sounds good.

ComputeTracks was run yesterday at 3pm EST.  There is another open issue asking @Hussell to look into why some of these tags are showing up there.

[2021-02-04 20:44] cjardine-bsc commented on #872
Hey Paul, It is the last question on the manage project page: https://motus.org/data/project/edit?id=137

Lookup values are coming from lk_project_fees and written to projects.fee_id

[2021-02-04 21:11] pmorrill commented on #872
OK - I checked the servlet for editing projects, and it is definitely passing a value back to 'fee_id' (Not 'fee_code'). In my dev environment, the values are being saved, and are reflected back in the 'Project edit' tool once saved. Not sure what else needs checking.

FYI: this servlet is all Jeremy's work, so any in-depth debugging is best left to him.

[2021-02-04 21:16] cjardine-bsc commented on #872
Thanks Paul, I'm not always on top of who built which pages.

I just tested using project 7 on sandbox and the value updated from NULL to 1 in the DB. @jsayers-bsc can you test again and see if you can replicate your error?

Actually. I just re-read your error. Maybe you didn't ever try to save the form with the default value?

As far as I can tell this is all functioning as expected. Closing unle

[2021-02-04 23:55] cjardine-bsc commented on #853
So, I took a look at the document that Amie shared with me where they looked at the number of missed bursts within a run. As discussed the concept is nice and simple:

Duration = max_ts-min_ts
nPred: Number pulses predicted = duration/period
nMiss: Number of pulses missed = predicted-run_len
probMiss - nMiss/nPred

In the document that Amie and Bianca have been developing they are suggesting that

[2021-02-05 03:29] denislepage commented on #853
Small tweak. nPredicted is = (duration/period) + 1

This wasn’t totally clear:

We are filtering out 7million runs that have a probmiss of 0.25 (not too surprising given we blanket filter out runs of len <=3)

You presumably you mean smaller than 0.25. As you say, the proportion on small runs is not smoothly distributed. Perhaps an interesting stats would be to look at the distribution of the miss

[2021-02-05 03:40] denislepage commented on #905
Your role should allow reading all public data on the API (e.g. all projects, except those marked sensitive).

The receiver is properly attached to a project, so something else is afoot. The list of projects returned by the view mentions 213 for you in all 4 cases.  (Catherine, note that some of the projects are duplicated, and should probably reduced)

      ,[view_data]: 1,1,2,3,4,4,5,6,7,8,9,10

[2021-02-05 14:24] jsayers-bsc commented on #872
As an example from two very recently created projets:

Project 369 https://motus.org/data/project/edit?id=369
Project 371 https://motus.org/data/project/edit?id=371

Both have "Institute of the Principal Investigator" pre-populated and seemingly saved. Yet fee_code for both is null in the db. Seems to be the case for many of the other nulls as well.

select id project_id, fee_id from projects
wher

[2021-02-05 14:33] StuMackenzie commented on #853
I've invited Hannah. You can also discuss in Slack - #public-data-filters., but we should make sure that important documentation is captured here.

[2021-02-05 17:15] cjardine-bsc commented on #872
The fee_id being null for older projects is expected. That shouldn't be updated until the project is re-saved (i.e. that the value has been confirmed).

But you're right. The drop down is missing from the create new project page. That's the issue.

https://sandbox.motus.org/data/project/new

@Hussell Can you add it please?

[2021-02-05 17:19] cjardine-bsc commented on #853
RE:  Small tweak. nPredicted is = (duration/period) + 1

I'm using ceiling(duration/period) but yes.

RE: You presumably you mean smaller than 0.25.

Correct.

RE A run length of 2, in theory could have up to about 18 missed bursts

As an FYI. According to Amie's document tagfinder allows up to 60 missed bursts. "During the process of automated tag filtering up to 60 bursts can be missed without t

[2021-02-05 18:00] StuMackenzie commented on #877
The crux of this data issue is that they had 64/119 birds detected during fall migration, but only 3/119 were detected during the returning spring migration. It could be a number of issues, but it's important for us to rule out something on our end.

It's difficult to assess which stations should be looked into, or potentially re-run to ensure it's not a data error, but it might not be a bad idea

[2021-02-05 18:24] cjardine-bsc commented on #905
That role only allows her to access tagme(project), not tagme(reviever ID).

The projects being duplicated is a known issue. There is a reason, and it's not causing any issues in the API so I left it alone.

[2021-02-05 19:59] denislepage commented on #905
So you can give Steffi receiver access for this one?

[2021-02-05 20:54] cjardine-bsc commented on #905
RE:  can I get access to this receiver (CTT-5031194D3168) on sandbox?

It is done. @steffilazerte

[2021-02-05 22:08] denislepage commented on #853
Not sure ceiling is safe. If that period = 4.1, the run length is 8.2 (should always be a multiple of the period), but in theory, but it can land on either side due to precision (8.1999 vs. 8.2001) and give you different results.

The point I was making it is if you have 2 full periods, you have an extra burst to add.

8.2 = run length of 3.

To be safe, I’d use: round(duration/period) + 1

60 bur

[2021-02-05 22:30] jeff-hemingway commented on #779
Ok, so here is what I've learned so far about [Option 2](https://github.com/MotusDev/Motus-TO-DO/files/5906442/Tag.aliasing.approaches.xlsx).

First of all, @cjardine-bsc helped to clarify that as plausible as those saw-whets looked to untrained eyes, they are well out of their range for that time of year and very unlikely. So I corrected my original chart to identify only the Project 51 Dunlins a

[2021-02-06 00:23] cjardine-bsc commented on #779
So Jeff provided me with the list of tags he identified in the dataset. I did some digging into whether or not the tags had deployments on April 4th 2018.

I checked out the first 6 tags. All of those had between 200-300 hits in the data, but none returned by tagfinder.

They all had valid params1-3 that resolved to mfg_ids. Strongly suggesting they were valid lotek tags. However on first glance t

[2021-02-08 15:04] jsayers-bsc commented on #853
A few more from a swallow tagging site in Saskatchewan

tag_deploy_id | sensor_deploy_id | comment
-- | -- | --
16863 | 5431 | spurious “detection” at site of swallow tagging
6199 | 5431 | spurious “detection” at site of swallow tagging
24666 | 5431 | spurious “detection” at site of swallow tagging
24666 | 5352 | spurious “detection” at site of swallow tagging
24719 | 5352 | spurious “detection” a

[2021-02-08 18:36] cjardine-bsc commented on #853
Added.

[2021-02-08 19:38] cjardine-bsc commented on #907
RE: Text fragment not found in database: (EN) Tag_attachment

There is no text frag in the DB with that key.

RE: The 2 description (Open data and Open summary data) do not match the options right below them. Share nothing of course is not visible to general users, but the other 2 should be consistent.

I have taken care of this one in the DB.

The rest is for @pmorrill and @Hussell We might want

[2021-02-09 14:13] leberrigan opened #909 "Truncated Deployment Timelines"
Deployment timelines no longer show all detections of tags. Is it possible to make the entire timeline visible? These timelines are very useful for identifying false positives.

**Example:**
Deployment starts in 09-2015, but detections only appear in timeline on 09-2020.
https://motus.org/data/receiver/deployment/plot/SG%2D1614BBBK1899-2015%20Quebec%2C%20Tadoussac.png?id=3146&n=100&firstTag=0
Tabl

[2021-02-09 18:26] adamdsmith commented on #836
I'm not seeing the CTT motus tag adapter show up anywhere on the web interface, either under `Devices` or `what I'm doing now...`. Is it supposed to show up anywhere? This is using both of the links I and @dfloer provided above. Also, CTT tags will only show up in the "Live Known Tags" pane, and not the "Live pulses" pane? So I need to install the tag database that contains registered CTT tags?

[2021-02-09 19:35] jsayers-bsc commented on #836
I'll give this combined version a shot tomorrow.

I do know that for those where the patch is applied separately that
- often 2 reboot cycles are needed
- the CTT dongle will show up in Devices, but not in What I'm doing now (image below)
-

[2021-02-10 20:05] jsayers-bsc commented on #836
First glance suggests the combined version with the patch works. I'm seeing everything displayed as it should be, including live CTT tags (once a FCD has been attached)

[2021-02-10 20:17] adamdsmith commented on #836
Cool. Would you mind creating a fresh link to a zipped directory that
replicates what's on the microSD card of your functional unit(s)? THanks!

On Wed, Feb 10, 2021 at 3:05 PM jsayers-bsc <notifications@github.com>
wrote:

[2021-02-10 20:49] StuMackenzie commented on #894
Track Search only returns 1 Kirtland's Warbler despite hundreds in the system. Are these data restricted? https://motus.org/data/tracksSelect?e=2013-01-01&l=2021-12-31&s=16770

[2021-02-11 11:49] jsayers-bsc commented on #836
I just copied over everything from the .zip Dale provided. Took several attempts to download (not sure why) but after that it just went normally.

[2021-02-11 14:17] StuMackenzie opened #910 "Project Attribution and Citation Tracking"
This is related to a few ongoing issues and future needs. Bit of a brain dump which may need some tweaking, but this is important.

-project names are generally poor
-project attribution is not always clear
-no method for tracking citations as they relate to projects
- related to #897 #853 and Collaboration Policy updates and data sharing

1) **Project attribution:**

a) During the registration pr

[2021-02-11 14:52] StuMackenzie commented on #543
For Reference. This is not doctrine, just a guide:

**Enhancements to SensorGnome software**

| 1 | Update and   standardize computer hardware and host versions (to current Debian)
  | 2 | Automate building and testing of software release (e.g. using   Docker)
  | 3 | Automated configuration and deployment of software for users
  | 4 | Update communication protocols between receiver and   sensorgn

[2021-02-11 15:12] adamdsmith commented on #836
OK, I tried that version too but will try again. Are you using the newest CTT Motus dongle, or the older version with built in USB cable ([like the one pictured on their [](website](https://celltracktech.com/products/tag-system/lifetag-motus-adapter/))?) The newer version requires the user to purchase the USB-A to microB adapter to connect to the SG. I don't know if there are particular specs need

[2021-02-11 15:28] jsayers-bsc commented on #836
Hmm... I guess these would be the first version then.

I haven't seen the newer version. The need for an adapter is a bit of a pain. Wonder how many of the V1 adapters they have left? :)

[2021-02-11 15:48] adamdsmith commented on #836
Just retried with @dfloer "image." Still no luck getting it to show up. It's not the port on the Pi; FUNcube recognized without problem. Tried multiple cables. Something is amiss. Here's what the newest version looks like...

<img src="https://user-images.githubusercontent.com/3195855/107660390-33fae500-6c56-11eb-9eb6-a02dd641ac20.jpg" width="400" />

<img src="https://user-images.githubuserconten

[2021-02-11 15:53] jsayers-bsc commented on #853
Here are some unnaturally peregrine falcons pointed out by Project 48.

Most occurred at Fincas La Palmeras, a Selva tagging location. One occurred at another Selva station, but the pattern looks different than the typical tagging location (BI is all over the place).

tag_ceploy_id | sensor_deploy_id | comment
-- | -- | --
24666 | 3872 | site of tagging location (SEVLA; Finca Las Palmeras)
24664 |

[2021-02-11 16:00] adamdsmith commented on #836
FWIW, now that I think about it, I tried an earlier version of this patch on a couple of SGs with the V1 Motus dongle and it recognized the dongles just fine. Indeed, one of them is here: https://sg-433crpi3b3b3.sensorgnome.org/

[2021-02-11 17:17] cjardine-bsc commented on #853
Sure I can add those, does the "site of tagging location" comment mean the tag is unexpectedly far from the deployment location?

Also can you explain what you mean by "BI is all over the place"

[2021-02-11 18:23] jsayers-bsc commented on #853
Yes, given the context. Project 48 tagged 8 PEFA and they all showed up at Finca Las Palmeras at the same time as the tagging (and in most cases nowhere else).

They're Outta control, Jerry! There are a variety of BIs present. Most of the false positives at stations where many physical tags were present are the same BI as those present.

[2021-02-11 19:34] cjardine-bsc commented on #853
Added. Note that

24666 | 3872

Is on the list twice.

[2021-02-11 20:32] cjardine-bsc commented on #910
Okieday.

We'll need a few new tools to accommodate this. First for project citations.

1. Right now we track all collaborators in motus using the "institution" table. But we don't track which project is affiliated with each institution. We have a DB table for that (projects_institutions). We need a new tool on the project management page that allows users to select institutions affiliated with th

[2021-02-11 22:10] StuMackenzie commented on #910
We're the only ones adding things to Zotero at the moment - D-boss will likely wanna keep that private. There must be an 'easy' way to do this, but I haven't looked into it at all. Audubon does something similar, so we could ask them for details on how they do if needed.

[2021-02-11 23:02] denislepage commented on #910
I suspect the easiest way would be to have a recommended citation box that we could prefill by default at the start, but let people customize. We probably need to separate a short citation for multi-project uses from those for single project that may allow more room.

Something like:

Please indicate here how you would like your project to be attributed by data users:

[2021-02-11 23:24] hanndrake commented on #853
@cjardine-bsc Here's the list of suspect detections up until today! (~150 tags, 11  "problem" stations):

[Compiled_suspect_data_Feb_11_21.xlsx](https://github.com/MotusDev/Motus-TO-DO/files/5968917/Compiled_suspect_data_Feb_11_21.xlsx)

[2021-02-12 12:59] StuMackenzie commented on #910
Yeah, that's half the problem. Issue is that most users are horrible at populating data, so if it's a user option, it won't be populated properly. If we're able to automate a citation that they can edit, that may be a bit more effective.

Linking to citations related to their project is a separate step.

[2021-02-12 15:10] jsayers-bsc commented on #836
There is a dual-mode SG now running at HQ with 2 LifeTags (with a V1 CTT-Motus dongle). It's networked so should be syncing data. Sounds like processing dual-mode data is still not entirely implemented on the CTT end, but I think I'll just leave this one on and syncing so we can confirm when everything is properly flowing.

[2021-02-13 00:21] cjardine-bsc commented on #853
These have been added.

[2021-02-13 02:13] jeff-hemingway commented on #779
Ok, here's another "option 2" case study for the Alaska bats! It covers an hour-long window with a lot of aliasing from 10:30 to 11:30 on 2015-08-05 at SG-3214BBBK7294. I emailed Catherine the detailed tag data again.
![tags](https://user-images.githubusercontent.com/41558424/107838930-50357980-6d5d-11eb-8d5a-131e154167ab.png)

[2021-02-13 12:03] StuMackenzie commented on #779
This is an aside, but this kind of plot is provides the simplest explanation of how data processing for Motus works, at least on SG's. We should make a simplified plot like this to accompany our documentation.

[2021-02-18 20:19] steffilazerte opened #911 "Home for API docs"
As it came up in #905, we probably need to have a good home for API documentation so that I don't bug people all the time when I'm trying to figure things out.

Right now I'm trying to document R code design in [CODE_DESIGN.md](https://github.com/MotusWTS/motus/blob/master/CODE_DESIGN.md) in the R package repository.

The old API docs are in the R package repository under [inst/api_docs](https://g

[2021-02-18 20:41] j-sayers opened #912 "Aliasing occurring on one receiver, but not (as much) on another nearby receiver"
Testing some of the new Lotek 6M codeset tags at and two nearby receivers are showing very different tag "detections".

There are 4 tags all with BI 4.9 active in the workshop, next to a test receiver [Deployment 7524](https://motus.org/data/receiverDeployment?id=7524). About 25m away is the permanent BSC HQ Deployment.

The new tags are all showing up basically as expected on the Test-4656 deploy

[2021-02-18 21:26] cjardine-bsc commented on #910
Step 1: User citation

@pmorrill

I have added a new field to projects_users called cite_rank (tinyint).  We need to allow users (with project management permissions) to edit this field via their manage user page: https://motus.org/data/project/users?projectID=137

They will need to be able to rank users 1-X in authorship order.

Step 2: Institution Management (secondary priority)

A new section i

[2021-02-18 22:05] StuMackenzie commented on #910
Just for documentation sake. I will start to populate tags on Zotero with Project IDs. May also ask Audubon how they're linking to Zotero out of curiosity.

[2021-02-18 22:11] StuMackenzie commented on #912
For the next 'round' I'd suggest that we:

1) Tag two tags to old cut and see how they perform - So leave 2 at old cut and 2 at BSC until next week. Take the BSC tags out side and separate them a bit. Attach an omni to the test SG, and place that outside as well somehow. At Old Cut we can place the tags apart from one another.

[2021-02-18 22:34] #821 closed

[2021-02-18 22:34] steffilazerte commented on #829
Working on sandbox now

[2021-02-18 22:34] #829 closed

[2021-02-18 22:37] steffilazerte commented on #723
@StuMackenzie I'm embarrassed to say I'm still working on this 😞

[2021-02-18 22:41] denislepage commented on #912
With 4 tags at 4.9 seconds, you have roughly a 30% chance that at least 2 tags will overlap (based on the average burst length of around .25 seconds, each tag pair has about a 5% change of overlapping or .25 / 4.9, times 6 possible combinations of tag pairs), so conditions that can create aliasing are relatively easy to replicate with a small number of tags.

From the receiver that didn’t create a

[2021-02-18 23:05] cjardine-bsc commented on #912
Sassy Edit:

_One thing Catherine discussed in detail with you on the call when Denis clearly wasn't paying attention_.....would be to look at the pulse data files (the gz files) for a short section of data, and see how they differ among the 2 receivers. If one of the receiver is missing occasional pulses, or has variation in signal strength, this could potentially create conditions that are more

[2021-02-18 23:07] denislepage commented on #912
¯\_(ツ)_/¯

[2021-02-19 21:13] cjardine-bsc opened #913 "1003 recievers"
We have spilled over into 4 digit receiver numbers and the bubble on https://motus.org/data/numbers needs to be expanded.

[2021-02-19 22:39] jsayers-bsc commented on #912
Ok...

So around 15:00 UTC today I turned off all but 1 tag (mfg_id 700).

The BSC deployment hasn't yet correctly identified any of the test tags even once. All radio data coming from these tags has resulted in aliased tags. Though even these aliased "detections" aren't regular, but sporadic -- despite the close proximity. With only one tag active, aliasing shouldn't happen. The question is wheth

[2021-02-19 22:42] jsayers-bsc commented on #912
Checking now, it doesn't look like the BSC station is syncing properly. No new data in the last few hours....

[2021-02-22 19:03] jsayers-bsc commented on #853
tag_deploy_id | sensor_deploy_id |  
-- | -- | --
17451 | 1865 | Obvious aliasing (swallows in the arctic with the same BI as tagged   shorebirds)
17459 | 1865 | Obvious aliasing (swallows in the arctic with the same BI as tagged   shorebirds)
17470 | 1865 | Obvious aliasing (swallows in the arctic with the same BI as tagged   shorebirds)
17476 | 1865 | Obvious aliasing (swallows in the arctic wit

[2021-02-22 19:29] cjardine-bsc commented on #853
Done

[2021-02-23 03:22] dfloer commented on #625
Capturing some basic testing notes here.

166.380MHz tests (N/T = Not Tested):
|Test|Nesdr Smart|Nesdr Smart XTR|RTL Blog V3|FunCube Pro Plus|
|-|-|-|-|-|
|Noise Floor - no connection (dBFS)|-52|N/T|N/T|-92|
Work in progress, I'll update this as I run more tests.

[2021-02-23 17:06] steffilazerte opened #914 "API to check R package version"
This issue was originally raised in #760, but for clarity I've moved the relevant sections here so we can work on it separately.

**TL;DR**
The idea here is that the R package should send it's version to the API, and the API will check if it's

a) up to date (no message; OR status message)
b) out of date but working (update message/warning)
c) out of date and not under warranty (update warning/err

[2021-02-23 17:07] steffilazerte commented on #760
I think that except for the very first comment in this issue, everything has been resolved, or moved to a separate issue (i.e., #914). @jsayers-bsc, ready to close or move to a separate/new issue?

[2021-02-23 18:32] jsayers-bsc commented on #760
Yes the 2 outstanding items at the top both have their own open issues.

- Import of CTT LifeTag detection data from dual-mode SG's not yet fully implement (#836)
- No activity / pulse data for 434 MHz radios appears to be available for either dual-mode SGs or SS (#846)

[2021-02-23 18:32] #760 closed

[2021-02-23 19:25] denislepage commented on #914
We'll need to build a couple lines of custom code to compare version parts, but that should be simple enough.

For safety, we can probably even support an even number of levels.

4.19.12 would be larger than 4.19 for instance (assuming the missing parts are 0)

Hopefully the parts are always numeric, yes?

[2021-02-23 19:54] steffilazerte commented on #914
Options are always 3 or 4 parts:

4.19.0
4.19.0.9000 (dev)

Always numeric :)

[2021-02-23 20:45] denislepage commented on #914
@pmorrill , I will add this to the core bscbase methods below. Making this into a comparator potentially allows us to sort a list of versions, etc.

[code]

[code]
Returns 1 when s1 > s2, -1 when s1 < s2 and 0 when they are equal. For this purpose, 4.5.0001 should be the same as 4.5.1, and 4.5.8000 will be greater than  4.5.900.

4.4.100 will also obviously be smaller than 4.5.0.

[2021-02-23 20:54] denislepage commented on #914
pushed it to git

[2021-02-24 11:49] jsayers-bsc commented on #912
Over the weekend it was detecting the one real 6M tag just fine. As was the Test Pi and the Temp Pi (as expected on both accounts).

Yesterday I turned on a 2nd tag. So far the 2nd tag is also being detected on each station. I'll let this go for a couple days before turning on the 3rd tag and see if aliasing starts to occur at that point on the BSC station.

[2021-02-24 15:21] pmorrill commented on #911
I'm pretty confused as to where everything is now too. My vote is that we put api documentation under the MotusDev site, since it is really for internal use. The so-called 'upstream_api' term is confusing to me and stems from John's original build of these specs. The documentation is almost certainly not up to date, but maybe we should move it over to the MotusDev/MotusAPI site, and rename it to '

[2021-02-24 15:32] pmorrill commented on #914
I see the code in git. I assume Steffi will add the R version to auth call, but how do we track the status of different versions? Presumably, a db table. Once I know that, I can add the code to make a comparison.

[2021-02-24 15:59] steffilazerte commented on #911
Ah, I see, that makes sense. Good idea to put docs under MotusDev, I think it makes sense to keep all API docs together.

I agree that some updated names might be helpful since it seems like there are so many different APIs!

[2021-02-24 16:21] denislepage commented on #912
Did you ever resolve whether the previous instance were actually overlapping?

[2021-02-24 16:25] pmorrill commented on #910
The project users list is generated by a proc (prSelectUsersProject). Can you add the cite_rank field to that proc so the current value is available in the web interface?

thanks

[2021-02-24 16:51] pmorrill commented on #910
Never mind - scrub my last request. I figured out how it works!

[2021-02-24 17:01] pmorrill commented on #910
This field is now available in sandbox code, with no validation of the input ranks.

[2021-02-24 20:05] adamdsmith opened #915 "Difficult tag registration - unable to estimate burst interval"
I've tried multiple recordings of increasing length. The tag registration for the attached .wav file keeps failing. This is to be registered with Project 140. The remaining 25 tags registered fine.

[REKN_2021_retry2.zip](https://github.com/MotusDev/Motus-TO-DO/files/6038567/REKN_2021_retry2.zip)

[2021-02-24 21:39] denislepage commented on #915
One issue we have seen with failing registration was due to the USB connection with the desktop (some of the recording was being cutoff, creating the impression of different burst intervals, or corrupting the bursts). Trying on a different desktop often seemed to produce different results.

Given that all other tags have registered, this may be different. I examined the pulses, and I am not seeing

[2021-02-24 23:28] cjardine-bsc commented on #910
Okay. I dont think its been deployed yet. @Hussell let me know when it's there and I'll test.

[2021-02-25 16:16] jsayers-bsc opened #916 "Reset battery / lifespan status of non-deployed tag"
I've been going back and forth with project 198 who wants to move some tags to another project. Once the process got going it became clear that at least some of the tags were registered with an anticipated start date (complete with species) but then never deployed. That was 3 years ago and the tag ID's would have been released and reissued. Still working with them to determine which, and then to c

[2021-02-25 16:27] jsayers-bsc commented on #879
This remains an ongoing issue for me. Sometimes I get the tagDeps and some of the other metadata tables, and sometimes I don't. `forceMeta=T` seems unreliable but I haven't noticed any pattern. I often get both results in the same session, in various order.

[2021-02-25 18:06] cjardine-bsc commented on #916
Set the start_dt of the deployment in the future. This sets the confirm_dt_start flag to 1 which means the tag codeset will not be released.

Though after sitting around for 3 years the tags are likely not usable anymore, depending on their lifespan.

[2021-02-25 18:29] leberrigan commented on #915
As Denis mentioned, we think this related to the USB implementation of the computer that the FUNcube is plugged in to during registration. It is believed that some data packets sent by the FUNcube to the computer are being dropped, likely because of the way the specific model of computer is implementing USB. Many ports will share the same hardware and the computer cannot read from the simultaneous

[2021-02-25 18:34] adamdsmith commented on #915
Right-o. I'll give it a try on another computer with no other significant USB devices and report back. Thanks

[2021-02-25 19:05] adamdsmith commented on #915
I think it's the tag. See the attached longer recording from a different computer. That burst interval is not nearly consistent enough....

[tag014_extended.zip](https://github.com/MotusDev/Motus-TO-DO/files/6045194/tag014_extended.zip)

[2021-02-25 19:07] pmorrill commented on #914
@steffilazerte would it be useful if I added a simple api entrypoint that allows you to SET the current version into our database? Could you incorporate that into the build process when you deploy a new version of the client?

That would be allow you to keep the CURRENT version up to date, without requiring emails to Catherine / Denis to coordinate that value.

If this would be useful to you, we w

[2021-02-25 19:11] cjardine-bsc commented on #914
I'll set you up a table. What is the current version and the lowest version number we want to support?

[2021-02-25 19:24] steffilazerte commented on #914
@pmorrill I think that could work

How does this work with the different branches? Presumably each would have their own minimum and current version?

[2021-02-25 19:49] steffilazerte commented on #723
`gpsAll()` and `activityAll()` are now available in motus sandbox. Tables `gpsAll` and `activityAll` are created by default but users need to deliberately use the functions to populate them (`gpsAll()` in particular is quite slow).

- [X] Added to `motus` package
- [ ] update the MotusRbook

[2021-02-25 20:04] leberrigan opened #917 "Add list of 'local tag deployments' to stations table"
Let's find all the tags that were deployed within a 'reasonable' range of each station and designate it as '**local**' (proximal is just not a cool word) to that station. This will allow me to create nifty visualisations among other things.

Let's say all tags deployed within 10 KM are to be considered **local**. Why this large of an area? I'm thinking of study sites where tags are not necessarily

[2021-02-25 20:25] denislepage commented on #914
I just remembered that we already keep track of the current version in the adm_platform_api, though we are not maintaining it nearly often as we should. There’s a version and a releaseTime (date) field that we should try to keep current.

The current version is available from the github repo (4.0.2). I’d love if this could be included into the build process.

Not sure if adding a field there for t

[2021-02-25 23:37] denislepage commented on #915
Do you have a way to run the VAMP plugin as a stand-alone to convert the wav file into pulses? There is a call to vamp from motusServer/R/wavFindTags.R, but I haven't tried to do this as a stand-alone.

If you had that file, you can potentially run the pulse file through Unifile.exe and see if you are getting individual hits at least, and whether the burst intervals fall outside the burst slop.

T

[2021-02-27 09:27] dfloer commented on #575
Forgot to reply to this, I'm planning on having different sorting and filtering/searching options for the updates status page.

[2021-02-27 09:29] dfloer commented on #836
@adamdsmith Thanks for looking into that. Guess I need to get one of the new dongles to poke at, it's probably something similar like USB IDs have changes.

[2021-02-27 11:02] dfloer commented on #906
That data is definitely coming from the API call, so it's (probably) a sensorgome.org issue.

[2021-02-27 12:57] StuMackenzie commented on #836
@adamdsmith in the meantime we can send you some of the older dongles if you'd like to try those instead while we're mucking about this is?

[2021-03-01 16:10] adamdsmith commented on #836
Thanks! I think I'm ok for the short term... I'll simply hope the fix is straightforward.

[2021-03-01 17:04] jsayers-bsc commented on #916
These tags are actually in the TagsActive view, so presumably the code/period combo has not been released?

There are actually a lot of old tags in this view whose expected life expired long ago (going back even to 2014). Some of these indicate they were "recovered" (is that just set when a deployment end date is set?) so they could _in_ _theory_ still be redeployed, which is why they are consider

[2021-03-01 17:30] cjardine-bsc commented on #916
If they are in the TagsActive view then we have warned Lotek not to release them. Though it's possible they were released before we set up the TagsActive view.

Both of your assumptions about how the TagsActive view works are correct. Users get bugged in the notification centre to confirm their start dates and mark deprecated recovered tags as such.

[2021-03-01 17:31] jsayers-bsc commented on #916
Good, thanks for confirming.

[2021-03-02 15:06] leberrigan commented on #607
@joeybernard, has any progress been made on this front since SGdata has been back up?

[2021-03-02 22:06] steffilazerte commented on #897
Okay, I'm so sorry for the delay in fixing this. I've created a  "hotfix-nodeDeps" branch which should fix this problem.  You can try it out by installing from this branch, it should automatically update your project when you try to update the data, for example:

[code]

To install:
[code]

Let me know how it goes!

[2021-03-02 22:11] steffilazerte commented on #914
Okay, for testing, this goes on sanbox then? Or does it matter?

[2021-03-04 16:32] jsayers-bsc commented on #897
Actually it sometimes works, but often results in:

[2021-03-04 16:34] steffilazerte commented on #897
Hmm, at which step does this happen? @denislepage @pmorrill is this a server thing or related to this issue, do you think?

[2021-03-04 17:11] jsayers-bsc commented on #897
When I call `metadata()` on each individual project in a loop the error will come up at different points (or not at all) so it would seem server/connection related in some sense.

[2021-03-04 19:32] pmorrill commented on #914
@denislepage your CompareVersionNumbers class does not appear in the current bsc-base library in motus/shared-lib. Can you make sure that bsc-base version is current in git?

@Hussell may be able to check it easily as well.

[2021-03-04 21:49] steffilazerte commented on #897
Yeah, I should probably add some metadata checks to the R package too at some point, but I do think it's a server thing... probably?

[2021-03-04 22:45] denislepage commented on #897
Sounds likely, given the inconsistent errors. I’d probably start from the database query and try to hit it with a higher load of requests and see how quickly it responds, and whether there are alternative ways to query the info that isn’t as prone to timing out.

[2021-03-04 22:51] denislepage commented on #914
I thought it was. It’s under org.bsc.comparators.CompareVersionNumbers

I can see it in the git repo on the server.

[2021-03-04 23:01] denislepage commented on #914
Oh. I see what you were saying. Perhaps the compiled bscbase version in Motus hadn’t been updated yet? I had pushed my changes last week, but I am not sure if Jeremy only updates the bcsbase jar as needed.

I have recompiled the jar and pushed it to the motus sandbox branch. That should do it.

[2021-03-04 23:36] jsayers-bsc commented on #897
I'll keep an eye on when I see it again. I think I've seen the error at other times as well during other calls and I think it tends to be a "restart the session" or "try again later" sort of thing. It may not be related to metadata() specifically.

[2021-03-05 01:54] denislepage commented on #897
I haven’t seen specific error messages coming from the database, so you may be right.

[2021-03-05 15:16] leberrigan opened #918 "Formatting error - Motus R Book"
Sections 2 and 3 of [Appendix D](https://motus.org/MotusRBook/appendixD.html) should actually be subsections of section 1

[2021-03-05 19:24] pmorrill commented on #914
I have updated the sandbox api as follows:

- our stored pgkVersion (taken from adm_platform_api) will be returned by the /api_info function, and also by the /authenticate_user function; The returned field is called 'currentPkgVersion';

- the /authenticate_user function now expects to get a parameter 'pkgVersion' from the R-client. If this is null or less than our currentPkgVersion, the response

[2021-03-05 22:44] denislepage commented on #914
I’d go with a new role for updating the version.

[2021-03-07 20:10] joeybernard commented on #607
Hi guys. Sorry for dropping off the map for a bit. In my day job we are putting together a proposal to put 400+ low-cost GPS units across the country. So I have been spending the last couple of months getting the prototype up and running and collecting data. That is almost at the point where we can show funding agencies, so I should have time to dig into this again. I'll see if I can set some time

[2021-03-08 13:37] hanndrake commented on #853
@cjardine-bsc A new table of suspect false detections with all our recent finds.

[Compiled_suspect_detection _HD_Mar_5_21.xlsx](https://github.com/MotusDev/Motus-TO-DO/files/6101655/Compiled_suspect_detection._HD_Mar_5_21.xlsx)

[2021-03-08 16:51] j-sayers opened #919 "Differences between maps on View Tracks and Tag Deployment (including flagged "detections" still present)"
I think this is a question for @Hussell.

There are at least two different ways of viewing tracks/detections for a particular tag deployment

1) Accessed from the "tag deployment" overview page.
2) Accessed from the Explore Data > View Tracks

I had assumed that they represented the same data, but that's not entirely the case. It seems that tags that have been manually flagged as suspect are remov

[2021-03-08 17:15] jsayers-bsc commented on #853
Some more tag/receiver deployment combos for a particular PEFA (flagged by Project 48) @cjardine-bsc

tag_deploy_id | sensor_deploy_id | comment
-- | -- | --
24662 | 4107 | Suspect detection (flagged by Project 48)
24662 | 3454 | Suspect detections at known noisy site (flagged by Project 48)
24662 | 7521 | Suspect detections at known noisy site (flagged by Project 48)

[2021-03-08 18:19] cjardine-bsc commented on #853
Added.

[2021-03-08 18:20] cjardine-bsc commented on #853
Added

[2021-03-08 19:10] jsayers-bsc commented on #909
Commenting for reference: on the call the other day, Jeremy mentioned the parameters for number of tags to display are in the URL. Modifying the "n=100" value allows more tags to be displayed (at the expense of longer load time).

[2021-03-08 19:13] jsayers-bsc opened #920 "Expired certificate on SensorGnome.org"
![image](https://user-images.githubusercontent.com/55001144/110369451-6a8b0c00-8018-11eb-9982-cb19c3056339.png)

[2021-03-08 19:15] jsayers-bsc commented on #920
@denislepage @dfloer

[2021-03-08 22:33] denislepage commented on #920
@dfloer can you either look after this or get in touch with Compudata. I thought we had dealt with this just a few months ago. We should get a longer certificate, if that's the issue.

[2021-03-09 00:56] dfloer commented on #920
I have contacted compudata (and cc'd both of you on the email).

[2021-03-10 00:19] dfloer commented on #920
It's working again. Compudata has graciously provided a new certificate, good until March 8th, 2022.

[2021-03-10 00:19] #920 closed

[2021-03-10 20:18] adamdsmith opened #921 "SensorGnome WiFi connection on Network with spaces in name"
@dfloer @leberrigan @jsayers-bsc

Looking for some quick syntax help for the `network.txt` file when connecting an SG to a WiFi network.

Currently, the file says:

[code]

What would the syntax look like for a network name that included spaces, e.g., `Network Name`?

I'd poke around if it was local, but this is for a remote partner assist.

Thanks!

[2021-03-11 19:03] StuMackenzie opened #922 "Losers and suckers - lone wolves"

[2021-03-11 21:53] Hussell commented on #919
This was a bug, the maps were supposed to be pulling from the same source but weren't. I think it's fixed now on beta and live (I haven't merged the fix into sandbox yet). One remaining difference between these maps is that the map on the tag deployment page will show non-public information if you're logged in and have permission to see it.

[2021-03-11 21:56] leberrigan opened #923 "Tracks are visible, but nothing in table or timelines"
https://motus.org/data/track?tagDeploymentId=21366

Is this related to project permissions?

[2021-03-12 17:08] StuMackenzie opened #924 "Track search is only returning 68 BANS when there should be 321?"
https://motus.org/data/tracksSelect?e=2013-01-01&l=2021-12-31&s=35407

logged in or not logged in.

There should be 321. What am I doing wrong?

[2021-03-12 17:10] StuMackenzie commented on #924
Also only about 25 projects are being shown in that drop down

[2021-03-12 18:22] leberrigan commented on #924
I noticed not all projects are showing up any more. I don't think it will display birds that have no tracks after filtering.

[2021-03-12 19:17] leberrigan opened #925 "How exactly is hourBin calculated?"
### Main question
Why would the hourBin in the activity table appear be incrementing mid-hour instead of on the hour? It also doesn't seem to be consistent when its incrementing. I can account for the all the hits in the activity table by looking at the alltags table, but their hour bins seem to be offset.

---

### Description

I'm trying to match the activity table with the alltags table using d

[2021-03-12 19:27] denislepage commented on #924
I know Jeremy was working on the track script, and ran into an error, so that might explain it, but maybe this was only on sandbox.

[2021-03-12 20:46] cjardine-bsc commented on #925
I've not looked at this in depth.

The hourbin is calculated by taking the ts value and dividing by

[2021-03-12 20:57] leberrigan commented on #925
Thanks Catherine!

[2021-03-12 20:58] cjardine-bsc commented on #925
This probably needs documentation in the R book.

Also worth re-thinking those decisions if this is going to be used for more than just run filtering.

[2021-03-12 21:02] denislepage commented on #925
![image](https://user-images.githubusercontent.com/21110542/110998113-56167e80-834c-11eb-98f6-71729cb23b99.png)

[2021-03-12 21:11] leberrigan commented on #925
I'm not trying to stir the pot!

Hour bin is still accurate - now that I know how it's calculated I think it'll be fine.

But yes, documentation would be handy. And methods on how to calculate the hourBin the _other_ way could be added if we think it's useful too:
[code]

[2021-03-12 21:23] denislepage commented on #925
In theory, there isn’t much value in looking at the activity data across hour bins. The hour bin should be calculated on the tsBegin field of the run, not the ts of the hits.

Long runs that span across multiple hourBins are probably mostly fine, anyway, unless they happen to be short ones that are right at the boundary of an hourBin, but then, the activity count in the first hour bin is just as g

[2021-03-12 22:19] StuMackenzie commented on #924
Collaborators are onto us - Received our first inquiry about the track tool.

[2021-03-15 14:19] adamdsmith commented on #836
Hey @dfloer @StuMackenzie

Not being pushy, honest (!), just curious if there's any expected timeline for exploring this issue? If not, I may think harder about taking you up on the offer for a few V1 CTT dongles. Thanks!

[2021-03-15 15:06] jsayers-bsc commented on #836
Hi Adam, at the moment there are no CTT detections available for dual-mode SG's, even those where the dongle is recognized and recording properly. I believe the issue is that the data flow from the motus server, to CTT, and back again hasn't been fully implemented yet. I _think_ the hold up at the moment is on the CTT end, but am not sure. It may just require another poke. @denislepage would know

[2021-03-15 15:11] adamdsmith commented on #836
Thanks @jsayers-bsc. Good to know re: processing of dual-mode SGs; I wasn't aware it was not fully implemented.

More specifically, though, I was referring to the V2 dongles not being acknowledged on the web interface. If we're confident they're still recognized by the SG software and recording, that's fine. I'm simply not sure if that's the case.

[2021-03-15 15:18] jsayers-bsc commented on #836
Yeah that's a good point. I wouldn't feel very comfortable with it if I couldn't confirm they are recognized in the web interface. I guess you could check the raw data files to see if CTT data is being recorded, but I'd be very surprised if they are recording without the dongles being reported. You do have 166 MHz dongles plugged in too right? I do know that the CTT dongles won't show up if the "L

[2021-03-15 15:30] adamdsmith commented on #836
Thanks. Yes, FCD are attached and detected/reported properly but not so with V2 dongles. As you reported earlier, I do "see" V1 dongles on the interface. If you have a few V1 dongles you can spare, that would be handy. I hope to get at a single CTT dongle out on at least three SGs this spring (upgrading each with a 434 MHz omni), COVID-dependent...

[2021-03-15 15:58] jsayers-bsc commented on #836
Sure, 3 dongles then?

[2021-03-15 16:12] adamdsmith commented on #836
Yeah, that'd be great. I'll send you an email...

[2021-03-15 17:51] denislepage commented on #836
This is indeed sitting at CTT’s end.

CTT has all the data and we have the scripts ready to go as soon as they start pushing us the data.

[2021-03-16 11:50] StuMackenzie commented on #924
@another collaborator inquiry about the track tool

[2021-03-16 16:39] jsayers-bsc opened #926 "New batch and activity records though no new data has been uploaded"
I've run tagme() on [this receiver](https://motus.org/data/receiver?id=1282) a few times in the last week. No new data has been uploaded since last fall and every time I make the call, I get the no new batch records, as expected.

But this morning when I did it, there were 4 new batch records to check, and 6 new batch records to check for activity.

Why would there be new batch records to check if

[2021-03-16 16:44] jsayers-bsc opened #927 "Error when accessing sgdata.motus.org"
Getting the following error today when trying access sgdata.motus.org/status

[code]

[2021-03-16 17:21] denislepage commented on #927
The database was locking earlier today. Seems ok now.

[2021-03-17 12:46] leberrigan opened #928 "Change Birds Canada and Lotek logos on partners page"
https://motus.org/data/partners

Old Birds Canada and Lotek logos need to be replaced. I'm not able to change them myself. Attached logos can be used:
![BirdsCan_SQ_2col](https://user-images.githubusercontent.com/35931796/111469536-30e39080-86fd-11eb-8a3a-2e15c14fd34f.png)
![Lotek](https://user-images.githubusercontent.com/35931796/111469538-317c2700-86fd-11eb-9b20-74091bd5c430.png)

[2021-03-17 13:59] jsayers-bsc commented on #927
Still an issue for me this morning it seems

[2021-03-17 14:17] jsayers-bsc commented on #926
This morning several of the activity records were downloaded again.

![2021-03-17_095959](https://user-images.githubusercontent.com/55001144/111480534-7fe2f300-8708-11eb-9c94-ad607bbec112.jpg)

These 3 were in the list yesterday (including 1 additional record not present today).

Previous to yesterday when I downloaded this receiver I got no new batch or activity records.

Where are the new record

[2021-03-17 15:35] jsayers-bsc commented on #897
The initial issue with the not null constraint on nodeDeps.tsEnd is resolved and Project 213 metadata updates fine.

The `failed to build response vectors` issue seems unrelated so I'll open a new issue and let @steffilazerte close this one when the hotfix is merged in.

[2021-03-17 15:48] jsayers-bsc opened #929 "Error: Failed to build response vectors"
This came up [recently ](https://github.com/MotusDev/Motus-TO-DO/issues/897#issuecomment-790748337) while trying to use the `metadata()` function.

I feel like I've seen it at other times as well, when not trying to call metadata() but perhaps it's always been while using the same function. Either way, the solution is "Keep trying again until it works". That doesn't help identify the issue, but do

[2021-03-17 18:09] cjardine-bsc commented on #926
@Hussell are you rerunning this receiver?

He does that periodically based on a schedule across the full network.

[2021-03-17 22:21] dfloer commented on #921
I haven't tested this, but does enclosing it in double quotes work? `"Network Name"` for example.

[2021-03-17 23:34] cjardine-bsc commented on #928
@Hussell This .jsp isn't where I was expecting to find it.  Perhaps it's been moved while you were organizing?

[2021-03-18 13:42] adamdsmith commented on #921
Not sure. I'll try to test this locally in the near future...

[2021-03-18 13:46] jsayers-bsc commented on #919
The owl that was still being shown on Baffin Island is now absent entirely -- the [link ](https://motus.org/data/tracksMap?t=5668)I screenshot earlier no longer leads anywhere and there is no longer a tagDeployID 5668 in det_taghits_tracks.

I tried to do a summary earlier of a station with several hundred tags detected (likely quite a lot of aliased ones, but still). The list of tags with runLen

[2021-03-18 13:48] jsayers-bsc commented on #924
Noticed this too.

[2021-03-18 17:14] j-sayers opened #930 "Erroneous data issues"
Project 129 has a number of ["detections outside of deployment" errors](https://motus.org/data/issues?id=129#) showing up for tags and receivers during periods when deployments were active.

Receivers:

![image](https://user-images.githubusercontent.com/55001144/111661201-32888380-87e5-11eb-852f-f13c1687f100.png)

And yet these 3 receivers each have uninterrupted deployments during this period. On

[2021-03-19 15:38] jsayers-bsc commented on #927
No longer an issue

[2021-03-19 15:38] #927 closed

[2021-03-19 17:35] StuMackenzie commented on #910
Is there a preference for how we tag projects in the Zotero list? Recall, this is for assigning a specific list of publications associated with each project that could be made available as part of Project Profiles on the website, but also as a separate list that can accompany any data exports.

[2021-03-19 18:52] jsayers-bsc commented on #846
Poking again at this one (in response to another collaborator question about missing antennas in the Receiver Timeline and Deployment Plot).

We do seem to have pulse count data in the database for CTT receivers (and presumably dual-mode SG's once all the data is synced?) but this isn't represented on the website so when people check the status of their stations, all 434 MHz antennas are simply mi

[2021-03-19 19:49] denislepage commented on #910
we need a standard way to add tags.

I’d suggest the format “project123”, without spaces or punctuation. There’s presumably no hard limit on the number of tags can be used: “project123”, “project124”

For efficiency, we could shorten it to p123, p124, as long as we’re consistent.

We may also need other standards for capturing other details, but those can be added as needed.

There’s an API that w

[2021-03-19 20:06] #897 closed

[2021-03-19 21:38] steffilazerte commented on #879
I've been looking into this and have a couple of points which may (or may not!) help narrow in on the problem.

In the example above, where the tagDeps table was empty, it's unusual that the projs table *wasn't* empty, because the tagDeps, tags, species, tagProps and projs metadata is all retrieved through the same API entry point.

@jsayers-bsc I've added some messages to the tagme() metadata upd

[2021-03-20 12:21] StuMackenzie commented on #900
- Should we just integrate Yolanda's note into the introduction?

fyi... I wrote a short script to help new users get going with their Motus data analysis. This contains a subset of the code in the detailed Motus R Book, which should still be used as the ultimate authority. It shows how you can efficiently download your data, convert a subset of it to a data frame, and save it offline as an *.rds

[2021-03-20 20:36] j-sayers opened #931 "Sometimes Web Interface can be accessed through sg.org/status; often it cannot"
Often when clicking the serial number of of a networked SG, you can access the Web Interface remotely. But just as often, there is either nothing there or an error. The SG may still be syncing properly with no issue so it doesn't seem to indicate any larger problem, just that the Web Interface can't be accessed. Anyone know why this might be? @dfloer perhaps?

![sgstatus](https://user-images.githu

[2021-03-20 20:56] jsayers-bsc commented on #879
Great, I've installed that and I'll post here as I go along.

[2021-03-20 21:58] denislepage commented on #900
I started exploring a little while back having a chapter or a section of the book for dealing with larger datasets. That would seem like the best place to put this.

As discussed back then, I think we can go through the same or similar examples to the main chapter and provide ideas for how to deal with large projects.

[2021-03-22 15:49] adamdsmith commented on #921
An update:

Unsuccessful with both `"Network name"` and `'Network name'`...

So, I said, guess I'll give it a shot with the default, unquoted `Network name`, knowing full well it was in vain...

And, of course, it works fine as-is... with no quotes...

I'm sorry for wasting people's time. Close away.

[2021-03-22 18:18] StuMackenzie opened #932 "Lotek Automated Registration email notifications"
Forgive me if I didn't follow along well enough when we discussed this.

I think we've already resolved this?, but another example of a researcher that received an email (apparently to you guys as well) from us confirming lotek registration.

I think we've fixed this, but is it possible to figure out who received these notifications? I just want to make sure we close all the loops. I caught this o

[2021-03-22 18:22] #921 closed

[2021-03-22 18:44] pmorrill commented on #932
We did fix this, yes. The change went in on Feb 25th late afternoon, and would have been built into the sandbox the next day - most likely.

[2021-03-22 19:05] cjardine-bsc commented on #932
@StuMackenzie I sent you the list of emails.

[2021-03-23 01:13] dfloer commented on #931
I've noticed this as well, and I'm not sure what causing it. There's nothing helpful hitting the logs on sg.org, and restarting the server does not seem to clear the issue up.

I spot checked about 15, and I was only able to connect to half of those. I'll look into this more.

[2021-03-23 09:24] StuMackenzie commented on #932
beauty - thanks all

[2021-03-23 09:24] #932 closed

[2021-03-24 00:44] cjardine-bsc commented on #930
Huh.

Sensors:

These rely on the det_taghits_daily table. That table should be re-generated whenever a deployment is updated with a new start or end date via a trigger (tr_sensor_deployments_update).

But that trigger is running prTaghitsSummariesSensorDeployID which doesn't remove the records from det_taghits_daily where deploy_id = 0. Which it needs to.

So I think need to change tr_sensor_depl

[2021-03-24 23:29] cjardine-bsc commented on #925
The benefit would be combining information from runs, pulse counts and GPS all in one place to help determine when a station is active. But that should be done separately from the process that identifies noisy time periods and suspicious runs.

Can I close this?

[2021-03-24 23:50] cjardine-bsc commented on #910
@pmorrill

Entering citation ranks on this page: https://sandbox.motus.org/data/project/users?projectID=1 Is throwing a NullPointerException error.

[2021-03-25 00:09] cjardine-bsc opened #933 "Small Web Tweaks"
Apparently Zoe still works for us :-) She just sent me the below notes on the Motus Website. @leberrigan I'm just going to leave these here.....

* [x] Clicking the resources tab brings you here(https://motus.org/guides/)  which doesn’t have a link to the swanky new sensorgnome guide(https://docs.motus.org/sensorgnome/) , to get the guide you have to select Motus Guides from the Resources drop dow

[2021-03-25 00:10] StuMackenzie opened #934 "Display Band Number, not Marker Number on Tag deployment page."
eg. https://motus.org/data/tags/edit?projectID=231&id=43395

![image](https://user-images.githubusercontent.com/21124211/112399557-d2aa4500-8cdc-11eb-91f1-0dbe14c1953c.png)

The summary box at the bottom - marker type and number should just be replaced with band number. I think this is a @pmorrill ?

Thanks

[2021-03-25 00:14] cjardine-bsc commented on #910
[Data owner name - PI? or Organization?]. **2021**. [Dataset name]. Data accessed from the Motus Wildlife Tracking System. Birds Canada. Available: http://www.motus.org /. Accessed: [Date].
Example:
Bird Studies Canada. **2021.** Atlantic Canada Bicknell's Thrush Project. Data accessed from Motus Wildlife Tracking System, Birds Canada. Available: http://motus.org/. Accessed: 20 January 2021.

@Stu

[2021-03-25 01:50] StuMackenzie commented on #910
Can we do PI and organization? Just saves us having to customize it or allow users to pick one.

[Last Name, First Name. Organization].

Year is a tricky one. We could either use the year the project was created, or just use the year the data was accessed? It would be tough to assign a year to a project. It's either first or last. I'm open to suggestions.

[2021-03-25 12:14] pmorrill commented on #910
I have pushed a trap for this into sandbox (master) code. But the null ptr suggests something wrong with the project users in sandbox database: the error cold not be reproduced on my database, and is related to a null userId field in the object....something that should not really happen!

[2021-03-25 13:39] pmorrill commented on #934
Stu: take a look at the new version of this page. EG:

https://sandbox.motus.org/data/project/tags?projectID=3

The new table is simplified. But, the headings are up for discussion. Band could be added below the species?

[2021-03-25 13:48] jsayers-bsc commented on #925
Providing this information across the entire period (and not just when detections occur) would definitely be  very helpful (e.g. #842)

[2021-03-25 16:35] jsayers-bsc opened #935 "Server down?"
Can't access Motus.org or download data in R. Quite possibly temporary and will resolve on its own, but posting anyway :)

[2021-03-25 16:37] cjardine-bsc commented on #935
Something is wrong in Simcoe. We're on it.

[2021-03-25 16:37] #935 closed

[2021-03-25 17:09] StuMackenzie commented on #934
Thanks Paul, that's great! Sorry I should have checked sandbox first. Band number isn't necessary in these summaries.

[2021-03-25 17:09] #934 closed

[2021-03-25 17:18] StuMackenzie opened #936 "Software Reuse"
Any edits to the following statement on how Motus: Promote re-use of previously developed tools to minimize the costs of software development prior to the start of research.

We have extensively relied on existing software and   standards to enable our platform.    
    
1.       Debian Linux operating system, on both the   SensorGnome.org server and on the beaglebone computer in each   SensorGnom

[2021-03-25 17:39] leberrigan commented on #933
Thanks Zoe! I'll get on those

[2021-03-25 17:42] dfloer commented on #936
13. Hugo: Static website generator used to generate the sensorgnome website. https://gohugo.io/
14. Nginx: Webserver, used to server the sensorgnome website. https://www.nginx.com/
15. OpenSSH: Secure, remote access for sensorgnomes. https://www.openssh.com/
16. hostapd: Software to use wireless hardware as an access point for connecting directly to a sensorgnome. https://w1.fi/hostapd/

[2021-03-25 18:59] leberrigan commented on #936
18. D3: a JavaScript library for manipulating documents based on data: https://d3js.org/
19. Leaflet: the leading open-source JavaScript library for mobile-friendly interactive maps: https://leafletjs.com/
20. JQuery: a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax: https://jquery.com/
22. PDFKit: A JavaScript P

[2021-03-25 21:45] cjardine-bsc commented on #910
Notes from today's call.

Paul will move the institution management over to the user management page and re-brand it as "Manage Collaborators"

I'll build a view with the suggested citation. It will include the year range of deployments for that project. Once that is made we can display it wherever needed.

The project management page should include a dropdown that defines whether the project shou

[2021-03-26 12:00] StuMackenzie commented on #910
It's funny watching the decision making process unfold.

Was hoping that this wouldn't turn into a big task, but this is important and better to get it right.

I think I found a solution.

IF PI selects - cite by collaborators, then

[User(s).],[Project Name], [date range.], [Institution]. Data accessed from Motus Wildlife Tracking System, Birds Canada. Available: http://motus.org/. Accessed: 20 J

[2021-03-26 12:14] StuMackenzie commented on #936
Should we list gitbook?

[2021-03-26 14:27] jsayers-bsc commented on #846
We discussed yesterday that pulse counts are not available for SensorStations in the same way that they are for SensorGnomes, so we can't use that to generate "activity" summaries for each antenna. CTT does provide a crude measure of "activity" on the CTT portal for each SS using just the hit or beep data (probably similar to how we derive "activity" for Lotek receivers). I'm pretty sure beeps fro

[2021-03-26 16:14] adamdsmith commented on #846
Sorry, seeking clarification. Activity is not available for *any* ports, even 166s with FCD, or only for 434 ports?

[2021-03-26 16:21] adamdsmith commented on #836
@jsayers-bsc Got the V1 CTT dongles and can confirm they work as you describe above. So obviously some (hopefully) minor change on the V2 is preventing them being recognized. Thanks for sending those. Arrived just in time as they'll go out this weekend.

I'm also having trouble accessing @dfloer patch above, something about invalid credentials.

[2021-03-26 16:53] jsayers-bsc commented on #846
Activity on 166 ports shows up fine on both SensorStations and dual-mode SG's. But neither "activity" nor the antennas themselves show up for 434 MHz in the Deployment Plot or Receiver Timeline.

[2021-03-26 16:55] jsayers-bsc commented on #836
Excellent.

Also I confirmed with CTT that the V1 dongles are out of stock and no longer being produced. We have a few V2 dongles en route to us here (one will go to Dale). Hopefully your issue with them is just a weird fluke because that's all we have to work with now for dual mode SGs!

[2021-03-26 17:25] jsayers-bsc commented on #558
Below is a list of SG receiver deployments that have either a CTT or XCVR dongle. This list includes many, but not all, of those that Denis listed previously. And there are some in Denis's list that don't show up in this query based on their dongle type. I'm not sure if those receivers that only have funcubes can actually be collecting CTT tag data, or maybe the deployment metadata is incorrect?

[2021-03-26 17:36] denislepage commented on #936
gitbook is not quite a software, but @steffilazerte  may have some additions to the list of software tools that she uses to create the builds. Here's a list that are connected to our github account. Not sure there's anything else on her end. Steffi, if you are able to provide a short 1-line description of what each of them does, that would be helpful.

Travis CI for Open Source
AppVeyor CI
AppVeyo

[2021-03-26 17:42] denislepage commented on #558
You should make sure to run your det table queries on sandbox. It should have all the data backlog now. Sandbox won't have the most recent metadata though, so those should still be run on live.

[2021-03-26 21:03] dfloer commented on #836
@adamdsmith Whoops, forgot that beta. was using the same cert as sensorgnome.org and that I'd need to update that. I'll fix that. In the mean time, you can tell your browser that it's fine and still get the file.

[2021-03-26 21:23] adamdsmith commented on #836
Thanks @dfloer. For whatever reason it won’t give me the option to except it from the certificate issue, across multiple browsers.

[2021-03-26 21:29] dfloer commented on #836
I've fixed the certificate for now. Fair warning, this is also a _beta_ website too, so it should work, but may not while I'm messing with things. Like I'm using this as an opportunity to update the server's software.

[2021-03-27 02:20] denislepage commented on #558
This takes a little while to run (10 minutes), but it integrates data on sandbox with your top table on deployments (in live). It may be worth adding the receivers below that do not have hits to the manual scanning list (no data in min/max hits).

use motus
GO

WITH CTE AS (
select b.id, receiverID, b.name, project_id, b.dt_start, b.dt_end from sensor_antennas a WITH(NOLOCK)
left join sensor_deplo

[2021-03-28 11:57] StuMackenzie commented on #910
All of the publications now at least have one project tag (projectXXX)

We'll have to consider where we list the publications for each project - Project Profile and instructions on how to add publications to this list if they are missing (manual for now).

When we add the project citation feature we'll also want to provide some guidance while setting up and editing projects to encourage proper cit

[2021-03-30 13:04] leberrigan opened #937 "What to do with "groups""
We have discussed putting the 'group' definition at the receiver or tag level such that a single project can be part of multiple groups. At least, that's how it would be defined in the database.

However, as a user it would be tedious and confusing to set groups by individual deployment. I think we should start with the option to set a group for an entire project at once and then think about addin

[2021-03-30 13:45] StuMackenzie commented on #937
This requires discussion again. There are other considerations, or reasons why we may want to 'Group' projects. Take collaborative works for instance. A researcher wants to collect data from 15 different projects tagging shorebirds. PI's can 'label' their project as 'Shorebird Collective' and then have access to all project data through summary tools, and/or the ability to download all data from t

[2021-03-30 14:27] jsayers-bsc opened #938 "No data from SensorStations since 2021-03-26 4:00 UTC"
Just heard from Project 129 by way of CTT that they have no data from their SensorStations since 2021-03-26 4:00 UTC. But they appear to be sending data to CTT regularly. I checked with the 10 or so in Ontario and then system wide and there doesn't appear to be any batches from SensorStations at all since that date (again, ours are syncing fine to CTT).

Has anything changed on our end around that

[2021-03-30 15:37] jsayers-bsc opened #939 "Adding NTP-1 (NanoPin) to tag model list"
Project 113 is planning on deploying [NanoPins (the .13 g Lotek on bumblebees)](https://www.lotek.com/wp-content/uploads/2020/11/NanoPin-Spec-Sheet.pdf). However this tag model is not yet in the list.

[2021-03-30 17:47] Hussell commented on #939
The new model number is "NTP-1". The battery is new as well, I'm calling it "NanoPin" for now. I've updated sgdata. lk_tag_models needs a new row, and that should be all.

[2021-03-30 18:05] Hussell commented on #938
In the job logs I'm seeing AmazonS3Exception "AccessDenied" on sandbox from the ReadCTTFiles process since the 26th.

[2021-03-30 18:25] Hussell commented on #928
https://beta.motus.org/data/partners

[2021-03-30 18:43] cjardine-bsc commented on #939
done.

[2021-03-30 18:43] #939 closed

[2021-03-30 18:49] StuMackenzie commented on #928
Thanks! If anyone notices the relics anywhere please let us know.

[2021-03-30 20:29] cjardine-bsc commented on #937
I think Lucas has got it right when he says "that's how its defined in the database".

We can set up the backend to be managed by a list of stations or tag_deployments, but how the user populates that list from the web end is flexible. It can be as simple as them picking a project and having it's list of tags added to that "group".

***slowly backs away from naming debate***

[2021-03-30 20:57] StuMackenzie commented on #937
That's fine - I'd like to talk about how the front end will be organized - at the moment the best 'group' we have is the admin label., so we need something else.

[2021-03-30 21:51] #928 closed

[2021-03-30 21:56] #936 closed

[2021-03-30 22:42] steffilazerte commented on #936
I'm not sure it's useful to have Travis (I'll probably be removing it soon) and I don't use Trello or FastHub. In general we use "Continuous integration for automated package tests (AppVeyor and soon, GitHub Actions)"

[2021-03-30 23:28] cjardine-bsc commented on #910
Okay, I've built a query to pull this together. Any tweaks to the below sample? It has 3 authors and 2 institutions.

Mackenzie, S., Lepage, D., Wood, R. Motus Ontario Array. 2014-2021.  Bird Studies Canada, A Test Institution. Data accessed from Motus Wildlife Tracking System, Birds Canada. Available: http://motus.org/. Accessed: 2021-03-30

This one is just by institution:

Bird Studies Canada,

[2021-03-30 23:46] denislepage commented on #938
The timing seemed a bit suspicious, since we just launched the new portion for dual mode data, but I think it was done before the 26th.

In any case, the AWS browser is giving us the same error on both sandbox and live, so this is almost certainly a token permission issue on AWS’s end. I wonder if those have expiry dates.

I’ll poke CTT.

[2021-03-31 00:16] StuMackenzie commented on #910
Looks great aside from some relic Bird Studies Canada.

Is "Bird Studies Canada, A Test Institution" one field?, or is that a precursor for a potential list of institutions?

https://motus.org/?

[2021-03-31 01:28] cjardine-bsc commented on #910
This: "Bird Studies Canada, A Test Institution"

Is a concatenated list from the institutions table. Projects will be able to control which institutions they cite by, and the rank, just like users. So it can include any number of institutions.

[2021-03-31 11:52] leberrigan opened #940 "Motus R Book: Explaining signal strength vs. time plots"
While quite useful, we don't actually explain anything about the Signal Strength vs. Time plots in the R book. Instead, they are introduced abruptly in [Chapter 5.7](https://motus.org/MotusRBook/dataCleaning.html#ambigs) for identifying ambig tags.

I have had to explain the utility of these plots a few times now and to me it seems like it should part of Chapter 3 or even a chapter of its own.

Us

[2021-03-31 12:01] StuMackenzie commented on #940
Why don't you add this to #900 and integrate #918. We need to identify a champion to start making these changes.

[2021-03-31 12:35] leberrigan opened #941 "Requested changes to Motus R Book"
We've been accumulating requests for changes to the Motus R Book. I will summarise them here:
* [ ] Explain signal strength vs. time plots (#940)
* [ ] Consistency in variable names (#706) @cjardine-bsc
* [ ] Dealing with large datasets (#900)
* [ ] Formatting errors (#918)
* [ ] Instructions on how to deal with aliasing (#779). See [Motus Tag Guide](https://docs.motus.org/tagguide/tag-aliasing#id

[2021-03-31 12:36] leberrigan commented on #918
Closed in deference to #941

[2021-03-31 12:36] #918 closed

[2021-03-31 12:36] leberrigan commented on #940
Closed in deference to #941

[2021-03-31 12:36] #940 closed

[2021-03-31 15:00] #933 closed

[2021-03-31 15:27] pmorrill commented on #910
As of next sandbox build, institutions mgmt tool has been moved from Project Edit over to User Mgmt, which we will rebrand as 'Manage Collaborators'

[2021-03-31 19:00] jsayers-bsc commented on #558
Right, the sandbox. Is is just because this is dual-mode CTT data that Sandbox is ahead of Live? I'm not entirely clear on how those two databases related to each other...

[2021-03-31 20:09] denislepage commented on #558
Dual mode files only exist in sandbox for now until we can deploy at least the motus-base/org/bsc/process classes in beta.

But metadata should be most up to date in motus, so you need to check on both databases.

[2021-04-01 00:40] cjardine-bsc commented on #910
Okay, there is a new view in sandbox called vwData_ProjectCite. There is still a little work needed on the project management page (users need to be able to decide there if they cite by users or institutions, but below is what the current query looks like.  This is just using PIs for now until projects make those edits on their manage users page. This is based off of sandbox data so I wouldn't use

[2021-04-01 00:50] StuMackenzie commented on #910
Just so I understand correctly, institutions isn’t yet populated, but will appear once users have selected which one? Where ‘Birds Canada, test’ is inserted in ‘1’?

For instance in these two I would expect ECCC cited as after date for 3, and USFWS for 4.

Thanks

3 Aubry, Y. EC-Quebec-St.Laurent. 2016-2019. Data accessed from Motus Wildlife Tracking System, Birds Canada. Available: http://motus.o

[2021-04-01 00:59] cjardine-bsc commented on #910
Yup, you'd do that here: https://sandbox.motus.org/data/project/users?projectID=3 You can select more than one institution to be included and rank them just like authors.

I just did it for those two projects to give you an idea of what it looks like once they choose their institutions.

Aubry, Y. EC-Quebec-St.Laurent. 2016-2019.  Environment and Climate Change Canada. Data accessed from Motus Wil

[2021-04-01 01:00] cjardine-bsc commented on #910
Project names need some work... :|

[2021-04-01 11:29] StuMackenzie commented on #910
They are deplorable.

[2021-04-01 13:02] pmorrill commented on #910
**@pmorrill can we add cite_rank to the institutions table here: https://sandbox.motus.org/data/project/users?projectID=3 Thank you bunches and bunches for taking care of all my demands lately!**

The institutions selection process includes ordering, once you have added multiple institutions. (you can move them up in the list). Is that not what cite_rank is for?

[2021-04-01 13:21] Hussell commented on #926
Yes, some batches from this receiver were rerun on 2021-03-15.

[2021-04-01 13:21] #926 closed

[2021-04-01 16:29] cjardine-bsc commented on #910
@pmorrill No. It's possible for a user to add an institution to their project (for inclusion on the partners page) but not have that institution be part of their citation. So the cite_rank field is needed.

[2021-04-01 17:18] Hussell commented on #939
lifespan_buffer probably needs to be 1.50.

[2021-04-01 17:27] cjardine-bsc commented on #939
Done.

[2021-04-01 19:51] Hussell commented on #924
321 tag deployments on Bank swallows. Tag deployments with no valid tracks don't show up on this page. 252 when filters are off, 68 when filters are on.

[2021-04-01 20:13] pmorrill commented on #910
I've added a feature to control the cite_rank. We need some clear instructions in there (txt frags) best written by someone else!

[2021-04-01 21:09] adamdsmith commented on #941
Hope this is helpful, but it is admittedly a bit of a brain dump...

Re: signal strength vs. time plots, I do a few things to help with interpretation:

- change the symbology of the points to display generic antenna orientation. Essentially, I assign each antenna a generic orientation into one of four cardinal bins, and attempt to  use a symbol that reflects that orientation: N (up arrow), S (dow

[2021-04-02 17:17] Hussell commented on #924
Alright, some examples of tracks that are present when filters are off, absent when filters are on, but look to me like they're valid and shouldn't have been filtered out:
https://motus.org/data/tracksMap?t=1954
https://motus.org/data/tracksMap?t=2002
https://motus.org/data/tracksMap?t=17452
https://motus.org/data/tracksMap?t=18481
https://motus.org/data/tracksMap?t=23439

The numbers are tag depl

[2021-04-02 17:47] cjardine-bsc commented on #924
Okay so none of those tag_deploy_ids are part of the det_runs_filters_manual table. So that eliminates that as a possible source of error.  *phew*

I decided to trace the first tag back.  It has 6798 runs where the motus filter is NULL (good run). If I look at that based on sensor_deployments it looks like their are plenty of valid runs on 12 different sensors which should make a valid unfiltered

[2021-04-02 18:55] Hussell commented on #919
Alright, I think I got it this time.

[2021-04-02 18:56] Hussell commented on #924
Looks like it was due to using the wrong securable in one spot. Now we're showing 250 tags having tracks while the filters are on.

[2021-04-02 19:06] Hussell commented on #923
Probably fixed by #919. Testing needed.

[2021-04-06 15:02] Hussell commented on #938
They're back. Took most of a day to process the backlog.

[2021-04-06 15:02] #938 closed

[2021-04-06 15:16] jsayers-bsc opened #942 "Long term solution for Western Hemisphere birds on European receivers"
The problem of Western Hemisphere tags being "detected" on European receivers comes up often, and it's an ongoing issue. Again today Project 113 reached out with [another case of this happening](https://motus.org/data/receiverDeploymentDetections?id=7612). This can be avoided if all relevant metadata is updated and fully propagated through the database prior to any receiver data being uploaded. Bu

[2021-04-06 15:30] jsayers-bsc opened #943 "Add Bombus terrestris to Species List"
That's right, a new species tagged and tracked in the Motus system!

[2021-04-06 16:45] cjardine-bsc commented on #943
What common name would you like? buff-tailed bumblebee or large earth bumblebee

[2021-04-06 16:54] jsayers-bsc commented on #943
Funny, "large earth bumblebee" sounds like a bad translation error. But apparently that is one of common names! I'm not sure what the most commonly used name is but for what it's worth, it was referred to as "buff-tailed" by the project tagging it.

[2021-04-06 18:25] Hussell commented on #942
#784

[2021-04-06 18:41] Hussell commented on #913
@denislepage, another deployment of beta9 to live is needed to finish this and the logo change in #928.

[2021-04-06 19:56] cjardine-bsc commented on #943
It sounds like a video game baddie.

added.

[2021-04-06 21:03] steffilazerte opened #944 "Miss-match between motusFilter and filterByActivity()"
@cjardine-bsc, @denislepage, I think this is a question for one of you.

In my R package tests I generally compare the output of the default values for `filterByActivity()` (a package function) to the `motusFilter` field in the `runs` table (values provided by the server). They *should* be identical as they use the same rules.

However, I'm trying to track down why one of these tests has started f

[2021-04-06 22:29] steffilazerte commented on #914
Okay, I've added partial functionality. In sandbox, the motus package will warn users if they're package version is too low (i.e. if the server returns warning. But I haven't looked into updating the version.

Do we have a version below which we error?

[2021-04-06 22:35] steffilazerte commented on #900
I have added the two new views (allruns, allrunsGPS) and the new field (attachment) to tagDeps.

I think I've managed to avoid having to add an entry to the update database list because:

- Views are always added/recreated/updated when the database is opened with tagme, so these don't have to be added to an updater.
- I added a function called `createFields()` that compares the fields in every tab

[2021-04-06 22:36] denislepage commented on #914
Not yet, no. Any of the older releases that we might want to deprecated won’t show the error anyway, so this would only apply to new changes we make moving forward that breaks the package functionalities as they exist now. The other thing is that older packages won’t be sending their version number.

There’s potentially a point where versionless requests from the older R packages will be rejected

[2021-04-07 01:46] denislepage commented on #913
@pmorrill  @cjardine-bsc  any outstanding issues to discuss on Thursday about current beta9, or is this ready to go?

[2021-04-07 17:03] cjardine-bsc commented on #913
No issues from me.

[2021-04-07 17:15] cjardine-bsc commented on #944
Hi Steffi,

We've started filtering some runs manually based on aliasing or out-of-range records. We have a field in the runs filters table in the DB that tracks why each run has been filtered, either because of noise (filterByActivity) or based on manual filters. One item on our to-do list is to pass those descriptions back through the R-package for the user and update this section of the Rbook w

[2021-04-07 17:39] StuMackenzie opened #945 "Web glitches"
- headers and drop down menu's don't always match options on the landing page
- guides dropdown link returns a 404 error

- Track Search - when on mobile putting one letter in the search box automatically triggers a search

[2021-04-07 18:24] steffilazerte commented on #944
Ah okay, that makes sense, and whew! I'm so glad that I don't have to change the filterByActivity() function :grin: I've added this to the motus book updates so I'll close this issue here.

[2021-04-07 18:24] #944 closed

[2021-04-07 19:12] pmorrill commented on #913
As I say - the functions are there. I'd be happier if the team had some time to review / test it in Sandbox. Also: I assume Catherine has run the db compare and decided it is ok to link beta10 into the live database.

[2021-04-07 19:25] cjardine-bsc commented on #913
Just to be clear @pmorrill Jeremy's question was about moving Beta9 to live.

Cutting a beta10 is a slightly different question. I did do a DB compare and the tables should support beta10, but all the data will be incorrect with respect to stations as I can't yet change the views and procs over. Still more work for me to do there. This needs to be thoroughly tested in sandbox.

[2021-04-07 19:31] pmorrill commented on #913
Ha! I only read denis' comment and assumed it was re the new beta! Phew.

[2021-04-07 20:20] steffilazerte commented on #914
Good point!

Perhaps we should put in this functionality now (even if it would currently only work on bogus versions), so I can add the corresponding functionality to the R package. This way when *this* version of the R package is so old we want to force an update, we'll have put a graceful way of doing so in the package, without having to just error on all NULL package versions...?

[2021-04-08 01:55] denislepage commented on #945
Menu in jsp folders need to be refreshed after changes in wordpress. I think we have a tool in the admin pages.

[2021-04-08 14:26] jsayers-bsc opened #946 "Tags detected locally on receiver, but not on website or in R"
Project 113 recently deployed about 10 of the new NTP-1 tags on bumblebees next to a receiver. These are showing up locally on the receiver, but there are no detections in Motus.org or in the data in R. It doesn't appear to be a default frequency issue as there are no receivers in this project at the moment with detections of 166 tags. Is there any reason to expect these tags to be identified loca

[2021-04-08 14:31] Hussell commented on #945
Headers and menus seem to match between WordPress and Tomcat (/data) for me. On the other hand, the French and English menus don't match. It looks as though English links have been added, moved to different menus, and changed, without making the corresponding changes to the French menus. General policy when there's no French translation of a linked page has been to link to the English page instead

[2021-04-08 14:33] jsayers-bsc commented on #942
Is there a way we can at least deal with this retroactively on a more regular basis? Looking for sensors belonging to whitelist projects that have detected 166 tags seems like it would give a list of receivers to be addressed. That only happens _after_ the receiver has detections incorrectly assumed to be 166 MHz, but if we could look for this say daily, we could at least resolve it prior to it be

[2021-04-08 14:35] jsayers-bsc commented on #946
... Maybe this is default frequency thing actually since tags that don't have a corresponding 166 MHz counterpart currently active wont' show up anyway. @Hussell can you check the frequency of this receiver? **SG-0733RPI37C19**

[2021-04-08 16:01] Hussell commented on #945
@StuMackenzie, test putting one letter in the search box on mobile here: https://beta.motus.org/data/tracksSearch

[2021-04-08 17:07] StuMackenzie commented on #945
Thanks - that one seems ok. The other problem was the search box in explore projects. i suspect it may be the same wherever we have a search box?

[2021-04-08 18:10] Hussell commented on #946
The frequency of the receiver is and has been correct for a long time. The bumblebee detections showed up when I reran the receiver. Possibly related to the tag registrations and adding the NTP-1 tag model?

[2021-04-08 18:17] #943 closed

[2021-04-08 18:19] #946 closed

[2021-04-08 18:21] StuMackenzie commented on #931
This must have been brought up before - can we integrate into another git, or an ongoing list of sensorgnome issues to resolve? Just want to cleanup git.

[2021-04-08 18:22] StuMackenzie commented on #924
@jsayers-bsc  can you test?

[2021-04-08 18:22] StuMackenzie commented on #923
@leberrigan can you test?

[2021-04-08 19:35] jsayers-bsc commented on #784
So this most recent once (#946) wasn't a new receiver deployment at all. It's been active since 2019 and has detected European tags throughout that period until recently.

[2021-04-08 19:36] jsayers-bsc commented on #942
Closing to keep the discussion in #784

[2021-04-08 19:36] #942 closed

[2021-04-08 19:44] jsayers-bsc commented on #919
Appears to be resolved. Closing and will re-open if that turns out not to be.

[2021-04-08 19:56] jsayers-bsc commented on #946
Yes and the receiver deployment has been active for a while and has already been detecting European tags. Wouldn't the proper tags show up a few days later though at least? Even if data from the first day of deployment needed to be reprocessed, data coming in a few days later should have been processed with all the correct metadata...?

[2021-04-12 12:36] jsayers-bsc commented on #784
In [#942](https://github.com/MotusDev/Motus-TO-DO/issues/942#issuecomment-815874199) I suggested querying in taghits_runs for sensors in a whitelist that have detections of 166 MHz tags. That probably works in cases where there are active tags with the same properties on 166 MHz as 150.1 MHz. But in cases where there are no corresponding tags on 166 MHz this doesn't work since tag finder doesn't e

[2021-04-12 13:11] Hussell commented on #784
The default frequency is correct in these cases, but there's some sort of bug causing the default frequency to be ignored until the the receiver is rerun. So the fix is either going to be fixing the bug, or rapidly rerunning new receivers (or new boot sessions, or new deployments; still not sure what's triggering this). Reiterating: the default frequencies for each project, stored in a database us

[2021-04-12 16:47] leberrigan commented on #853
tagID | tagDeployID | recvDeployID | Justification | Reason
-- | -- | -- | -- | --
12105 | 25236 | 4788 | Lots of PUMA present with the same BI | Type 2 tag aliasing
12097 | 25228 | 4788 | Lots of PUMA present with the same BI | Type 2 tag aliasing
12105 | 25236 | 4798 | Lots of PUMA present with the same BI | Type 2 tag aliasing
12097 | 25228 | 4798 | Lots of PUMA present with the same BI | Type

[2021-04-12 19:50] j-sayers opened #947 "Indicate expired tag life in deployment end dates in R and on Motus.org"
Project 20 recently contacted us regarding some tags whose deployments appear to be missing in the data in the R package. The tags in question have had two deployments. The earlier ones show up as expected, but there are no deployments associated with detections for the later deployments.

The tags have correct, active, deployment information in the Motus site and in the database. But digging in t

[2021-04-12 20:48] cjardine-bsc commented on #947
The date ends are being calculated based on the tag lifespan. They consider previous deployments. So the problem here is bad metadata.

The first tag for example:

34071 has an expected lifespan of 92 days.

It's first deployment is from April 2019-October 2019
Then it has a second deployment starting Oct 2019. But by that time the tag has used 188 days of lifespan of it's expected 92 days. The ta

[2021-04-12 21:54] jsayers-bsc commented on #947
Good know...

I take it tsEndCode == 3 indicates it's a calculated field?

Aside from not having those negative, what about just reflecting what's on the motus site and the database -- if the end date is NULL in the db then it's displayed as NULL?

Though actually, indicating that a deployment with no end date is assumed to be dead is helpful, and would be on the Motus site too. So instead of say,

[2021-04-13 18:16] cjardine-bsc commented on #853
I need tagDeployID not Tag ID.

Thanks!

[2021-04-14 03:56] denislepage commented on #913
Last Thursday, there were some delays required. Are we now ready to push beta9 to live?

[2021-04-14 12:11] jsayers-bsc commented on #947
Below is a screenshot of tag deployments from 2014, where the deployment end date is given as "?". This is how deployment end dates are displayed unless one has manually been set. We don't want people to manually set them unless the tag has been recovered, but leaving it open-ended is a bit misleading (and is in conflict with how it's currrently dealt with in the R package, which needs some tweaki

[2021-04-14 12:29] j-sayers opened #948 "Switch to using Station Name on the tracks maps"
For [this tag](https://motus.org/data/tagDeployment?id=28612), there are detections at one of the more problematic stations -- Tadoussac. But when clicking on the tracks map, the popup shows "Grève de Tadoussac", whereas in the name "Tadoussac - André" is displayed. Thing is, there doesn't even seem to be a "Grève de Tadoussac" in the db at all! Where is that name coming from?!

![image](https://u

[2021-04-14 12:32] #789 closed

[2021-04-14 12:42] jsayers-bsc commented on #948
Also, while _a_ Tadoussac shows up in the detections [Table ](https://motus.org/data/tagDeploymentDetections?id=28615)(the correct name?) and one with a different name is in the [Map](https://motus.org/data/track?tagDeploymentId=28615), Tadoussac is absent entirely from the [timeline](https://motus.org/data/tag/deployment/detections/timeline?year=2021&id=28615). I thought maybe this was because it

[2021-04-14 13:55] j-sayers opened #949 "Multiple email notifications for the same new motus user"
A notification email is sent to motus@birdscanada every time a new user signs up. Usually we get just one email per registration, but often there will be multiple consecutive email notifications. I've seen as many as 6 emails before, all triggered by the same registration. We now have an automated response that goes out in return, and with it being automated it's being sent to every individual ema

[2021-04-14 15:35] steffilazerte commented on #900
It should be already there...? Which project were you testing with?

On the sample project I get `tsBeginCorrected` and `tsEndCorrected`
[code]

[2021-04-14 15:57] steffilazerte commented on #914
@pmorrill:

Was this ever resolved? I tried to access https://sandbox.motus.org/api/sgdata/update_pkg_version with my steffilazerte user name but was told I don't have access.

By the way, would it be possible to get permission to also *down-grade* the package requirements? I'm nervous that I'll accidentally update the package version on the master branch to that required by sandbox which will res

[2021-04-14 16:12] steffilazerte commented on #941
Should I be the one adding these additions? Or are we going to be divvying up these issues and addressing them separately?

Somethings might be best explained by people with a better working knowledge of motus tracking data (as opposed to knowledge of the motus R package), but other things I can definitely tackle.

I think I'm confused right now as to what is expected of me and when.

[2021-04-14 16:14] cjardine-bsc commented on #913
Yes from me.

[2021-04-14 16:30] steffilazerte commented on #868
Two points:

1. If the `hitID`s are unique (as they are here), these duplications are arriving from the server (the R package doesn't create IDs) - So a problem for @denislepage and @cjardine-bsc  :grin:

2. In answer to @jsayers-bsc's question:
    - `utcOffset` and `ts` are the fields used in `alltags` and `alltagsGPS` views to calculate `tsCorrected`
    - `utcOffset` is part of `recvDeps` whic

[2021-04-14 16:37] steffilazerte commented on #867
@jsayers-bsc, is there perhaps a bit of confusion between the use of `tagme(..., forceMeta = TRUE)` and `metadata()`? From the package docs, `metadata()` *is* different:

Again perhaps confusion to be better explained in the Motus R book?

[2021-04-14 18:23] denislepage commented on #868
Have we ever set up the process for deprecating batches? I know we had a plan for it. While we remove hits for batches that have been re-run from our server, those will remain on the user end, and new ones will be added. As a minimum, we should supply a list of all the deprecated batches, and update the batch table with a deprecated flag. There should also be a function on the R side that allows c

[2021-04-14 18:26] steffilazerte commented on #868
We have talked about it for a while but haven't implemented anything. This is the time of year when I have more free time, so now would be a great time to do this! But I think best to open a new issue/rename this issue so we can keep track of it and make sure we don't forget again.

[2021-04-14 18:31] denislepage commented on #941
I don't think we've decided that far, and it isn't yet clear to me either who will be responsible for each for these. Perhaps we need a call dedicated to tackling this and divvying up to conquer. We have our regular call on Thursdays 13h30 EDT. We should have @steffilazerte  join for one of them. I'd be fine with tomorrow. @StuMackenzie do you have other priorities to cover this week?

[2021-04-14 18:48] cjardine-bsc commented on #868
Cool. We have three R views set up that provide a list of deprecated batches.

They are basically lists of batchIDs that can be flagged as deprecated and/or removed.

vwR_Batches_for_all_deprecated
vwR_Batches_for_receiver_deprecated
vwR_Batches_for_tag_project_deprecated

@pmorrill Do already have API entry points for these? If not will you create them?

[2021-04-14 18:54] cjardine-bsc commented on #868
@jsayers-bsc Back to your original questions. Those aren't duplicates (look at sig, sigsd, etc). They are unique hits. I suspect those ts values are actually different, but what is displayed there is just the date, hour and min. The values would differ from one another only by a few seconds.

So the TS should be different when viewed as an integer.

[2021-04-14 18:55] steffilazerte commented on #868
Or did I jump the gun and should we open a new issue?

[2021-04-14 18:57] cjardine-bsc commented on #868
We should find the issue that I'm sure already exists for that. lol

[2021-04-14 19:13] cjardine-bsc commented on #947
We have some text fragments to update. But the tag deployment page now shows this data in the recent push to live.

![image](https://user-images.githubusercontent.com/22172758/114766097-d731ae80-9d1a-11eb-8a93-427f8511a5a9.png)

[2021-04-14 19:58] cjardine-bsc opened #950 "missing text frag"
https://motus.org/data/tag/deployment/edit?projectID=1&id=27476

![image](https://user-images.githubusercontent.com/22172758/114771068-03e8c480-9d21-11eb-9e31-036139d09705.png)

@jsayers-bsc @pmorrill @leberrigan

Can you sort out what information is supposed to be in this fragment and create it? Thanks!

[2021-04-14 20:01] cjardine-bsc commented on #950
Another:
![image](https://user-images.githubusercontent.com/22172758/114771550-8e312880-9d21-11eb-9b67-fa0d6c87a1d1.png)
https://motus.org/data/receiverDeployment?id=3454

[2021-04-14 20:07] jsayers-bsc commented on #868
Yes I was just reading back from the beginning to refresh my memory and noticed this!

[2021-04-14 20:10] cjardine-bsc commented on #948
It's the site name, instead of the deployment name:

SELECT *
  FROM [motus].[dbo].[sensor_sites]
  where name like '%Tadoussac%'

I'll leave it with @Hussell to figure out why the deployment isn't on the timeline.

[2021-04-14 20:14] pmorrill commented on #950
I have added the fragment with simple text - but someone should re-wrod to reflect what it is really for. Go here to do that

https://motus.org/data/admin/tx_keys

[2021-04-15 11:56] jsayers-bsc commented on #950
For the deployment summary and map popup there was nothing additional there previously, so I'm not sure what's missing.

![image](https://user-images.githubusercontent.com/55001144/114864697-4c56bf80-9dbf-11eb-93b8-39032ea2d012.png)

I updated the lifespan with "Estimate of battery life remaining for this tag"

[2021-04-15 12:32] pmorrill commented on #868
They exist:

/batches_for_all_deprecated
/batches_for_receiver_deprecated
/batches_for_tag_project_deprecated

[2021-04-15 12:36] pmorrill commented on #914
The api entrypoint currently only allows you to update - it will return an error if you try to set the version lower than it already is. It's pretty easy to change. Thoughts @denislepage  ?

[2021-04-15 15:21] steffilazerte commented on #868
So just up to me to add this functionality to R package sandbox then? I'll take a look. @denislepage @cjardine-bsc, did you have previously thought out plans for how this should be implemented, or should I see what I think would be best?

[2021-04-15 19:21] jsayers-bsc opened #951 "Increase character limit for Project names"
Currently there is a 50 character limit on project names. This is somewhat restrictive when it comes to descriptive names of projects, leading to AOU bird codes and other acronyms. We should increase this limit to allow projects to improve their names when it comes to citation (#910)

[2021-04-15 20:06] denislepage commented on #868
The first thing I would do is make sure the motusFilter field is available in the batches table schema, so existing batches can be flagged. Paul and Catherine shared some API entry points earlier.

Anything in the returned list should be used to update the batches table accordingly.

Deleting records from the database is a little more complex, especially because of the disconnect between batches a

[2021-04-15 20:14] denislepage commented on #914
Giving Steffi the ability to downgrade the version requirement makes sense.

At this point, we’re only using this as a signal for people to upgrade, and not a strict requirement, so the only impact of the version number is the message displayed for users on the R side.

[2021-04-15 21:18] cjardine-bsc opened #952 "Station Planning Map"
Use the new station concept to:

-allow users to create stations, without deployments, as perspective stations
-Create a new station planning map that includes previous, current, pending and pipedream/prospective stations
-Include link to contact information for perspective stations
-Include a comments section and a possible anticipated start date.
-Add known prospective stations to the database.

[2021-04-15 21:33] cjardine-bsc commented on #951
I've given you 255 characters in Sandbox. Give it a test and if all looks good I can do the same in live.

[2021-04-15 21:41] denislepage commented on #951
Are you nvarcharing this poodle (aka field)? We should probably anticipate some international collaborators requiring UTF-8 chars in things like project names, etc.

[2021-04-15 21:42] cjardine-bsc commented on #951
nYou nBetter nBelieve nI nAm nvarcharing nIt.

[2021-04-15 21:51] denislepage commented on #951
どうもありがとうございます

[2021-04-15 21:54] cjardine-bsc commented on #951
どういたしまして

[2021-04-15 22:11] cjardine-bsc commented on #868
Just to clarify @steffilazerte Denis is talking about the batchFilter column, not the motusFilter column (that a different beastie).

I've added batchFilter to the three R views. It is almost always 4 (deleted) not 2 (deprecated (re-run) because batches are deleted periodically and updated from 2 to 4. So 2 is more of a holding tank for newly re-run batches. We also have a batch filter of 6 for ca

[2021-04-15 22:24] denislepage commented on #868
I think the batchFilter (yup) field needs at least 3 values: valid, marked for deprecation and deleted. We already have numeric values for these concepts, though users should have a simple way to know what they mean (e.g. that works well if any batchFilter > 0 means a batch to be ignored).

The process that marks the batches as deprecated should be the one that calls the API.

Deleting the data fo

[2021-04-15 22:29] cjardine-bsc commented on #868
Ahhh, That means the batchFilter in the R package will be different than the one in our DB, thats fine. We maybe don't need to return batchFilter in the API then. It will be set in R.

[2021-04-16 13:31] pmorrill commented on #914
OK - done. Just checked in to sandbox.

Note that none of this pgk-version-update functionality is in beta9 (or live) yet. If the comparator class is in the bsc-base lib we use there, I can try to move this in?

[2021-04-16 17:02] jsayers-bsc commented on #912
Some further developments...

I just checked the detections summary on the BSC station and everything now looks the same as the nearby receiver. In the screenshot, you can see where I turned all the tags on Feb 13, then when I turned all but one off on the Feb 21st. **Previously there were no detections of these tags on this receiver during this period** -- just dozens of false detections of tags

[2021-04-16 17:02] jsayers-bsc commented on #558
Re file format for older CTT compatibility patches...

This deployment (https://motus.org/data/receiverDeployment?id=7625) was on for a few days collecting and uploading CTT data using the 2018 patch (the newer one doesn't actually work).

This is the naming scheme for CTT data files: `Prince Edward Point-5113BBBK2799-003013-2021-04-02T14-18-24.3850T-lifetag.csv.gz`

Is the file format collected b

[2021-04-16 19:39] j-sayers opened #953 "Harmonize time zones in public detection outputs"
Sometimes the dates displayed in the public detection summaries aren't consistent between the different views (Table, Timeline, Map) are offset by 1, as if the Timeline view is using local time zone whereas the two other views are using UTC which sometimes bumps the date.

![image](https://user-images.githubusercontent.com/55001144/115074497-c4a8a800-9ec7-11eb-984e-315d3ff5a655.png)

![image](http

[2021-04-16 19:43] cjardine-bsc commented on #952
Everyone happy with these categories for station status?

1 | Active | Station has an Active sensor deployment
-- | -- | --
2 | Pending | Station location is confirmed and a station is planned with an   anticipated start date.
3 | Prospective | An approximate location for a station, exact locations and dates for   deployments still in developement.
4 | Inactive | A station was at this location pre

[2021-04-16 20:51] denislepage commented on #952
That probably covers it, but we had discussed potentially having 2 fields: one being a calculated field based on the deployment status (none, current or past deployments). Thing is that deployment status alone doesn’t allow differentiating some of these categories, but we also want the status to be consistent with the deployments.

When someone terminates a deployment for instance, the logical con

[2021-04-16 21:42] cjardine-bsc commented on #952
RE; That probably covers it, but we had discussed potentially having 2 fields: one being a calculated field based on the deployment status (none, current or past deployments). Thing is that deployment status alone doesn’t allow differentiating some of these categories, but we also want the status to be consistent with the deployments.

That's right. That list that I provided would be the one inclu

[2021-04-16 22:52] cjardine-bsc commented on #917
Do you care about whether the tag and sensor deployments overlap in time?

[2021-04-17 01:35] denislepage commented on #914
I’m presuming that Jeremy keeps the bscbase classes up to date in beta9.

As discussed, I’d be tempted to push a new beta10 branch to the beta server so we can test it. @Hussell, could you create a new beta10 branch early next week. That will allow me to test at least the processing of dual model files and get through the backlog of those files.

We can revert back to beta9 after that if necessary

[2021-04-18 13:51] jsayers-bsc commented on #952
Generally the categories you both provided seem pretty good. A few comments:

I like the classification of "available" -- basically, this is a willing host and someone just needs to make it happen. Doesn't mean it's a great spot however! It may be in a river bottom in a deep valley in Appalachia, but maybe it's useful for a local project. It would be nice to get these on the map in some sense eith

[2021-04-18 14:14] jsayers-bsc commented on #671
V2 SS serial numbers are 12 alphanumeric digits long. We accept this, but the Register Receiver page says that _only_ a 15 digit serial for CTT receivers can be registered.

I don't see how this page can be modified from WordPress though. @Hussell can you make this change.

Also, we have an "Unknown: Anything" category. Is this worth having at all if we're saying there are constraints on the other

[2021-04-19 14:17] jsayers-bsc commented on #951
Seems to work fine in Sandbox. In addition to accommodating our international collaborators, frazzled grad students can now include "¯\_(ツ)_/¯" in their project names if they so choose. Of course, we hope no one chooses to exercise this new power in that way.

I guess this is one of those areas where sandbox and live are not in sync. The test project I created is **Project 384 in Sandbox**, but in

[2021-04-19 17:28] cjardine-bsc commented on #951
Done in live.

And yes, only tag_ids and device_ids are synced between the two databi.

[2021-04-19 17:28] #951 closed

[2021-04-19 19:31] cjardine-bsc commented on #671
The regex does allow for that. It doesn't look like this is a text_key. Perhaps it should be.

^(CTT\-[0-9A-F]{12,16})

[2021-04-19 20:36] cjardine-bsc commented on #952
Okay. There is possibly some back and forth still to do here to nail down the final system.

In the mean time. I'm going to suggest we allow users to select station status on their station management page as either

Active
Pending
Prospective
Inactive
Retired
Available

But build the query so it overwrites that value based on deployment metadata. With the following logic.

If there is an active de

[2021-04-19 20:45] cjardine-bsc commented on #952
@pmorrill can you update the map on this page: https://sandbox.motus.org/data/project/stations?projectID=1

Based on the station_status values in vwBase_stations (let me know if you need a different format)  add a "Station Status" dropdown to the "modify this station" section that allows the user to see the descr and details field of lk_station_status and select one.

Some rules that could be impl

[2021-04-19 21:05] StuMackenzie commented on #952
I think you're on the right track. 1 through 4 are straightforward. 5&6 are a little muddy, but we'll figure it out. We also don't need to make them options right away.

We'll naturally have to work on some guidance documentation.

[2021-04-19 21:17] StuMackenzie commented on #950
Fixed? Close?

[2021-04-19 22:27] leberrigan commented on #952
One solution to the problem Denis raises is to force people to declare the status of the station when they end a deployment. This would make it clear whether the researcher intends to deploy again (status: inactive), if it's a good site but they aren't deploying again (status: available), or its a bad site and others shouldn't deploy there (status: retired). I think we're going to have a good mix

[2021-04-20 00:23] denislepage commented on #671
To be clear, the regex in the database already allows the pattern above, and it's the instructions that need updating.

The actual valid pattern is "^(CTT-([0-9]{15}|[0-9A-F]{12}))$" , which I just confirmed against all existing serial # for sensorstations, and modified the lookup tables accordingly.

In human language, this would translate to: version 1: CTT-XXXXXXXXXXXXXXX (v1: 15 numeral digits

[2021-04-20 11:34] leberrigan commented on #950
I have fixed the text fragments. Reopen if more are found,

[2021-04-20 11:34] #950 closed

[2021-04-20 11:41] leberrigan commented on #945
Are you still getting the 404 error when navigating to guide thru dropdown menu?

Search boxes on Explore Projects and Explore Species Tagged pages still triggers the form to submit on 'input' event (Line 40 in motusTable.js).

[2021-04-20 14:16] leberrigan commented on #948
This is because there is a difference between the `sitename` and `recvDeployName`. I believe Jeremy is using `recvDeployName` in these maps, whereas usually it's `sitename` that's used in the tables.

[2021-04-20 14:22] leberrigan commented on #912
@Hussell, can you try re-running deployment #7625 to see if this fixes the issue? It only has a few days of data so should be quick.

[2021-04-20 14:23] leberrigan commented on #923
Nope. Still not fixed.

[2021-04-20 14:42] Hussell commented on #671
Updated the text fragment. I also moved the patterns for SensorGnomes and CTT Sensorstations to the top of the list, since they're the most common.

Also updated the French translation, which was way out-of-date (missing content). I figure a poor translation of the current information is better than an excellent translation of out-of-date information.

[2021-04-20 14:45] Hussell commented on #923
... that's weird. I would've sworn I looked at this example earlier and the tracks were gone.

[2021-04-20 18:23] cjardine-bsc opened #954 "Tagme(receiver) TagDeps table empty."
@pmorrill @steffilazerte

Passing on this issue from CTT, I haven't tested myself.

They are running tagme( CTT-867459049220262). It is returning lots of run and hit data, but the tags deployments table is empty.

I traced it through.

DeviceID = 1549
Sample BatchID = 633690
Tags detected = 38901
38928
38936
Deploy IDs = 26490
26444
26441

Those deployIDs are all in vwR_Metadata_for_tags_deps so t

[2021-04-20 20:48] steffilazerte commented on #954
I think this might be related to #879. In both this issue and #879 I can successfully download the tagDeps table, so I'm not sure if the API is occasionally glitching, or if there's something up with the package that is really unique.

I have created a test branch (see #879) with more messages so we can hopefully get to the bottom.

The other messages are, I *think* related to using an old version

[2021-04-20 21:25] #925 closed

[2021-04-20 21:40] cjardine-bsc commented on #910
Thanks @pmorrill

A few loose ends here that I'd like to tidy.

On the top of the project management page:  https://sandbox.motus.org/data/project/edit?id=3 beneath description can we add:

"The current suggested citation for your project is below, you can make edits to your citation by here" (link to https://sandbox.motus.org/data/project/users)

Show citation for the project from vwData_project_

[2021-04-20 21:44] cjardine-bsc commented on #853
just flagging @leberrigan about the tag_id vs tagdeployId issue above.

[2021-04-20 21:48] steffilazerte commented on #954
Hmm, never mind about the warnings messages, they're fixed in sandbox, but I'll fix them in beta and hopefully get that to master soon as well

[2021-04-20 21:56] cjardine-bsc commented on #842
A summary for future @cjardine-bsc

There is interest in a view (***not batches_activity***) that combines everything we know about pulse counts, tag detections, and GPS activity for all receiver deployments (and outside of deployments?) this could also potentially include some additional station health data from CTT that we don't currently have access to. The goal would be to pass this to users v

[2021-04-20 21:58] cjardine-bsc commented on #780
Closing.

[2021-04-20 21:58] #780 closed

[2021-04-20 22:13] jsayers-bsc commented on #671
Yes it's that the instructions suggested new SS weren't accepted, even though they actually are.

Thanks for updating!

[2021-04-20 22:32] cjardine-bsc commented on #720
This was pushed to live. Yay!

There is one loose end, we need a way for each user to find out which projects are public so they know what they can access.

We talked about a couple ways we could do this, including

-Flagging public projects on the project exploration page: https://sandbox.motus.org/data/projects
-A new R function that returns a list of projects that are public.
-A list on the pro

[2021-04-20 23:14] cjardine-bsc commented on #917
Okay. Here is the query I'm using to create the table:

;WITH CTE AS (
Select a.id as tagDeploy, b.id as station, dbo.distance(a.latitude, a.longitude, b.latitude, b.longitude ) as dist
from tags_deployments a cross join sensor_stations b)

Select * from CTE where dist < 10000

It's slow, so we're going to need to look at how to keep it up to date, but I'll email you the initial spreadsheet result

[2021-04-20 23:19] jsayers-bsc commented on #784
Obviously an actual fix would be ideal but in advance of that may we can at least catch and resolve these more quickly.

If one of these receivers has detected a tag that has a 166 counterpart it seems fairly simple

select distinct(sensor_id) from det_taghits_runs a
left join tags b on b.id = a.tag_id
left join sensors c on c.id = a.sensor_id
where c.project_id = 113 and nom_freq > 166 and nom_fr

[2021-04-21 14:11] StuMackenzie commented on #784
Has the current issue been resolved so we can get back to them telling them it's corrected for the time being and we're working on a permanent fix. We might as well be honest that it's a bug deep in the code that we're working to isolate and fix, or implement a workaround.

[2021-04-21 15:26] pmorrill commented on #910
I have added these items to both pages. (visible in next deployment of sandbox)

[2021-04-21 15:31] pmorrill commented on #952
I have added the status selector, and the field for prospective start date. It is in a very simple form at the moment (no contextualization, and not using the vwBase_stations view yet)

[2021-04-21 16:26] steffilazerte opened #955 "R package / API to catch incorrectly formated JSON values"
In exploring issues (e.g., #954), I've realized that the change in API to make JSON formatting more strict is now on beta  (and live?).  I think this is creating problems that I'm rushing to fix.

This change results in some calls returning errors (often the permissions error, like in #905) and some silently returning zero data (when they should return something).  I've gone through and changed pa

[2021-04-21 16:44] cjardine-bsc commented on #955
Tagging @pmorrill

We can also revert the live build if needed.

[2021-04-21 17:07] steffilazerte commented on #955
@cjardine-bsc, for testing purposes, do you know of a projectID that would return data from "custom/project_ambiguities_for_tag_project"? This is the only remaining API point for which I can't see to get data. Thanks!

[2021-04-21 17:17] pmorrill commented on #955
I have no idea what changes in the api you are referencing..... Not even sure what the 'boxing' vs unboxing terms are referring to in this instance.

Do the issues originate with how the API parses your request objects? Can you give me a specific example?

[2021-04-21 17:35] cjardine-bsc commented on #955
These projects should have data in vwR_Tags_for_ambiguities (there are 120 f you need more, I just grabbed the first few).

1
3
4
9
11
14
19
20
21
22
25
27
29
32
35
37
38
40

[2021-04-21 17:36] pmorrill commented on #954
The results for view vwR_Metadata_for_tags_deps are passed through a processing function that turns them into vectors (JSON arrays), with no data manipulation. If the process fails, the api would return an internal error (500) with a msg: 'Failed to build response vectors.'

[2021-04-21 17:48] steffilazerte commented on #955
Hi @pmorrill sorry for the ambiguity!

The changes are ones we talked about in #905 (specifically in your comment [here](https://github.com/MotusDev/Motus-TO-DO/issues/905#issuecomment-773389835)) making the JSON requirements more strict?

Unboxing/boxing is a term used by the packages I use in R for converting to/from JSON, it essentially means putting [ ] (boxing) around parameter values.

#905

[2021-04-21 17:53] steffilazerte commented on #955
Alternatively, it just occurred that this might be something I can deal with completely on R side. If an API query is successful but returns zero data, will it return empty but named lists/arrays?

In that case I can just test for named returns, even if they're empty and that would solve a lot of the problems.

[2021-04-21 18:17] pmorrill commented on #955
The example mentioned above should be returning an empty object if the motusTagIDs param is not boxed as a json array. There are no attributes on the returned object.

IN another case, the call to 'deviceID_for_receiver' will actually return an error if the serno parameter is not a json array. But I see that actual error code is no in the live system. I will add the error return for this specific

[2021-04-21 19:36] steffilazerte commented on #955
That's enormously helpful, thanks @pmorrill! I will use the lack of attributes as another indicator, that will definitely help.

@cjardine-bsc I don't think that's what I'm looking for (although having this is helfpul for other things, so thanks!).

Specifically, however, there's an API point called `custom/project_ambiguities_for_tag_project` that takes the project ID that you're currently workin

[2021-04-21 20:53] steffilazerte commented on #955
@pmorrill Turns out that I really needed your list of calls that expected boxed parameters, `recv_metadata_for_projects` and `tag_metadata_for_projects` both return all data when the parameter is unboxed (i.e. interpreted as blank), so I wouldn't have been able to detect it.

Anyway, my server tests are set up and all functioning and I've fixed all the problematic calls. I'm feeling good about bei

[2021-04-22 14:42] pmorrill commented on #910
I am not certain that the 'User' citation format is working as it should. For example: consider the citation here (bottom of page):

https://sandbox.motus.org/data/project/users?projectID=1

I suspect that the view is including users whose citation rank is zero (0), as well as those with a positive rank? Easy enough to fix in one of two ways, if this is what is happening.

[2021-04-22 15:00] adamdsmith opened #956 "Permission issues with `forceMeta = TRUE`"
This applies even with administrative access:

[code]

[2021-04-22 15:42] StuMackenzie commented on #910
Yeah it looks like it's listing all authors even if they didn't have a 0 selected.

I played around a bit and other things seems to be OK.

Funnily Bird Studies Canada and Birds Canada aren't listed institutions.

[2021-04-22 16:02] pmorrill commented on #910
I have sorted out the issue with the null vs zero author cit. order. No need to change anything in the view, Catherine,.

[2021-04-22 17:40] leberrigan commented on #923
No tracks now! I think we're good

[2021-04-22 17:42] cjardine-bsc commented on #941
Another one is a database diagram of all the r tables and their relationships to one another.

[2021-04-22 18:07] StuMackenzie commented on #910
Seems to be good for me. An update citation button at the bottom might be helpful to ensure that any changes above are implemented?

[2021-04-22 18:26] pmorrill commented on #910
The citation should always be updated automatically, when you save / update any other element on the page. Test it to verify.

[2021-04-22 18:54] pmorrill commented on #952
@cjardine-bsc : you are planning to auto update station status when a deployment is added (for example). But you have also talked about making current status a 'calculated' field. I am not convinced that a calculated field is needed. ??

If we don't need a calculated field, then your view vwBase_stations. is probably not necessary for me: a simple select query will give me current status directly

[2021-04-22 18:57] pmorrill commented on #952
At the moment, station position can be moved at any time. The tools need further review.

[2021-04-22 19:01] leberrigan commented on #952
We need to deal with a way to handle new deployments that take over 'available', 'inactive', 'prospective', or 'pending' stations.

Once a station has a deployment the location can't change. Other stations can be moved. If a new station is created, there should be a check for nearby or 'overlapping' stations ("Alert: there's already a station within X km"). This won't prevent anyone from creating

[2021-04-22 19:04] #923 closed

[2021-04-22 19:15] steffilazerte commented on #954
@cjardine-bsc I'm pretty sure this is related to #955 which I've hopefully fixed in the most recent hotfix. (The warnings were in fact related!)

Could you ask Jessica to install motus from the hot-fix branch and try again? There should be no missing TagDeps and no warnings (of that sort):

[code]

If that works, I'll push to master and they can reinstall the main version from the master branch ag

[2021-04-22 19:42] cjardine-bsc commented on #955
huh....That makes sense, I'm not 100% sure which view that is using, but I can give you an example that should return a record.
Project 74 should have ambiguous detections shared with project 262. (TagIDs 26751, 35365)

[2021-04-22 21:43] cjardine-bsc commented on #952
Okay I made the changes to the view.  If it doesn't cause any major headaches lets use that for now, it tracks the logic of what the station status should be.

[2021-04-22 21:55] cjardine-bsc commented on #910
Looks good!

This page needs a link to the collaborators page: https://sandbox.motus.org/data/project/edit?id=1

After that I'd say we're in good shape.

[2021-04-23 09:50] StuMackenzie commented on #853
More RUBL's to add to the black list  Colombia and Chile detections - https://motus.org/data/tracksMap?t=5511&t=5512&t=5513&t=5514&t=5515&t=5990&t=5991&t=5992&t=5994&t=5995&t=5996&t=5997&t=5998&t=5999&t=6000&t=6001&t=6002&t=6008&t=6009&t=6010&t=6011&t=6012&t=6470&t=6471&t=6472&t=6473&t=6474&t=6475&t=6477&t=6478&t=6479&t=6480&t=6481&t=6482&t=9835&t=9836&t=9837&t=9838&t=9839&t=9841&t=9842&t=9843&t=9

[2021-04-23 12:13] pmorrill commented on #955
This entrypoint always returns a set of empty project arrays. I am not sure why we support it at all, but we do...

[2021-04-23 13:18] jsayers-bsc commented on #952
Just a quick comment that one of the characteristics we discussed about stations is that they can move to some degree. I don't think we landed on what the cutoff should be, but something in the range of a few hundred meters is not unusual. And yes sometimes stations will overlap.

Maybe along with an alert that "there is a station with X km". we provide a dropdown with the list of those stations t

[2021-04-23 20:36] jsayers-bsc commented on #929
A traceback from one of these:

[2021-04-23 20:36] steffilazerte commented on #954
Oops that should be:

[code]
Not sure if you've sent that on or not @cjardine-bsc, but just a heads up that my first ref was wrong!

[2021-04-23 20:36] steffilazerte commented on #956
Hi @adamdsmith I'm just in the process of fixing some communication problems between the R package and the API (see also #954). Can you try the hotfix I've created and let me know if that helps?

[code]

[2021-04-23 20:37] steffilazerte commented on #955
Hmm, well I guess I don't need to test that then!

[2021-04-23 21:23] jsayers-bsc commented on #867
Yes I'm a little uncertain about the differences between the various incarnations of `forceMeta = T` and `metadata()` whether they are called on a tag project, a receiver project, or system wide. There are a handful of different combinations and they have different results.

Part of this could be resolved by better clarification in the R book about the various differences between the options. But

[2021-04-26 22:02] cjardine-bsc commented on #954
@steffilazerte Some questions from CTT while trying to test:

So install_package isn't a function available in the "remotes" package. Could it be a different function? I noticed looking through the doc they often reference a repository source...maybe it's instead install_github or something? Where does the repo for this live?

[2021-04-26 22:06] denislepage commented on #954
Yes, install_github is the function.

[2021-04-26 22:28] steffilazerte commented on #941
I've got the initial Motus R book set up as a pkgdown site. Right now we can access it here: https://motuswts.github.io/motus/articles/index.html

I've made some initial tweaks to the "Chapters" mostly referring to articles instead of book.

The repository is also set up to automatically re-render the site on each push. I think I should also be able to set it up to work with a beta version as well

[2021-04-26 22:47] steffilazerte commented on #954
🤦🏼 Ugh yes: `remotes::install_github("MotusWTS/motus", ref = "hotfix-JSONbox")`

[2021-04-27 08:29] StuMackenzie commented on #910
Little thing, but can we change the Project part to not be all caps. eg. (Project 1)?, and Data accessed from 'the' Motus...

Bird Studies Canada. Motus Ontario Array(PROJECT1). 2015-2020. Data accessed from Motus Wildlife Tracking System, Birds Canada. Available: https://motus.org/. Accessed: 2021-04-27

[2021-04-27 08:32] StuMackenzie commented on #910
We should also make the default by 'institution' if that's easy enough?

[2021-04-27 11:50] pmorrill commented on #910
Catherine: should you do this in the table field, likely?

Also: do we want to force them to always have one option active, so that they cannot go with NO citation? I think that is the intention, and if so I can adjust the select drop-down accordingly (and you can make the field NOT NULL).

[2021-04-27 16:39] adamdsmith commented on #956
Sorry, just got around to checking this. This appears to fix the problem I was experiencing. Thanks!

[2021-04-27 16:42] StuMackenzie commented on #910
I think we should force at least one institution and one PI in the user case.

[2021-04-27 17:56] steffilazerte commented on #956
Good to know! Once I hear back from the other issue (#954) I'll push this to master.

[2021-04-27 17:58] cjardine-bsc commented on #954
Jessica gave this a test but didn't have success. Details from her are below:

I ran this...

remotes::install_github("MotusWTS/motus", ref = "hotfix-JSONbox")

...and it appears to have completed successfully. Then I ran this...

library(motus)
library(motusData)
library(RSQLite)
tagme()

I got no warning messages this time, but the species info still isn't in the "alltags" view. The "tagDeps" ta

[2021-04-27 18:25] joeybernard commented on #607
I have been looking at this for the past few evenings. I was wondering if someone had a job ID for a rerun that highlighted this issue?

[2021-04-27 18:50] denislepage commented on #954
I don’t know that tagme() without parameters is supposed to do anything?

From: Catherine Jardine ***@***.***
Sent: 27-Apr-21 13:59
To: MotusDev/Motus-TO-DO
Cc: Denis Lepage; Comment
Subject: Re: [MotusDev/Motus-TO-DO] Tagme(receiver) TagDeps table empty. (#954)

Jessica gave this a test but didn't have success. Details from her are below:

I ran this...

remotes::install_github("MotusWTS/motus",

[2021-04-27 18:59] denislepage commented on #954
Hi Denis,

It is in the instructions in section 3.5.5:
https://motus.org/MotusRBook/accessingData.html

Last time, I tried adding the parameters you suggested and it didn't affect
the outcome. This time, it did run and seemingly update the data, but
apparently did not add in those tables. So, the fix hasn't seemed to
address the issue we were seeing on the last call.

Let me know what I can do,

O

[2021-04-27 20:57] cjardine-bsc commented on #910
I'd be hesitant to force an institution, but PI is a required field already.

Since we already have a PI for every project I've defaulted them all to cite by user for now. If we default to institution they will be blank.

[2021-04-27 21:14] steffilazerte commented on #954
Wow, I think there might have been two things going on and this might have helped me understand some other long standing issues as well (maybe #879?)

The code in the update function did NOT update metadata on all tags in a database, it only updated metadata for tags that had been just downloaded, but from the documentation it looks like it should have. I have made the change so that when forceMet

[2021-04-27 21:19] steffilazerte commented on #879
Hi @jsayers-bsc,

I'm not sure this will be much more help, but I think I might have found something related. For some reason, the original function didn't update all tags in the data base, but only tags that had been downloaded in the current session (even when `forceMeta` was TRUE, which I didn't catch). I think that this may have resulted in odd behaviour populating the tables, depending on wha

[2021-04-28 01:06] jsayers-bsc commented on #879
Great, seems like there are a bunch of unresolved mysteries related to this particular issue! (Any chance #955 is also related to #929?)

I have installed the hotfix, though I'm on the road for the next day still so don't know when I'll get the chance to test. I'll post anything relevant here and keep watching the other threads.

[2021-04-28 01:27] steffilazerte commented on #929
Hmm, there's a very good chance this is related to #955, as the problem was that the R package was sending incorrectly formatted data to the API which could very well trigger this error. `srvTagMetadataForProjects` was one of the functions affected too.

*Hopefully* the fix in #955 will also address this, fingers crossed!

[2021-04-28 14:41] steffilazerte opened #957 "Switch database connection from dbplyr::src_dbi() to DBI::dbConnect()"
`tagme()` currently uses `dbplyr::src_dbi()`, but I think we should switch to `DBI::dbConnect()` fir several reasons:

1. `dbplyr::src_dbi()` is [no longer recommended ](https://dbplyr.tidyverse.org/reference/src_dbi.html)
2. `DBI::dbConnect()` is the standard way of working with databases in R, but has different behaviour from `dbplyr::src_dbi()` which may cause confusion and makes coding more co

[2021-04-28 18:37] pmorrill commented on #910
I have added a link to the text fragment, available on next sandbox deployment.

[2021-04-28 19:25] steffilazerte commented on #867
Possibly (probably) related to #955, we should check again after that's been tested

[2021-04-29 00:55] joeybernard commented on #915
This is part of setting up a test framework that I was going to look at. If you don't already have a standalone way to process WAV files, I'll look into it.

[2021-04-29 01:02] denislepage commented on #957
Keeping the packages up to date generally makes sense. I’d be useful for me to understand better the implications and how to could potentially impact people’s code.

Can’t tagme return the connection object ($con) in place of its container?

[2021-04-29 14:45] jsayers-bsc commented on #957
Yes the difference can be confusing and it would be nice if they were both the same, without the need to use a different method depending on how the database is loaded.

The R Book already provides the `dbConnect()` and a SQLite connection to the local database as the example for listing tables.

Hard to say how many people are using `tagme()` and then specifying $con to list the tables, but most

[2021-04-29 15:29] steffilazerte commented on #957
Thanks @jsayers-bsc, that's exactly it! :grin:

@denislepage

It could but this would result in the exact change I want to make but would use the workflow similar to dbConnect -> src_dbi -> dbConnect, so it's easier to just use dbConnect in the first place.

- I don't think there's any benefit to using `src_dbi()`
- This will only affect existing code if people use DBI functions. AND, as @jsayers-

[2021-04-29 19:24] leberrigan commented on #607
@joeybernard [Job ID 4434252](https://sgdata.motus.org/status?jobID=4434252) is missing records after 2020-07-23 07:00. GPS records exist on SGData from all days after this date.
![image](https://user-images.githubusercontent.com/35931796/116603800-574f3b00-a8fb-11eb-9f59-55fc0c667e32.png)

[2021-04-29 19:37] #482 closed

[2021-04-29 19:58] leberrigan commented on #607
@joeybernard, I've been looking for examples of missing GPS records and all the ones I know of (including those in this thread) are either resolved or [instances of the stuck GPS bug](https://github.com/MotusDev/Motus-TO-DO/issues/482).

@Hussell, do you still have some examples?

[2021-04-29 20:13] leberrigan opened #958 "Recovering missing GPS hits initially removed due to stuck GPS bug"
Feel free to merge this into #607, I just figured this was divergent enough to deserve a new thread.

We are currently omitting GPS records which are recorded while the GPS is stuck. A GPS gets stuck when the receiver is using a USB GPS module and a bug in the module triggers an error. This error causes the GPS to report the same date and location from the time when the error occurred, until the u

[2021-04-30 12:50] j-sayers opened #959 "Networked SG not syncing data; likely has SD card from another SG in it"
Project 113 has a networked that is not syncing properly. The status page shows connected status as "No", though it appears to be regularly connecting based on the up-to-date time. However the last data sync is over a month ago.

![image](https://user-images.githubusercontent.com/55001144/116692176-f6227880-a989-11eb-8807-d64cf8314323.png)

They are fairly certain that the used an SD card that con

[2021-04-30 18:38] #954 closed

[2021-04-30 21:18] steffilazerte commented on #956
Fix pushed to master v.4.0.6

[2021-04-30 21:18] #956 closed

[2021-04-30 21:18] steffilazerte commented on #955
Fix pushed to master v.4.0.6

[2021-04-30 21:18] #955 closed

[2021-04-30 21:19] steffilazerte commented on #879
The fix has been pushed to master, but I'm going to leave this issue open until we're (reasonably) sure it's been dealt with. Keep me posted once you're back :grin:

[2021-05-01 11:56] adamdsmith commented on #915
I’ve not had a chance to explore the VAMP option. I could, but it’s a low priority. So I’d rather defer to @joeybernard finding an alternative if it’s a worthwhile tool to have available.

[2021-05-01 17:13] denislepage commented on #915
Given that we are working on having Lotek register tags for user, this is possibly moot at this point

[2021-05-04 17:22] adamdsmith commented on #836
Hey @dfloer @jsayers-bsc

Any progress on this SG software front for dual-mode units? I'm not having any luck with SensorGnomes detecting the V2 CTT adapters.

[2021-05-04 18:12] jsayers-bsc commented on #836
@dfloer can clarify but I believe he found the V2 CTT adapter to be incompatible with SG currently as the output format is different. I'm not sure what options we have on the SG end for supporting it in its current form; the ideal solution seems to be for CTT to stick with the same data format as V1, which is recognized by the SG. Dale, please correct any of that if I got the details wrong. I have

[2021-05-04 18:45] jsayers-bsc commented on #816
Recently Project 117/3 has been getting this error repeatedly when trying to download Receiver data. They can download Project tag data just fine, but not a receiver. Multiple members of the project have the same issue over a period of several days. I can't replicate it however, even when downloading their data with a non-admin account.

I see this error from time to time and it's one of those "ju

[2021-05-04 18:51] jsayers-bsc commented on #816
Just heard an update from the collaborators. This error is only seen **when trying to download a receiver that does not exist locally**.

[2021-05-05 00:48] dfloer commented on #836
@adamdsmith @jsayers-bsc I got the V2 receiver late last week, and haven't had a chance to take more than a cursory look at it.

It's using a different microcontroller, so different USB IDs. But the data format it's emitting has changed. The V1s just emitted the tag ID and the RSSI: `61343407,-84` on the serial port. The new ones spit out JSON: `{"protocol":"1.0.0","meta":{"data_type":"coded_id","

[2021-05-05 01:00] adamdsmith commented on #836
Thanks @dfloer.  That’s pretty annoying. I really appreciate you looking into it.

[2021-05-05 02:13] StuMackenzie commented on #836
If you need some V1 dongles in the meantime we may have some we could send you.

____________________

[2021-05-05 11:53] jsayers-bsc commented on #777
This issue has come up with other projects and I'd like to suggest we provide a way of dealing with these that goes beyond hitting "ignore" in the data issues page.

The problem is that people don't always register their tags nor create deployments at the proper time. Because of this we send an error message in the Data Issues page any time one of the tags currently on their project is detected ou

[2021-05-05 12:05] jsayers-bsc commented on #836
@adamdsmith You may also want to contact / open a support ticket with CTT directly. I've already done so, but the more people that bring it up with them the more likely this gets resolved, at least for future dongles. Once we're out of V1 dongles, which won't be very long, we won't be able to deploy CTT-compatible SensorGnomes.

[2021-05-05 12:25] adamdsmith commented on #836
Good point. I’m sitting on a stack of useless V2 dongles at the moment. Thanks for the offer of additional V1, but I’m not deploying anything for a couple months. Did you put in the ticket somewhere specific? Otherwise I’ll just contact David. Thanks.

[2021-05-05 12:43] StuMackenzie commented on #836
It’s as much on us to make sensorgnomes compatible as it is on them to fix the dongle. It may be easier for us to fix sg than them to fix the dongle.

____________________

[2021-05-05 13:14] jsayers-bsc commented on #836
True, though to be fair the manufacturer is currently selling a product that does not work as advertised -- not because the SG has changed, but because they modified their product.

[2021-05-05 13:34] adamdsmith commented on #836
You're both right. :) In any case, I've sent them another note regarding the change in functionality from V1 to V2...

[2021-05-05 15:07] adamdsmith commented on #836
CTT update: they suggested the V2 dongles were "working here in-house" but will apparently get Bob to look into it. Suggested switching over the SensorStations as the best fix...

[2021-05-06 00:56] dfloer commented on #836
Taking a look at this now. First thoughts on the code are that I'll need to change the udev rules to pick up the new USB device (the microcontroller) and need the change the parsing from the raw serial.

Slight niggle that I'm coming across trying to prototype the second one, sometimes the messages are getting cut off at 64B (which is the maximum data per packet in USB 2.0), which is gonna cause s

[2021-05-06 18:42] ajmacdonald3 commented on #809
@cjardine-bsc, here are the tagIDs for the test tags (project 322) I manually registered that were also registered automatically by Lotek:

tagID
--
53444
53443
53442
53441
53440
53439
53424
53423
53422
53421

[2021-05-06 19:34] cjardine-bsc commented on #607
Here is an example. DeviceID 304.

Batch 66229 is the original batch 88029 is the re-run.

select * from det_gps where batchID = 66229
select * from det_gps where batchID = 844029

[2021-05-06 20:17] cjardine-bsc commented on #809
Thanks. Here are the differences between your registrations and lotek's. They are very slight.

Tagging @StuMackenzie and @denislepage for interest.

  | period | period_sd | pulse_len | param1 | param2 | param3 | param4 | param5 | param6
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
difference | 0.00023 | 0.000808 | 0 | -0.002 | -0.002 | -0.002 | 0.002 | 0.002 | 0
difference | 0.00023 | 0.00140

[2021-05-06 20:44] cjardine-bsc commented on #809
RE: I’m not sure of the units here,

The units are the same as the units of the variable. I just subtracted the values from one tag from that of the other.

Re: Are the pulse differences between the values provided by Lotek and the actual burst measured by tag finder, or with the theoretical burst (which is never achieved with high precision).

These are differences between the 10 tags Amie record

[2021-05-06 20:45] steffilazerte commented on #816
First things first, @jsayers-bsc just to be clear, they've updated to the most recent version of motus?

If they run `packageVersion("motus")` it should be 4.0.6.

[2021-05-06 20:54] denislepage commented on #809
We store burst intervals in seconds, and pulse intervals in ms. Assuming your measures are the same units, pulses sound totally fine, but I wonder about bursts.

0.004 seconds is the max slop allowed on tags. Can you perhaps email me the JSON file shared by Lotek?

We don’t have the pulses without going to the original files, but the burst interval is simply the difference between 2 hits. That is

[2021-05-06 21:35] cjardine-bsc commented on #809
Tagfinder Registration:

select * from tags
where id in (53444,
53443,
53442,
53441,
53440,
53439,
53424,
53423,
53422,
53421
)

Lotek Registration:

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [motus].[dbo].[api_import_tags]
  where id in (48734,
48735,
48736,
48737,
48738,
48739,
48740,
48741,
48742,
48743)

You're using Burst Interval to refer to Period and sayi

[2021-05-07 14:43] steffilazerte commented on #816
The internal server error is definitely an error on the API side, but it could be caused by how the R package asks for data. I asked about updating the package because a change in the API meant that R was sending the wrong information, which *could* result in a server error. That was recently fixed (#955), so first things first, make sure they're updated!

The fact that it works when there is an e

[2021-05-07 16:49] jsayers-bsc opened #960 "Maintain access to Manage Receivers in beta"
I've been trying to use Beta for daily tasks to test as I work and notice that Manage Receivers isn't accessible. This is obviously because we're moving to Manage Stations, but the Stations side of things isn't completely implemented so there isn't much there. Manage Receivers is still in the Manage Data dropdown, but it doesn't lead anywhere.

Can we keep both Manage Receivers and Manage Stations

[2021-05-07 17:08] pmorrill commented on #960
It's to late for that. Manage Recv's is gone from the branch.

The manage stations tools will let you do everything that you did with receivers, but not until @cjardine-bsc  finishes running scripts to link the receivers to the stations.

[2021-05-07 17:36] jsayers-bsc opened #961 "Increasing frequency that tag database is provided to tag finder"
Just wanted to make a specific issue related to our call yesterday so it doesn't get lost. Specifically modifying the frequency at which tag deployment metadata is passed to tag finder.

- How long does the process take, and does it lock the database for any significant period of time?
- If the procedure is speedy, how frequently can we set this process to run? -- hourly, every 15 minutes?

This w

[2021-05-07 17:39] jsayers-bsc commented on #777
Re our call yesterday of updating the error message with a bit more context...

I don't see this message in either the text fragments or error messages. Is there somewhere else I should be looking for this?

I was just going to add one line to the end to make it:

I was going to add a bit more description, but we may be changing this behaviour anyway. With Lotek tags soon being auto registered we

[2021-05-07 18:21] pmorrill commented on #816
We have no server-side logs. But, when you see a HTTP 500 returned, the CONTENT of that response should be a JSON payload, that carries a more specific error message. That message might help us track this down.

The msg itself would not be useful for the end-user, but if there was a way to view the content of the response for debugging purposes..... (In a browser, I'd just trace the response using

[2021-05-07 18:35] pmorrill commented on #809
Should we add a foreign key to link the raw data to the processed registration records, at least until we are generating actual tag_id values for the registrations?

[2021-05-07 18:45] cjardine-bsc commented on #809
we should! Let user import_id (api_batch_id) it is already and output parameter of prAPIImportTagsLotek

I've added it to the table.

[2021-05-07 19:28] steffilazerte commented on #816
Hmm, that's a good point, perhaps I can capture the message as a log file or something so people can send that to us. I can look at it myself, but only if I can replicate the problem!

[2021-05-07 21:04] cjardine-bsc commented on #777
added in English

[2021-05-11 14:02] leberrigan opened #962 "Motus Dashboard Integration"
As discussed in last week's call, I have made a table outlining the variables needed from each API calls based on the specified lookup values.  Let me know where I can provide clarity. In general, it would be useful to include an option to have one or more IDs or 'all' as an argument when making API calls.

table name | lookup value | return values |   |   |   |   |   |   |   |   |   |   |   |  
-

[2021-05-11 14:10] #733 closed

[2021-05-11 15:35] pmorrill commented on #962
Good start! We also need to decide what format to use for the data.  Often, we use JSON for api data packages, but csv is acceptable, and normally more compact.

You are reading csv files now, so it makes sense to deliver the data in that form - fewer disruptions on your side.

We can discuss pros and cons on Thursday,

[2021-05-12 17:11] Hussell commented on #961
Testing with hourly updates has had a few minor hiccups, but nothing that looks like it could prevent hourly updates from continuing indefinitely.

[2021-05-12 19:08] cjardine-bsc commented on #960
Agreed. And I wouldn't want you making changes to the Stations in Beta anyway because I'll be wiping them and replacing them when we push to live.

Basically I suggest you use live to manage receiver deployments and sites at this point.

But yeah, I can run my script so you can test the stations stuff, but I wouldn't want you to make any real changes there until things have gone to live.

[2021-05-12 20:01] leberrigan commented on #892
**New station form:** I wonder if this could be formatted as a questionnaire of sorts. This could give us control over determining the status as I think that step may be a bit confusing for folks. Above the form would be the concept of a stations (E.g.: "A station is a location where a Motus receiver has been installed, approximated to 500m") and then the questions:
  a. "What is the name of this

[2021-05-13 13:38] jsayers-bsc commented on #960
Well then. I'll just close this for now then :)

[2021-05-13 13:38] #960 closed

[2021-05-13 18:38] jsayers-bsc commented on #929
After the recent changes the following message is displayed:

Loading complete Motus metadata
Calling 'structure(NULL, *)' is deprecated, as NULL cannot have attributes.
  Consider 'structure(list(), *)' instead.Calling 'structure(NULL, *)' is deprecated, as NULL cannot have attributes.
  Consider 'structure(list(), *)' instead.Done

[2021-05-13 20:57] steffilazerte commented on #929
Argh, I *think* the metadata should have downloaded regardless, but it's fixed in `hotfix-metadata` anyway.

Test for me?  🙏🏼  😁

[code]
There should be complete metadata and no warnings!

[2021-05-13 21:13] steffilazerte opened #963 "Setup test user"
@denislepage, @cjardine-bsc

I've migrated `motus` to GitHub actions for remote testing, which makes it really easy for me to supply secrets (encrypted credentials).

Therefore I'd like to add the tests I run only locally (because they require my username and password) to these remote CI tests.

To do that I want to set up a separate user (called `testuser`) with more privileges than `motus.sample

[2021-05-14 01:42] denislepage commented on #963
If you want to create a new login on each sandbox and the main server and let us know, we can add the permissions. Permissions are assigned by project, so for receivers, it’d be better to select receivers in a couple projects to which we can give you full access. One of the motus projects, for instance.

[2021-05-14 16:58] cjardine-bsc opened #964 "Prevent end dates in the future (tag deployments)"
We've found more cases of people still entering an enddate for tag deployments. Even now that they get this nice little warning:

"You have entered an end date for this deployment. End dates should only be entered for tags that have been removed from the animal, otherwise please leave the end date blank. This tag has a remaining estimated lifespan of 0 days, If you have recovered this tag and do n

[2021-05-14 21:49] steffilazerte opened #965 "More than one motusTagID per hitID?"
When I look at a fresh download of the sample data set, I find that I have duplicated `hitIDs`

Is this related to:
1. Deprecated batches (#868)
2. Sample data
3. Feature not a bug
4. ...?

[code]

[2021-05-14 21:55] cjardine-bsc commented on #965
Door number 3.

The motusTagIDs are different. That tells me these are ambiguous detections that resolve to two different tagIDs they should have an ambigID associated with them.

[2021-05-14 21:57] steffilazerte commented on #965
Aaaaaah, okay, good to know! thanks

[2021-05-14 21:57] #965 closed

[2021-05-15 12:15] j-sayers opened #966 "Make website warnings modals or popups to preserve user data entry"
I was just entering deployment details for a repaired station. After I entered everything and saved I got an error that there was an existing deployment for this receiver, but the error was presented on page reload and I lost everything I had just copied over from the previous deployment. Having to manually copy all details whenever a receiver is swapped will be a thing of the past once management

[2021-05-15 12:20] jsayers-bsc commented on #964
#947 is related to this. Seeing a question mark as the end date for every deployment -- even those from many years ago -- may suggest to some users that proper metadata upkeep requires them to always populate end dates (even anticipated end dates apparently)

[2021-05-15 12:39] jsayers-bsc commented on #947
To clarify, I was actually referring to the deployment date in the manage tags page, which currently shows a question mark for end date even if the tag End of Life date is in the past. If we auto-populate this field based on the estimated battery life that would clarify this whole process for many people

At the very least, I think we should indicate when the end of life date has passed and get ri

[2021-05-17 12:14] jsayers-bsc commented on #853
Some more tags to flag. Mostly clapper rails at a PUMA colony.

tag_deploy_id | sensor_deploy_id
-- | --
18148 | 4789
12085 | 4789
12086 | 4789
12088 | 4789
12090 | 4789
12091 | 4789
12099 | 4789
12102 | 4789
12228 | 4789
13064 | 4789
13065 | 4789
13067 | 4789
13069 | 4789
13072 | 4789
16121 | 4789
16123 | 4789
16125 | 4789
16127 | 4789
16129 | 4789
16130 | 4789
16131 | 4789
16136 | 4789
16139 | 4

[2021-05-17 17:16] cjardine-bsc commented on #947
Lets talk about this on Thursday. It's easy enough to pass the calculated end dates if that's what we decide we want.

[2021-05-17 18:43] cjardine-bsc commented on #853
Added. @jsayers-bsc If you have a moment can you look at the two previous notes from @leberrigan and @StuMackenzie? Those haven't been added yet.

[2021-05-17 19:07] leberrigan opened #967 "Project 415 - Missing Data"
Tag deployment [#30888](https://motus.org/data/tagDeployment?id=30888) was released adjacent to station [SG-9941RPI30396](https://motus.org/data/receiverDeployment?id=7709) but no detections exist in the [deployment timeline](https://motus.org/data/receiver/deployment/plot/?id=7709&n=100&firstTag=0).

Strangely, no recent data comes up for this receiver when I search for it in [sgdata](https://sgd

[2021-05-17 23:41] dfloer commented on #959
I did not change anything on this. Part of the cause seems to be a mismatch on sgdata.

[2021-05-18 16:01] jsayers-bsc opened #968 "Partial backlog of SensorStation data in Motus db"
A few projects, including us in Ontario, have noticed an apparent backlog of SS data coming into Motus. Many have no batches more recent than the 12th of May, though the most recent dates are spread over several days (the most recent for us is the 16th). However on the CTT portal these all seem to be connecting regularly. Other connected SS have up to date data. May be the same issue as #938 but i

[2021-05-18 17:32] j-sayers opened #969 "Batch in the Future (and some questions)"
Project 213 recently inquired about why one of their receivers has a "Last Data Date" in the future. This has been addressed before (#362 and #574), but I'm not sure if it's been completely resolved. This one looked a bit different, and brings up several general questions I have.

The source of the wonky date appears to be a single run of length 1 (runID 170764059). As it's clearly a faulty date i

[2021-05-18 17:37] denislepage commented on #968
Do you have specific examples of those that you think are behind? Any of the ones last updated on 12 May? I spot checked a few and I am not seeing any problem at our end other than no data coming (e.g. CTT-D7D11D3641CD), I will need to pass this to CTT, but I'd like to give them a specific list with a few serial numbers at least.

[2021-05-18 17:50] cjardine-bsc commented on #969
RE:  As it's clearly a faulty date it seems the best option here is simply to delete that run? Or is there a better method? The hit itself may well be legitimate as the tag is deployed and active around this receiver.

Its from a bad GPS timestamp. When this happens we update the end date of the batch. @Hussell did you want to look at this one?

This is not fully resolved in an elegant way. It's s

[2021-05-18 18:27] jsayers-bsc commented on #968
Yes, most of those registered to project 1 are still checking in regularly on the CTT portal. A couple examples are CTT-97FB9AB20E31, CTT-42446DCD0910, CTT-CDE43745B223, CTT-999F324263A2,
CTT-5665244BE876

________________________________
From: denislepage ***@***.***>
Sent: Tuesday, May 18, 2021 1:37:27 PM
To: MotusDev/Motus-TO-DO ***@***.***>
Cc: jsayers-bsc ***@***.***>; Author ***@***.***>
Sub

[2021-05-18 20:31] StuMackenzie opened #970 "Old Cut station only showing data to May 16 yet updated May 18"
The Old Cut station is only reporting tags up to May 16 yet active tags remain and all other things seem OK up to May 18?

https://motus.org/data/receiverDeploymentDetections?id=5317

[2021-05-18 20:45] jsayers-bsc commented on #970
There are no detections since the 16th, yet there doesn't appear to be anything wrong with the station. It's syncing, all antennas registering regular activity, GPS, raw data files on the server look fine. Just that the detections end a couple days ago. The obvious reason is that there no tags present, except that there is active tagging there still.

[2021-05-18 20:47] StuMackenzie commented on #970
Missing tags - 355 371 356 306 314 312

[2021-05-19 00:12] cjardine-bsc commented on #962
Hey, Hey, @pmorrill, @leberrigan
I don't like your old queries
Hey, Hey, @pmorrill, @leberrigan
I think you needed new ones
Hey, Hey, @pmorrill, @leberrigan
I created new queries

Annnnd now I have Avril Lavigne in my head. :D

Based on your table above, I've created the below queries in sandbox for you to start working with.

vwDashboard_stationDeps
vwDashboard_antennaDeps
vwDashboard_tagDeployme

[2021-05-19 12:54] leberrigan commented on #962
Thank you for that beautiful rendition.

1. Yes. Nested data is one reason why these objects may be better delivered as JSON rather than CSV.
2. Yes!
3. Yes, I'm using species code. I'm not all up in the know-how about these code authorities, but it seems like the 6-letter code is better for world-wide use and not just birds. In terms of groups, Denis and Stu had mentioned including taxonomic grou

[2021-05-19 13:04] pmorrill commented on #962
I am taking some days off this week to save sanity and get a few things done around this big property. And, I won't be on the call tomorrow because of a vaccine appointment.

However: I will be able to put the basic entrypoints into place by early next week.

[2021-05-19 15:38] ajmacdonald3 commented on #809
Project 213 has some new tags registered as NTQB2-4-2S that are actually NTQB2-4-2S-M tags. If I remember correctly, the -M means they're the new codeset? Does it matter that they were registered without the -M, and if so, can we update those tag registrations or do they need to re-register? I'm wondering if these will not match the automatic registrations from Lotek because of this.

[2021-05-19 19:09] StuMackenzie opened #971 "Station summaries only showing data from most recent deployment, not entire station history."
Via table view - eg. The Tip station - https://motus.org/data/receiverDeployment?id=7697

Only showing data since most recent deployment and nothing before.

And via the map.

The Tip station has been active since 2014. BSC HQ 2014/2015, yet only the most recent data is being displayed.

[2021-05-19 19:34] jsayers-bsc commented on #970
FYI Jeremy, I was at the site yesterday, confirming it's working and collecting and confirmed it's recognizing the tags that are present locally.

[2021-05-19 21:27] Hussell commented on #970
Rerunning made it worse: hits from boot number 587 disappeared. File repo is intact, file permissions seem to be good, file sizes and contents look normal, but the tag finder is finding nothing. Metadata looks up-to-date. I'm not sure what changed.

[2021-05-19 22:07] cjardine-bsc commented on #970
What project are these tags in? Or do you have motus tag_ids for them?

[2021-05-19 22:22] StuMackenzie commented on #970
Project 20 Gugli.

I can activate other tags from another project and see if they’re being detected.

This problem is threat level orange!

Stu

____________________

[2021-05-19 22:28] cjardine-bsc commented on #970
tag_ids for our reference:

id	project_id	mfg_id	date_bin	type	codeset
52942	20	306	2021-2	ID	Lotek6M
52948	20	312	2021-2	ID	Lotek6M
52950	20	314	2021-2	ID	Lotek6M
52951	20	355	2021-2	ID	Lotek6M
52952	20	356	2021-2	ID	Lotek6M
52967	20	371	2021-2	ID	Lotek6M

@Hussell Note codeset.

I currently have no idea what it could be. I'll look at the deprecated batch in Sandbox.

[2021-05-19 22:31] StuMackenzie commented on #970
I’d include all 2021 tags from this set. Tags that were being detected stopped being detected and new tags aren’t being detected.

I hope beyond all hopes that this is an isolated issue.

____________________

[2021-05-19 22:37] cjardine-bsc commented on #970
I think it is isolated....

I looked at the data coming in. We have ~900 SG taghits_daily records from May 14-16 and ~1000 from May 16-18. So tagfinder didn't just stop.

Not that that helps anything except our immediate sanity.

[2021-05-19 22:39] StuMackenzie commented on #970
The most important question I have now is, whether we should halt tagging, or will the data be ok once we sort out the issue.

____________________

[2021-05-19 22:41] leberrigan commented on #967
Can we have this station data reprocessed? It is a European station that was recently installed so perhaps we're just seeing the same issue where it is being processed under the wrong frequency?

[2021-05-19 22:42] cjardine-bsc commented on #970
I don't have an answer to that excellent question yet. I'll look into what I can. But if Jeremy says the metadata is fine then this is something buried in the bowels of tagfinder.

[2021-05-19 22:53] StuMackenzie commented on #970
I think number one priority is to figure out whether the problem is isolated to old cut or happening elsewhere. Can anyone think of scour for stations that have had data successfully run since May 16 shortly after midnight when this bug was introduced at Old Cur? Doing the same.

Best case scenario it’s restricted to old cut.

S

____________________

[2021-05-19 22:54] cjardine-bsc commented on #970
Like I said, the amount of data coming in for the last two days has gone up from the previous two. So I don't think this is a wide spread issue.

"I looked at the data coming in. We have ~900 SG taghits_daily records from May 14-16 and ~1000 from May 16-18. So tagfinder didn't just stop."

[2021-05-19 23:02] StuMackenzie commented on #970
Another station at Powdermill stopped detecting tags May 12 - Project 35 - station PARC Banding ID7684 stopped recording tags May 12.

Tags were from project 416 and 246
____________________

[2021-05-19 23:10] StuMackenzie commented on #970
Nix that. The Powdermill issue was the May 12 CTT bug.

Onto our May 16 Motus bug.

____________________

[2021-05-19 23:11] Hussell commented on #970
I can confirm that many stations are still seeing new detections, both by manual upload and through the automatic hourly uploads. PARC Banding (CTT-CB9A196520E9) hasn't had any new data uploaded since the 12th, so that's not the same problem.

The data files from Old Cut look normal, so I think if once this is figured out, nothing will have been lost.

[2021-05-19 23:19] cjardine-bsc commented on #970
@hussell the problem is not the codeset. Tag_is 46839 is lotek4 and was detected in batchID 2382497 but not in your rerun batch 2398325

I agree the tag metadata looks fine.

Unhelpful...

[2021-05-20 02:06] denislepage commented on #968
CTT said they had a glitch, which is now fixed, and data should be moving again. We should double check again tomorrow. I haven't looked yet, but they may already be there.

[2021-05-20 11:56] leberrigan opened #972 "Prompt users to update when Motus R Package is out of date"
Package version 4.0.3 throws and error when downloading receiver data:
[code]
Updating the package to 4.0.6 fixed the problem. Most users would likely not think to update the package at first so perhaps we could save some time (and emails) if we build in a prompt telling users to update when running functions like tagme?

[2021-05-20 14:09] Hussell commented on #967
It's an entirely new European project, so the parameter override wasn't in place. That's done, and I've rerun the receiver (detections showed up), and checked that they don't have any other receivers.

[2021-05-20 14:09] #967 closed

[2021-05-20 14:52] pmorrill commented on #947
Agreed. And it is also possible to post expired end dates on the mgmt tools, once relevant.

[2021-05-20 15:03] Hussell commented on #969
This is interesting because the source of the run and batch is CTT, not our tag finder. I'm not sure whether I should add a filter to the "Last data received" query to only look at batches from our tag finder, or if we need to figure out how to deal with bad timestamps from CTT as well.

[2021-05-20 15:08] Hussell commented on #971
That is not a station summary. It is a deployment summary.